.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 101;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $spacer-gutter 2*$spacer-gutter;
    background: $white;
    width: 380px;
    max-width: 100%;

    overflow-y: auto;

    transform: translateX(380px);
    transition: .5s;

    &__title{
        flex-grow: 0;

        @extend .h5;
        margin-top: 0;
    }
    &__close{
        flex-grow: 0;

        display: inline-flex;
        width: 46px;

        font-size: 11px;
        line-height: 13px;
        white-space: nowrap;

        color: $grey;
        border-bottom: 1px dashed $grey;
        
        padding-bottom: 2px;
        margin-bottom: $spacer/2;

        position: relative;
        cursor: pointer;
        transition: .3s;
        
        &:hover{
            color: $action;
            border-color: $action;
        }

        &:after{
            content: '';
            display: block;

            width: 14px;
            height: 14px;
            background: url("../icon/icon-close.svg") no-repeat center/contain;

            position: absolute;
            top: calc(50% - 8px);
            right: -20px;
        }
    }
    &__content{
        flex-grow: 2;
    }
    &__secondary{
        margin-top: $spacer/2;
        margin-bottom: $spacer/2;
        margin-left: -(2*$spacer-gutter);
        margin-right: -(2*$spacer-gutter);

        background-color: $light-bg;
        padding: 10px 2*$spacer-gutter;
    }
    &__networks{
        display: flex;
        flex-wrap: wrap;

        &-item{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    &__nav{
        justify-content: center;
    }
    // Modificate
    &_cart{
        width: 500px;
        transform: translateX(500px);  
    }
    &_nav{
        background-color: $lightest-bg;
        padding-left: 0;
        padding-right: 0;
        
        width: 100%;
        transform: translateX(100%);

        &__close{
            padding: 0 $spacer-gutter;
        }
    }
    &_filters{
        left: 0;
        right: auto;
        transform: translateX(-380px);
    }
    // Status Sidebar
    &--active{
        transform: translateX(0);
    }
}


// 440px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .sidebar{
        padding: $spacer-gutter;
    }
}