.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 101;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $spacer-gutter 2*$spacer-gutter;
    background: $white;
    width: 380px;
    max-width: 90%;

    overflow-y: auto;

    transform: translateX(380px);
    transition: .5s;

    &__title{
        flex-grow: 0;

        @extend .h5;
        margin-top: 0;
    }
    &__close{
        flex-grow: 0;

        display: inline-flex;
        // width: 64px;
        padding-left: 20px;

        font-size: 11px;
        line-height: 13px;
        white-space: nowrap;
        text-transform: uppercase;

        color: $grey;
        // border-bottom: 1px dashed $grey;
        
        padding-bottom: 2px;
        margin-bottom: $spacer/2;

        position: relative;
        cursor: pointer;
        transition: .3s;

        &:after{
            content: '';
            display: block;

            width: 14px;
            height: 14px;
            background: url("../icon/icon-close.svg") no-repeat center/8px;

            position: absolute;
            top: calc(50% - 8px);
            left: 0;
        }

        &:hover{
            color: $action;
            border-color: $action;

            &:after{
                filter: opacity(.5);
            }
        }
        
        &_right{
            // margin-left: auto;
            text-align: right;
            justify-content: flex-end;

            padding-right: 20px;
            padding-left: 0;

            &:after{
                left: auto;
                right: 0;
            }
        }
    }
    &__content{
        flex-grow: 2;
    }
    
    // &__networks{
    //     display: flex;
    //     flex-wrap: wrap;

    //     &-item{
    //         flex: 0 0 50%;
    //         max-width: 50%;
    //     }
    // }
    &__nav{
        padding-top: $spacer-gutter;
        justify-content: center;
    }
    // &__secondary {
    //     margin-top: 25px;
    //     margin-bottom: 25px;
    //     margin-left: -30px;
    //     margin-right: -30px;
    //     background-color: #f4f4f4;
    //     padding: 10px 30px;
    // }
    &__footer{
        padding-top: map-get($map: $spacers, $key: 2);

        &-line{
            margin-bottom: 6px;
        }
    }
    // Modificate
    &_cart{
        width: 500px;
        transform: translateX(500px);  
    }
    &_nav{
        background-color: $lightest-bg;
        padding-left: 0;
        padding-right: 0;
        
        width: 100%;
        transform: translateX(100%);

        &__close{
            padding: 0 $spacer-gutter;
        }
    }
    &_filters{
        left: 0;
        right: auto;
        transform: translateX(-380px);
    }
    // Status Sidebar
    &--active{
        transform: translateX(0);
    }
}


// 440px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .sidebar{
        padding: $spacer-gutter;
    }
}