.dialog{
    display: none;

    position: absolute;
    z-index: 99;

    padding: 10px $spacer-gutter;
    background: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    transition: .4s;

    &__true{
        font-weight: $font-weight-bold;
        line-height: 1;
        white-space: nowrap;

        padding: 4px 10px 5px;
        border: 1px solid $border-color;
        color: $white;
        background-color: $action;
        border-radius: $spacer-gutter;

        transition: .3s;

        &:hover{
            color: $white;
            background-color: lighten($color: $action, $amount: 6);
            text-decoration: none;
        }
    }
    &__false{
        font-weight: $font-weight-bold;
        line-height: 1;
        white-space: nowrap;

        padding: 4px 10px 5px;
        border: 1px solid $border-color;
        background-color: $light-bg;
        border-radius: $spacer-gutter;

        transition: .3s;

        &:hover{
            color: $dark-grey;
            background-color: $light-grey;
            text-decoration: none;
        }
    }

    &__content{
        transition: .4s;
    }
    &__title{
        font-size: map-get($map: $font-size, $key: lg);
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;

        margin-bottom: $spacer-gutter;
    }
    &__close{
        cursor: pointer;
    }
    &--active{
        display: block;
    }
    &--toggle{
        width: auto!important;
    }
    &--open-sidebar{
        z-index: 81;
    }
}