.cart{
    &__steps{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &-icon{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
        }
        &-item{
            position: relative;
            font-size: map-get($map: $font-size, $key: xs);
            padding-left: $spacer/2;
            padding-right: $spacer;

            filter: opacity(.5);

            &--active{
                filter: opacity(1);
            }
        }
    }
    &__alert{
        background: $light-bg;
        border-radius: $border-radius;
        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    }
    &__block{
        display: flex;
        flex-wrap: wrap;

        padding: $spacer/2;
        border-radius: $border-radius;
        border: 1px solid $border-color;

        &-title{
            flex: 1 0 200px;
            max-width: 200px;
        }
        &-content{
            flex: 2 0 calc(100% - 200px);
            max-width: calc(100% - 200px);

            padding-left: $spacer;
        }
    }
    // Input's Style
    &__input-field{
        & + .cart__input-info{
            padding-left: 24px;
            margin-top: 10px;
        }
    }
    // Order
    &__order-details{
        position: relative;

        display: grid;
        grid-gap: map-get($map: $spacers, $key: 1);  
        grid-template-columns: 150px 1fr;

        text-align: left;
        border-radius: $border-radius;
        border: 1px solid $border-color;

        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        background: $lightest-bg;

        margin-bottom: 5px;

        &:last-child{
            margin-bottom: 0;
        }
    }
    &__order-icon{
        position: absolute;
        right: -10px;
        top: -10px;
    }
    // Buttons
    &__btn-group{
        display: flex;
        justify-content: flex-end;    
    }
    &__btn-prev{
        flex: 0 0 200px;
        max-width: 50%;

        filter: opacity(.6);
        transition: .3s;

        padding-right: $spacer-gutter/2;

        &:hover{
            filter: opacity(1);
        }
    }
    &__btn-next{
        flex: 0 0 200px;
        max-width: 50%;
        
        padding-left: $spacer-gutter/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .cart{
        &__block{
            &-title{
                flex: 0 0 100%;
                max-width: 100%;

                margin-bottom: map-get($map: $spacers, $key: 2);
            }
            &-content{
                flex: 0 0 100%;
                max-width: 100%;
    
                padding-left: 0;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cart{
        &__block{
            &-title{
                flex: 1 0 200px;
                max-width: 200px;
                margin-bottom: map-get($map: $spacers, $key: 0);
            }
            &-content{
                flex: 2 0 calc(100% - 200px);
                max-width: calc(100% - 200px);
    
                padding-left: $spacer/2;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cart{
        &__steps{
            &-item{
                padding-right: $spacer/2;
                margin-bottom: 8px;
            }
        }
        &__block{
            &-title{
                flex: 0 0 100%;
                max-width: 100%;

                margin-bottom: map-get($map: $spacers, $key: 2);
            }
            &-content{
                flex: 0 0 100%;
                max-width: 100%;
    
                padding-left: 0;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .cart{
        &__btn-group{
            flex-wrap: wrap;
        }
        &__btn-prev{
            flex: 0 0 100%;
            max-width: 100%;
    
            padding-right: 0;
            padding-bottom: $spacer-gutter/2;
        }
        &__btn-next{
            flex: 0 0 100%;
            max-width: 100%;
            
            padding-left: 0;
        }
    }
}