.content-with-image{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__image{
        flex: 0 0 45%;
        max-width: 45%;
    }
    &__content{
        flex: 0 0 55%;
        max-width: 55%;
        transform: translateX(-10%);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .content-with-image{
        display: block;

        &__image{
            display: none;
        }
        &__content{
            max-width: 100%;
            transform: none;
        }
    }
}