.networks{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__icon{
        fill: $dark-grey;
        transition: .3s;
    }
    &__title{
        font-size: 11px;
        font-weight: $font-weight-bolder;
        padding: 0 $spacer-gutter;
        text-transform: uppercase;

        &--small{
            font-size: 9px;
        }
    }

    &:hover{
        text-decoration: none;
        
        .networks__icon{
            fill: $action;
        }
    }
}