*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(58, 58, 58, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Golos", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #3A3A3A;
  text-align: left;
  background: #EBE7E4;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 500;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #3A3A3A;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #DD0330;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #242424;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button {
  border-radius: 0;
  outline: none;
  border: none;
  background: inherit;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5em;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.img-fluid {
  max-width: 100%;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
  border-radius: 6px;
  background: no-repeat center / cover;
  min-height: 420px;
  overflow: hidden;
}

.banner__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16.66667px;
  position: relative;
  z-index: 2;
}

.banner__intro {
  position: relative;
  z-index: 2;
}

.banner__content {
  position: relative;
  z-index: 2;
}

.banner_content-center {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-center .banner__intro {
  width: 340px;
  max-width: 100%;
  margin: 0 auto;
}

.banner_content-left {
  text-align: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-left .banner__intro {
  width: 480px;
  max-width: 100%;
}

@media all and (max-width: 1024px) {
  .banner {
    padding: 50px 50px;
  }
}

@media all and (max-width: 768px) {
  .banner {
    padding: 50px;
  }
}

@media all and (max-width: 576px) {
  .banner {
    position: relative;
    padding: 50px 25px;
    min-height: 1px;
    background-position-x: right;
  }
  .banner:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FCFBFA;
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
  }
  .banner__title {
    font-size: 28px;
  }
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 75px;
  background-color: #FCFBFA;
  border-radius: 6px;
}

.banner-intro__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  padding-right: 50px;
}

.banner-intro__image-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.banner-intro__label {
  font-size: 38px;
  line-height: 32px;
  margin-bottom: 12.5px;
}

.banner-intro__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.banner-intro__image {
  border-radius: 6px;
  border: 1px solid #DD0330;
}

@media all and (max-width: 1440px) {
  .banner-intro {
    padding: 50px;
  }
}

@media all and (max-width: 1024px) {
  .banner-intro__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding-right: 25px;
  }
  .banner-intro__image-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
}

@media all and (max-width: 768px) {
  .banner-intro__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 25px;
  }
  .banner-intro__image-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .banner-intro {
    padding: 25px;
  }
}
