.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
  border-radius: 6px;
  position: relative;
  min-height: 420px;
  overflow: hidden;
}

.banner__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16.66667px;
  position: relative;
  z-index: 2;
}

.banner__intro {
  position: relative;
  z-index: 2;
}

.banner__content {
  position: relative;
  z-index: 2;
}

.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center / cover;
}

.banner__image_mobile {
  display: none;
}

.banner_content-center {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-center .banner__intro {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
}

.banner_content-left {
  text-align: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-left .banner__intro {
  width: 480px;
  max-width: 100%;
}

.banner_small {
  padding: 15px 25px;
}

@media all and (max-width: 1024px) {
  .banner {
    padding: 50px 50px;
  }
}

@media all and (max-width: 768px) {
  .banner {
    padding: 50px;
  }
}

@media all and (max-width: 576px) {
  .banner {
    position: relative;
    padding: 50px 25px;
    min-height: 1px;
    background-position-x: right;
  }
  .banner__title {
    font-size: 28px;
  }
}

.banner_sales {
  background-color: #DD0330;
  color: #ffffff;
  min-height: 1px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner_sales a:not(.btn) {
  color: #ffffff;
}

.banner_sales a:not(.btn):hover, .banner_sales a:not(.btn):focus {
  color: #FCFBFA;
}

.banner_category {
  min-height: 360px;
}

.banner_category__title {
  font-size: 32px;
}

.banner-promo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 10px 40px;
  padding-right: 60px;
  margin: 0 auto;
  color: #ffffff;
  background: url("../icon/brush-bg.svg") no-repeat center/contain;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.banner-promo__content {
  padding-left: 25px;
  padding-right: 25px;
}

.banner-promo__link {
  text-transform: uppercase;
  color: #ffffff;
}

.banner-promo__link:hover, .banner-promo__link:focus {
  color: #FCFBFA;
}

.banner-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 75px;
  background-color: #FCFBFA;
  border-radius: 6px;
}

.banner-intro__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
  padding-right: 50px;
}

.banner-intro__image-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.banner-intro__label {
  font-size: 38px;
  line-height: 32px;
  margin-bottom: 12.5px;
}

.banner-intro__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.banner-intro__image {
  border-radius: 6px;
  border: 1px solid #DD0330;
}

@media all and (max-width: 1440px) {
  .banner-intro {
    padding: 50px;
  }
}

@media all and (max-width: 1024px) {
  .banner-intro__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding-right: 25px;
  }
  .banner-intro__image-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
}

@media all and (max-width: 768px) {
  .banner-intro__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 25px;
  }
  .banner-intro__image-block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .banner-intro {
    padding: 25px;
  }
}
