.slider:not(.owl-loaded) {
  display: grid;
}

.slider.owl-loaded {
  position: relative;
}

.slider.owl-loaded .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav [class*=owl-] {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #EBE7E4;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-nav [class*=owl-] > span {
  display: none;
}

.slider.owl-loaded .owl-nav [class*=owl-]:hover, .slider.owl-loaded .owl-nav [class*=owl-]:focus {
  outline: none;
}

.slider.owl-loaded .owl-nav .owl-prev {
  left: 25px;
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-prev:hover {
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-prev.disabled {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav .owl-next {
  right: 25px;
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-next:hover {
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-next.disabled {
  opacity: 0;
}

.slider.owl-loaded .owl-dots {
  margin-top: 15px;
}

.slider.owl-loaded .owl-dots .owl-dot {
  border: 1px solid #EBE7E4;
  border-radius: 2px;
  padding: 3px !important;
  margin: 2px 6px;
}

.slider.owl-loaded .owl-dots .owl-dot span {
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-dots .owl-dot:hover, .slider.owl-loaded .owl-dots .owl-dot:focus {
  outline: none;
}

.slider.owl-loaded .owl-dots .owl-dot:hover span, .slider.owl-loaded .owl-dots .owl-dot:focus span {
  background: #666666;
}

.slider.owl-loaded .owl-dots .owl-dot.active span {
  background: #DD0330;
}

.slider.owl-loaded:hover, .slider.owl-loaded:focus {
  outline: none;
}

.slider.owl-loaded:hover .owl-nav, .slider.owl-loaded:focus .owl-nav {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded:hover .owl-nav [class*=owl-], .slider.owl-loaded:focus .owl-nav [class*=owl-] {
  position: absolute;
}

.slider-container--active {
  margin-right: -50px;
  margin-left: -50px;
}

.slider_subcategory:not(.owl-loaded) {
  grid-gap: 25px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.preview {
  display: block;
  width: 100%;
}

.preview__image {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 6px;
  background: no-repeat center / cover;
}

.preview__image:before {
  content: '';
  display: block;
  width: 100%;
}

.preview__image:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background: url("../icon/loader.gif") no-repeat center/contain;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview__image.b-lazy:not(.b-loaded):after {
  opacity: 1;
}

.preview__title {
  font-size: 13px;
  font-weight: 700;
  padding-left: 6px;
  margin-bottom: 0;
  color: #3A3A3A;
}

.preview__tag {
  font-size: 11px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #666666;
}

.preview__intro {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #666666;
}

.preview__link {
  font-size: 13px;
  font-weight: 700;
  color: #DD0330;
  text-decoration: underline;
}

.preview__link:hover, .preview__link:focus {
  color: #ab0225;
  text-decoration: none;
}

a.preview .preview__title {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

a.preview:hover {
  text-decoration: none;
}

a.preview:hover .preview__title {
  color: #DD0330;
}

.preview_subcategory {
  text-align: center;
}

.preview_subcategory__image {
  border: 1px solid #EBE7E4;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview_subcategory__image:before {
  padding-bottom: 100%;
}

.preview_subcategory__title {
  padding: 0 15px;
}

.preview_subcategory:hover .preview_subcategory__image {
  border-color: #DD0330;
}

.product {
  position: relative;
  padding-bottom: 25px;
}

.product__image-block {
  display: block;
  position: relative;
  margin-bottom: 25px;
}

.product__image-block:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 150%;
}

.product__image-block.loading {
  background: #ebe7e4 url("../icon/loader.gif") no-repeat center/40px;
}

.product__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  border-radius: 6px;
  background: no-repeat center / cover;
  z-index: 2;
}

.product__image_hover {
  z-index: 1;
}

.product__image:hover, .product__image:focus {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.product__status {
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: capitalize;
  font-size: 28px;
  line-height: 1.1;
  z-index: 3;
}

.product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 6.25px;
  line-height: 18px;
  height: 24px;
}

.product__price-old {
  display: inline-block;
  text-decoration: line-through;
}

.product__price-old + .product__price-new {
  color: #DD0330;
  margin-left: 4px;
}

.product__price-new {
  display: inline-block;
  font-weight: 700;
}

.product__label {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #DD0330;
}

.filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filters__tags {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
}

.filters__icon {
  margin-right: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.filters__category {
  font-size: 13px;
  padding-right: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.filters__category:hover {
  color: #666666;
}

.filters__category:hover .filters__icon {
  fill: #666666;
}

.filters__item {
  font-size: 13px;
  padding-right: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.filters__item:hover {
  color: #666666;
}

.filters__item:hover .filters__icon {
  fill: #666666;
}

.filters__info {
  font-size: 13px;
  line-height: 1.2;
  color: #666666;
}

.filters__info-item {
  margin-left: 25px;
}

.faq {
  display: block;
  padding: 16.66667px 25px;
  border: 1px solid #EBE7E4;
  border-radius: 6px;
  margin-bottom: 15px;
}

.faq:last-child {
  margin-bottom: 0;
}

.faq__title {
  position: relative;
  display: block;
  color: #3A3A3A;
}

.faq__title:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../icon/arrow-right.svg") no-repeat center/contain;
}

.faq__title:focus {
  color: #3A3A3A;
}

.faq__title_has-icon {
  padding-left: 30px;
}

.faq__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: auto;
}

.faq__content {
  display: none;
  padding: 15px 0 0;
}
