.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px;
  border-radius: 6px;
  position: relative;
  min-height: 420px;
  overflow: hidden;
}

.banner__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16.66667px;
  position: relative;
  z-index: 2;
}

.banner__intro {
  position: relative;
  z-index: 2;
}

.banner__content {
  position: relative;
  z-index: 2;
}

.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center / cover;
}

.banner__image_mobile {
  display: none;
}

.banner_content-center {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-center .banner__intro {
  width: 340px;
  max-width: 100%;
  margin: 0 auto;
}

.banner_content-left {
  text-align: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner_content-left .banner__intro {
  width: 480px;
  max-width: 100%;
}

@media all and (max-width: 1024px) {
  .banner {
    padding: 50px 50px;
  }
}

@media all and (max-width: 768px) {
  .banner {
    padding: 50px;
  }
}

@media all and (max-width: 576px) {
  .banner {
    position: relative;
    padding: 50px 25px;
    min-height: 1px;
    background-position-x: right;
  }
  .banner__title {
    font-size: 28px;
  }
}

.banner-promo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 10px 40px;
  padding-right: 60px;
  margin: 0 auto;
  color: #ffffff;
  background: url("../icon/brush-bg.svg") no-repeat center/contain;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.banner-promo__content {
  padding-left: 25px;
  padding-right: 25px;
}

.banner-promo__link {
  text-transform: uppercase;
  color: #ffffff;
}

.banner-promo__link:hover, .banner-promo__link:focus {
  color: #FCFBFA;
}

.slider:not(.owl-loaded) {
  display: grid;
}

.slider.owl-loaded {
  position: relative;
}

.slider.owl-loaded .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav [class*=owl-] {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #EBE7E4;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-nav [class*=owl-] > span {
  display: none;
}

.slider.owl-loaded .owl-nav [class*=owl-]:hover, .slider.owl-loaded .owl-nav [class*=owl-]:focus {
  outline: none;
}

.slider.owl-loaded .owl-nav .owl-prev {
  left: 25px;
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-prev:hover {
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-prev.disabled {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav .owl-next {
  right: 25px;
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-next:hover {
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-next.disabled {
  opacity: 0;
}

.slider.owl-loaded .owl-dots {
  margin-top: 15px;
}

.slider.owl-loaded .owl-dots .owl-dot {
  border: 1px solid #EBE7E4;
  border-radius: 2px;
  padding: 3px !important;
  margin: 2px 6px;
}

.slider.owl-loaded .owl-dots .owl-dot span {
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-dots .owl-dot:hover, .slider.owl-loaded .owl-dots .owl-dot:focus {
  outline: none;
}

.slider.owl-loaded .owl-dots .owl-dot:hover span, .slider.owl-loaded .owl-dots .owl-dot:focus span {
  background: #666666;
}

.slider.owl-loaded .owl-dots .owl-dot.active span {
  background: #DD0330;
}

.slider.owl-loaded:hover, .slider.owl-loaded:focus {
  outline: none;
}

.slider.owl-loaded:hover .owl-nav, .slider.owl-loaded:focus .owl-nav {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded:hover .owl-nav [class*=owl-], .slider.owl-loaded:focus .owl-nav [class*=owl-] {
  position: absolute;
}

.slider-container--active {
  margin-right: -50px;
  margin-left: -50px;
}

.slider_subcategory:not(.owl-loaded) {
  grid-gap: 25px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.slider_tags:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.slider_category:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.slider_promo:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.preview {
  display: block;
  width: 100%;
}

.preview__image {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 6px;
  background: no-repeat center / cover;
}

.preview__image:before {
  content: '';
  display: block;
  width: 100%;
}

.preview__image:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background: url("../icon/loader.gif") no-repeat center/contain;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview__image.b-lazy:not(.b-loaded):after {
  opacity: 1;
}

.preview__title {
  font-size: 13px;
  font-weight: 700;
  padding-left: 6px;
  margin-bottom: 0;
  color: #3A3A3A;
}

.preview__tag {
  font-size: 11px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #666666;
}

.preview__intro {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 15px;
  color: #666666;
}

.preview__link {
  font-size: 13px;
  font-weight: 700;
  color: #DD0330;
  text-decoration: underline;
}

.preview__link:hover, .preview__link:focus {
  color: #ab0225;
  text-decoration: none;
}

a.preview .preview__title {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

a.preview:hover {
  text-decoration: none;
}

a.preview:hover .preview__title {
  color: #DD0330;
}

.preview_subcategory {
  text-align: center;
}

.preview_subcategory__image {
  border: 1px solid #EBE7E4;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview_subcategory__image:before {
  padding-bottom: 100%;
}

.preview_subcategory__title {
  padding: 0 15px;
}

.preview_subcategory:hover .preview_subcategory__image {
  border-color: #DD0330;
}

.preview_slider-tags {
  text-align: center;
}

.preview_slider-tags__image {
  border: 1px solid #EBE7E4;
  margin-bottom: 15px;
}

.preview_slider-tags__image:before {
  padding-bottom: 100%;
}

.preview_slider-tags__title {
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}

.preview_category {
  text-align: center;
}

.preview_category__image {
  margin-bottom: 25px;
}

.preview_category__image:before {
  padding-bottom: 100%;
}

.preview_category__title {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.preview_promo__image {
  margin-bottom: 15px;
}

.preview_promo__image:before {
  padding-bottom: 120%;
}

.preview_promo__title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.preview_blog {
  display: grid;
  grid-gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 120px 1fr;
}

.preview_blog__image {
  margin-right: 15px;
}

.preview_blog__image:before {
  padding-bottom: 100%;
}

.preview_blog__title {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 12.5px;
  padding: 0;
}

.product-grid {
  display: grid;
  grid-gap: 25px;
}

.product-grid_lg {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.product-grid_sm {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.product {
  position: relative;
  padding-bottom: 25px;
}

.product__image-block {
  display: block;
  position: relative;
  margin-bottom: 25px;
}

.product__image-block:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 150%;
}

.product__image-block.loading {
  background: #ebe7e4 url("../icon/loader.gif") no-repeat center/40px;
}

.product__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  border-radius: 6px;
  background: no-repeat center / cover;
  z-index: 2;
}

.product__image_hover {
  z-index: 1;
}

.product__image:hover, .product__image:focus {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.product__status {
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: capitalize;
  font-size: 28px;
  line-height: 1.1;
  z-index: 3;
}

.product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 6.25px;
  line-height: 18px;
  height: 24px;
}

.product__price-old {
  display: inline-block;
  text-decoration: line-through;
}

.product__price-old + .product__price-new {
  color: #DD0330;
  margin-left: 4px;
}

.product__price-new {
  display: inline-block;
  font-weight: 700;
}

.product__label {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #DD0330;
}

.product_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product_small__image {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  max-width: 120px;
  margin-right: 15px;
  border-radius: 6px;
  background: #ebe7e4 no-repeat center / contain;
}

.product_small__image:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.product_small__content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.product_small__status {
  position: absolute;
  top: 0;
  left: 135px;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.1;
}

.content-with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-with-image__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}

.content-with-image__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}

.faq {
  display: block;
  padding: 16.66667px 25px;
  border: 1px solid #EBE7E4;
  border-radius: 6px;
  margin-bottom: 15px;
}

.faq:last-child {
  margin-bottom: 0;
}

.faq__title {
  position: relative;
  display: block;
  color: #3A3A3A;
}

.faq__title:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../icon/arrow-right.svg") no-repeat center/contain;
}

.faq__title:focus {
  color: #3A3A3A;
}

.faq__title_has-icon {
  padding-left: 30px;
}

.faq__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: auto;
}

.faq__content {
  display: none;
  padding: 15px 0 0;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: auto;
}

.tabs__item {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  padding: 4px 10px;
  border: 1px solid #EBE7E4;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__item:hover, .tabs__item:focus {
  text-decoration: none;
  background-color: #f7f5f4;
}

.tabs__item--active {
  background-color: #DD0330;
  color: #ffffff;
  border-color: #EBE7E4;
}

.tabs__item--active:hover, .tabs__item--active:focus {
  border-color: #EBE7E4;
  cursor: default;
}
