.nav {
  font-size: 13px;
}

.nav__parent {
  font-weight: 700;
  line-height: 1.2;
}

.nav__children {
  margin-top: 10px;
  margin-left: 15px;
}

.nav__link {
  display: block;
  margin-bottom: 5px;
}

.filter-row {
  font-size: 13px;
}

.filter-row__title {
  position: relative;
  padding-right: 15px;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.filter-row__title:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  background: url("../icon/plus.svg") no-repeat center/contain;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.filter-row__title:hover, .filter-row__title:focus {
  color: #DD0330;
}

.filter-row__title:hover:after, .filter-row__title:focus:after {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.filter-row__title--active:after {
  background: url("../icon/minus.svg") no-repeat center/contain;
}

.filter-row__content {
  display: none;
  padding: 15px 0;
}
