.slider:not(.owl-loaded) {
  display: grid;
}

.slider.owl-loaded {
  position: relative;
}

.slider.owl-loaded .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav [class*=owl-] {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #EBE7E4;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-nav [class*=owl-] > span {
  display: none;
}

.slider.owl-loaded .owl-nav [class*=owl-]:hover, .slider.owl-loaded .owl-nav [class*=owl-]:focus {
  outline: none;
}

.slider.owl-loaded .owl-nav .owl-prev {
  left: 25px;
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-prev:hover {
  background: #ffffff url("../icon/arrow-left.svg") no-repeat center/8px;
  background-position-x: calc(50% - 2px);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-prev.disabled {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.slider.owl-loaded .owl-nav .owl-next {
  right: 25px;
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.slider.owl-loaded .owl-nav .owl-next:hover {
  background: #ffffff url("../icon/arrow-right.svg") no-repeat center/8px;
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded .owl-nav .owl-next.disabled {
  opacity: 0;
}

.slider.owl-loaded .owl-dots {
  margin-top: 15px;
}

.slider.owl-loaded .owl-dots .owl-dot {
  border: 1px solid #EBE7E4;
  border-radius: 2px;
  padding: 3px !important;
  margin: 2px 6px;
}

.slider.owl-loaded .owl-dots .owl-dot span {
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #ffffff;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.slider.owl-loaded .owl-dots .owl-dot:hover, .slider.owl-loaded .owl-dots .owl-dot:focus {
  outline: none;
}

.slider.owl-loaded .owl-dots .owl-dot:hover span, .slider.owl-loaded .owl-dots .owl-dot:focus span {
  background: #666666;
}

.slider.owl-loaded .owl-dots .owl-dot.active span {
  background: #DD0330;
}

.slider.owl-loaded:hover, .slider.owl-loaded:focus {
  outline: none;
}

.slider.owl-loaded:hover .owl-nav, .slider.owl-loaded:focus .owl-nav {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.slider.owl-loaded:hover .owl-nav [class*=owl-], .slider.owl-loaded:focus .owl-nav [class*=owl-] {
  position: absolute;
}

.slider-container--active {
  margin-right: -50px;
  margin-left: -50px;
}

.slider_subcategory:not(.owl-loaded) {
  grid-gap: 25px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.slider_tags:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.slider_category:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.slider_promo:not(.owl-loaded) {
  grid-gap: 15px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
