.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -4px;
}

.tags__link {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  padding: 4px 10px;
  border: 1px solid #EBE7E4;
  border-radius: 15px;
  margin: 4px;
}

.tags__link:hover, .tags__link:focus {
  text-decoration: none;
  border-color: #DD0330;
}

.tags__link_category {
  background-color: #f7f5f4;
}

.tags__link_category:hover, .tags__link_category:focus {
  background-color: #ffffff;
}

.tags__link_disabled {
  background-color: #f7f5f4;
}

.tags__link_disabled:hover, .tags__link_disabled:focus {
  border-color: #EBE7E4;
}

.tags-row {
  padding: 25px;
  background-color: #f7f5f4;
}

.tags-row__title {
  font-size: 11px;
  font-weight: 700;
  color: #DD0330;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tags-row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -5px;
}

.tags-row__items.active .tags-row__link:nth-child(n+14) {
  display: inline-block;
}

.tags-row__link {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  margin: 5px;
}

.tags-row__link:before {
  content: '#';
}

.tags-row__link:nth-child(n+14) {
  display: none;
}

.tags-row__show {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  margin: 0 5px;
  padding: 3px 8px;
  color: #ffffff;
  background-color: #DD0330;
  border: 1px solid #DD0330;
  border-radius: 15px;
}

.tags-row__show:hover, .tags-row__show:focus {
  color: #ffffff;
  background-color: #bf0329;
  text-decoration: none;
}

.tags-row_inside-page {
  padding: 0;
  background: inherit;
}

.tags-row_inside-page .tags-row__link:nth-child(n+14) {
  display: inline-block;
}
