.tags-row {
  padding: 25px;
  background-color: #f7f5f4;
}

.tags-row__title {
  font-size: 11px;
  font-weight: 700;
  color: #DD0330;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tags-row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -5px;
}

.tags-row__items.active .tags-row__link:nth-child(n+14) {
  display: inline-block;
}

.tags-row__link {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  margin: 5px;
}

.tags-row__link:before {
  content: '#';
}

.tags-row__link:nth-child(n+14) {
  display: none;
}

.tags-row__show {
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
  margin: 0 5px;
  padding: 3px 8px;
  color: #ffffff;
  background-color: #DD0330;
  border: 1px solid #DD0330;
  border-radius: 15px;
}

.tags-row__show:hover, .tags-row__show:focus {
  color: #ffffff;
  background-color: #bf0329;
  text-decoration: none;
}

.tags-row_inside-page {
  padding: 0;
  background: inherit;
}

.tags-row_inside-page .tags-row__link:nth-child(n+14) {
  display: inline-block;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.person__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  max-width: 48px;
}

.person__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 63px);
  flex: 0 0 calc(100% - 63px);
  max-width: calc(100% - 63px);
}

.person__label {
  font-size: 11px;
  line-height: 1.2;
  color: #666666;
  margin-bottom: 5px;
}

.person__label:last-child {
  margin-bottom: 0;
}

.person__name {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
}

.product {
  position: relative;
  padding-bottom: 25px;
}

.product__image-block {
  display: block;
  position: relative;
  margin-bottom: 25px;
}

.product__image-block:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 150%;
}

.product__image-block.loading {
  background: #ebe7e4 url("../icon/loader.gif") no-repeat center/40px;
}

.product__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  border-radius: 6px;
  background: no-repeat center / cover;
  z-index: 2;
}

.product__image_hover {
  z-index: 1;
}

.product__image:hover, .product__image:focus {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.product__status {
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: capitalize;
  font-size: 28px;
  line-height: 1.1;
  z-index: 3;
}

.product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 6.25px;
  line-height: 18px;
  height: 24px;
}

.product__price-old {
  display: inline-block;
  text-decoration: line-through;
}

.product__price-old + .product__price-new {
  color: #DD0330;
  margin-left: 4px;
}

.product__price-new {
  display: inline-block;
  font-weight: 700;
}

.product__label {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #DD0330;
}

.product_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product_small__image {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  max-width: 120px;
  margin-right: 15px;
  border-radius: 6px;
  background: #ebe7e4 no-repeat center / contain;
}

.product_small__image:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.product_small__content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.product_small__status {
  position: absolute;
  top: 0;
  left: 135px;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.1;
}
