.cabinet{
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    
    &__col{
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
    }
    // Sidebar
    &__sidebar{
        padding: $grid-gutter-width/2 0;
        background-color: $light-bg;
    }
    &__account{
        padding: 0 $grid-gutter-width/2;
        margin-bottom: $grid-gutter-width/2;

        &-avatar{
            max-width: 100%;
            width: 100px;
            height: auto;

            border-radius: 6px;
            margin-bottom: $spacer-gutter;
        }
        &-name{
            font-weight: $font-weight-bold;
        }
        &-contact{
            font-size: map-get($map: $font-size, $key: 'xs');
        }
    }
    &__navigation{
        display: flex;
        flex-direction: column;

        &-item{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            font-size: map-get($map: $font-size, $key: 'sm');
            color: $black;
            padding: $spacer-gutter $grid-gutter-width/2;

            &:hover{
                color: $black;
                background-color: rgba( 255,255,255,0.5 );
                text-decoration: none;
            }

            &--here{
                color: $black;
                font-weight: $font-weight-bold;
                background-color: $white;
                border-right: 4px solid $action;

                &:hover{
                    cursor: default;
                    color: $black;
                    background-color: $white;
                }
            }
        }
        &-icon{
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        &-title{
            white-space: nowrap;
        }
        &-sep{
            height: 1px;
            width: 100%;
            background-color: $white;
        }
    }
    // Main
    &__body{
        padding: $grid-gutter-width/2 0;
    }
    &__item{
        display: block;

        padding: $grid-gutter-width/2;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        // height: 100%;

        // Modificate
        &_link{
            text-decoration: none;
            color: $black;
            transition: .4s;

            &:hover{
                text-decoration: none;
                color: $black;
                background-color: $lightest-bg;
            }
        }
        &_info{
            height: 100%;
            max-height: intrinsic;
        }
        &_setting{
            position: relative;

            &-icon{
                position: absolute;
                top: $spacer-gutter;
                right: $spacer-gutter;

                width: 16px;
                height: 16px;
                background: url('../icon/icon-settings.svg') no-repeat center / contain;

                filter: opacity(.5);
                transition: .4s;

                &:hover{
                    filter: opacity(1);
                }
            }
        }
        // Inside Elements
        &-title{
            font-size: 17px;
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            margin-bottom: $spacer-gutter;
        }
        &-intro{
            font-size: map-get($map: $font-size, $key: 'sm');
        }
        &-prop{
            font-size: map-get($map: $font-size, $key: 'sm');

            display: flex;
            justify-content: space-between;

            &-title{
                padding-right: 10px;
            }
            &-value{
                font-weight: $font-weight-bold;
            }
        }
        &-footer{
            margin-top: $spacer-gutter;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        background: no-repeat center / cover;
        min-height: 200px;

        &-status{
            position: absolute;
            top: $grid-gutter-width/2;
            left: $grid-gutter-width/2;

            display: inline-block;
            font-size: map-get($map: $font-size, $key: 'sm');
            font-weight: $font-weight-bold;
            line-height: 1;
            text-align: center;

            max-width: 100px;

            padding: 4px 10px;
            border-radius: 10px;
            background-color: $light-bg;
        }
        &-intro{
            font-size: map-get($map: $font-size, $key: 'sm');
            line-height: $line-height-heading;
            text-align: right;
            color: $white;
            padding-left: 110px;
        }
        &-title{
            font-size: 44px;
            line-height: $line-height-heading;
            font-weight: $font-weight-bold;
            color: $white;

            padding-right: 30px;
            padding-bottom: 4px;
        }
        &-subtitle{
            font-size: map-get($map: $font-size, $key: 'sm');
            line-height: $line-height-heading;
            color: $white;
            padding-right: 30px;
        }
        &-icon{
            position: absolute;
            bottom: $grid-gutter-width/2;
            right: $grid-gutter-width/2;

            cursor: pointer;
        }
    }
    &__cashback{
        // margin-top: $grid-gutter-width/2;

        &-item{
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;

            position: relative;
            padding-left: 35px;

            margin-bottom: $spacer-gutter;
            
            &:before{
                content: '';
                display: block;

                width: 24px;
                height: 24px;
                border-radius: 12px;

                background: $grey;

                position: absolute;
                top: 0;
                left: 0;
            }

            &_add{
                &:before{
                    background: #44C57F url('../icon/arrow-top-white.svg') no-repeat center / 10px;
                }
            }
            &_remove{
                &:before{
                    background: $action url('../icon/arrow-bottom-white.svg') no-repeat center 10px / 10px;
                }
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
        &-add{
            color: #44C57F;
            white-space: nowrap;
        }
        &-remove{
            color: $action;
            white-space: nowrap;
        }
        &-type{
            font-size: map-get($map: $font-size, $key: 'xs');
            padding-right: $spacer-gutter;

            flex: 0 0 125px;
            max-width: 125px;
        }
        &-info{
            // margin-top: -2px;
            flex: 0 0 calc(100% - 125px);
            max-width: calc(100% - 125px);
        }
        &-title{
            // font-size: map-get($map: $font-size, $key: 'sm');
            font-weight: $font-weight-bolder;
            margin-bottom: 5px;
        }
        &-subtitle{
            font-weight: $font-weight-bold;
            line-height: $line-height-heading;
            margin-bottom: 4px;
            color: $grey;
        }
        &-intro{
            font-size: map-get($map: $font-size, $key: 'xs');
            font-weight: $font-weight-bolder;
            line-height: $line-height-heading;
            color: $grey;
            margin-bottom: 5px;
        }
        &-content{
            font-size: map-get($map: $font-size, $key: 'xs');
            line-height: $line-height-heading;
            color: $grey;
        }
    }
    &__table{
        width: 100%;
        // margin-top: $grid-gutter-width/2;

        &-responsive{
            overflow-x: auto;
            max-width: 100%;

            padding-bottom: 10px;
        }
        &-head{
            font-size: map-get($map: $font-size, $key: 'xs');
            color: $grey;
            padding-bottom: $spacer-gutter;
        }
        &-line{
            vertical-align: baseline;
            &_center{
                vertical-align: middle;
            }
        }
        &-title{
            padding: 2px 8px 15px 8px;
            font-weight: $font-weight-base;
        }
        &-item{
            font-size: map-get($map: $font-size, $key: 'sm');
            padding: 10px 8px;
            font-weight: $font-weight-base;

            white-space: nowrap;
        }
    }
    &__order{
        width: 100%;
        margin-top: 0;

        &-status{
            display: inline-block;
            padding: 3px 8px;

            border-radius: 10px;
            min-width: 24px;
            min-height: 10px;

            font-size: map-get($map: $font-size, $key: 'sm');
            font-weight: $font-weight-bolder;
            color: $white;
            line-height: 1;
        }
        &-img{
            width: auto;
            height: 50px;
        }
    }
    &__alert{
        padding:$spacer-gutter;
        border-radius: $border-radius;
        background-color: $light-bg;

        &_status{
            display: grid;
            align-items: center;
            grid-template-columns: 140px 120px 1fr 120px;
            grid-gap: 15px;
            padding:$spacer-gutter $spacer/2;
        }
    }
    // New Cashback Status
    &__status{
        &-title{
            font-size: 34px;
            line-height: $line-height-heading;
            font-weight: $font-weight-bold;

            color: $action;
        }
        &-label{
            font-size: map-get($map: $font-size, $key: 'sm');
            font-weight: $font-weight-bolder;
            line-height: 1;
            text-align: center;

            max-width: 100px;

            padding: 4px 10px;
            border-radius: 10px;
            background-color: $dark-grey;
            color: $white;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cabinet{
        &__card{
            min-height: 160px;
        }
        &__cashback{
            &-content{
                margin-bottom: 6px;
            }
        }
        &__alert{
            &_status{
                grid-template-columns: 1fr 120px;
            }
        }
    }

}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cabinet{
        &__item{
            padding: $spacer-gutter;

            &_info{
                height: auto;
                height: intrinsic;
            }
        }
        &__cashback{
            &-item{
                padding-left: 24px;

                &:before{
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;

                    background-size: 8px;
                    background-position: center;
                }
            }
            &-type{
                flex: 0 0 110px;
                max-width: 110px;
            }
            &-info{
                flex: 0 0 calc(100% - 110px);
                max-width: calc(100% - 110px);
            }
        }
        &__card{
            &-status{
                top: $spacer-gutter;
                left: $spacer-gutter;
            }
        }
        &__alert{
            &_status{
                grid-template-columns: 1fr 1fr;

                &-full{
                    grid-column: 1/3;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cabinet{
        &__sidebar{
            padding: 10px $spacer/2;
            overflow: hidden;
        }
        &__account{
            display: none;
        }
        &__navigation{
            flex-direction: row;
            overflow: auto;

            &-item{
                padding: 5px 10px;
            }
            &-icon{
                width: 12px;
                height: 12px;
                margin-right: 10px;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .cabinet{
        &__cashback{
            &-item{
                flex-wrap: wrap;
                margin-bottom: map-get($map: $spacers, $key: 2);
            }
            &-type{
                flex: 0 0 100%;
                max-width: 100%;

                margin-bottom: 6px;
            }
            &-info{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &__alert{
            &_status{
                text-align: center;
                grid-template-columns: 1fr;
            }
        }
        &__status{
            &-label{
                margin: 0 auto;
            }
        }
    }
}