.cabinet__account
    img.cabinet__account-avatar(src="./demo/demo-card.svg")
    .cabinet__account-name Хайруллин Артем
    .cabinet__account-contact +7 985 777-50-90

.cabinet__navigation
    a.cabinet__navigation-item.cabinet__navigation-item--here(href="cabinet.html")
        img.cabinet__navigation-icon(src="./icon/icon-cabinet-outline.svg")
        span.cabinet__navigation-title Профиль
    a.cabinet__navigation-item(href="cabinet-order.html")
        img.cabinet__navigation-icon(src="./icon/icon-cart-outline.svg")
        span.cabinet__navigation-title История заказов
    a.cabinet__navigation-item(href="cabinet-cashback.html")
        img.cabinet__navigation-icon(src="./icon/icon-cashback.svg")
        span.cabinet__navigation-title История кэшбека
    a.cabinet__navigation-item(href="cabinet-setting.html")
        img.cabinet__navigation-icon(src="./icon/icon-settings.svg")
        span.cabinet__navigation-title Настройки профиля
    .cabinet__navigation-sep
    a.cabinet__navigation-item(href="#")
        img.cabinet__navigation-icon(src="./icon/icon-exit.svg")
        span.cabinet__navigation-title Выход