// Row With Catalog Filters
.filters{
    position: relative;
    display: flex;
    align-items: center;

    &__tags{
        position: relative;
        flex: 1;
        // overflow-x: hidden;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        margin-left: -4px;
        margin-right: -4px;

        &-item{
            display: flex;
            align-items: center;

            background-color: $light-bg;
            font-size: map-get($map: $font-size, $key: sm);
            line-height: map-get($map: $font-size, $key: md);
            white-space: nowrap;
    
            padding: 4px 10px;
            border: 1px solid $light-bg;
            border-radius: $spacer-gutter;
    
            margin: 4px;
    
            // &:hover, &:focus{
            //     text-decoration: none;
            //     border-color: $border-color;
            // }
        }
        &-close{
            width: 8px;
            height: 8px;
            margin-left: 6px;

            background: url("../icon/icon-close.svg") no-repeat center/6px;
            transition: .2s;

            &:hover{
                filter: opacity(.5);
            }
        }
    }
    &__icon{
        margin-right: 8px;
        transition: .3s;
        
        &:hover, &:focus{ outline: none; }
    }
    
    &__category{
        font-size: map-get($map: $font-size, $key: sm);
        padding-right: $spacer;
        transition: .3s;

        &:hover{
            color: $grey;

            .filters__icon{
                fill: $grey;
            }
        }

        &:hover, &:focus{
            outline: none;
        }
    }
    &__item{
        font-size: map-get($map: $font-size, $key: sm);
        padding-right: $spacer;
        transition: .3s;

        &:hover, &:focus{
            color: $grey;
            outline: none;

            .filters__icon{
                fill: $grey;
            }
        }
    }

    &__info{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: $line-height-heading;
        color: $grey;
        
        &-item{
            margin-left: map-get($map: $spacers, $key: 2);
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .filters{
        flex-wrap: wrap;

        &__info{
            flex-grow: 1;
            text-align: right;
        }
        &__tags{
            order: 2;
            flex: 1 0 100%;
            max-width: 100%;
            margin-top: 10px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .filters{
        &__category{
            font-size: map-get($map: $font-size, $key: xs);
            padding-right: map-get($map: $spacers, $key: 2);
        }
        &__item{
            font-size: map-get($map: $font-size, $key: xs);
            padding-right: 0;
        }
        &__info{
            display: none;
        }
    }
}