.filters
    button.filters__category(href="" id="filtersCategoryOpen") Категории
    button.filters__item(href="" id="filtersOpen") Фильтр и сортировка
    .filters__tags
    .filters__info
        span 532 товар(-а, -ов)
        span 1 стр. из 4