.filters
    a.filters__category(href="#" data-sidebar="filtersCategoryOpen") 
        <svg class="filters__icon" width="24" height="24" viewBox="0 0 24 24" fill="#3A3A3A" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 6H22V7H2V6ZM9 11.5H22V12.5H9V11.5ZM2 17H22V18H2V17Z"/>
        </svg>
        | Категории
    a.filters__item(href="#" data-sidebar="filtersOpen") 
        <svg class="filters__icon" width="24" height="24" viewBox="0 0 24 24" fill="#3A3A3A" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 6H22V7H2V6ZM2 11.5H22V12.5H2V11.5ZM2 17H22V18H2V17Z"/>
            <rect x="4" y="5" width="1" height="3"/>
            <rect x="9" y="16" width="1" height="3"/>
            <rect x="14" y="10" width="1" height="4"/>
        </svg>
        | Фильтр и сортировка
    .filters__tags
        .filters__tags-item
            span.filters__tags-body L
            button.filters__tags-close(type="button" aria-label="Remove")
        .filters__tags-item
            span.filters__tags-body L-XL
            button.filters__tags-close(type="button" aria-label="Remove")
        .filters__tags-item
            span.filters__tags-body Цена по возрастанию
            button.filters__tags-close(type="button" aria-label="Remove")
    .filters__info
        span.filters__info-item 32 товар(-а, -ов)
        //- span.filters__info-item 1 стр. из 4

.sidebar.sidebar_filters#filtersCategoryOpen
    .sidebar__close.sidebar__close_right Закрыть
    .sidebar__content
        //- Category Links
        .filter-nav
            a.filter-nav__parent.filter-nav__parent_level-1(href="catalog.html") Каталог товаров
            .filter-nav__children
                a.filter-nav__parent.filter-nav__parent_level-2.filter-nav__parent--here(href="catalog.html") Женщины
                .filter-nav__children
                    a.filter-nav__link(href="category.html") Корректирующие трусы
                    a.filter-nav__link.filter-nav__link--here(href="category.html") Бюстгалтеры
                    a.filter-nav__link(href="category.html") Майки
                    a.filter-nav__link(href="category.html") Леггинсы и капри
                    a.filter-nav__link(href="category.html") Носки и гольфы
                    a.filter-nav__link(href="category.html") Колготки
                    a.filter-nav__link(href="category.html") Противовирусные маски
                .filter-nav__parent.filter-nav__parent_level-2 Коллекции
                .filter-nav__children
                    a.filter-nav__link(href="category.html") Белье из бамбука
                    a.filter-nav__link(href="category.html") Белье из алоэ
                    a.filter-nav__link(href="category.html") Белье Cooling с охлаждающим эффектом
                    a.filter-nav__link(href="category.html") Белье из soft-touch
                    a.filter-nav__link(href="category.html") Белье из органического хлопка
                a.filter-nav__parent.filter-nav__parent_level-2(href="catalog.html") Мужская серия
                .filter-nav__children
                    a.filter-nav__link(href="category.html") Корректирующие шорты
                    a.filter-nav__link(href="category.html") Утягивающие майки Mey
                    a.filter-nav__link(href="category.html") Носки и гольфы
                    a.filter-nav__link(href="category.html") Противовирусные маски
                .filter-nav__parent.filter-nav__parent_level-2 Другое
                .filter-nav__children
                    a.filter-nav__link(href="category.html") Новинки
                    a.filter-nav__link(href="category.html") Предзаказ
                    a.filter-nav__link(href="category-complect.html") Комплекты с выгодой
                    a.filter-nav__link(href="category-sale.html") Sale - распродажа
                    a.filter-nav__link(href="sales.html") Акции
.sidebar.sidebar_filters#filtersOpen
    .sidebar__close.sidebar__close_right Закрыть
    .sidebar__content
        .filter-row.filter-row--active.mb-1
            .filter-row__title.filter-row__title--active УПОРЯДОЧИТЬ ПО
            .filter-row__content(style="display: block;")
                +radio('radio11', 'Рекомендуемые','sort','checked')(class="mb-1")
                +radio('radio12', 'Цена по возрастанию','sort')(class="mb-1")
                +radio('radio13', 'Цена по убыванию','sort')
        .filter-row.filter-row--active.mb-1
            .filter-row__title.filter-row__title--active Открытый параметр фильтрации
            .filter-row__content(style="display: block;")
                +checkbox('type1', 'Параметр 1','checked')(class="mb-1")
                +checkbox('type2', 'Параметр 2')(class="mb-1")
                +checkbox('type3', 'Параметр 3')
        .filter-row.mb-1
            .filter-row__title Закрытый параметр фильтрации
            .filter-row__content
                +checkbox('param1', 'Параметр 1','checked')(class="mb-1")
                +checkbox('param2', 'Параметр 2')(class="mb-1")
                +checkbox('param3', 'Параметр 3')(class="mb-1")
                .checkbox.checkbox--disabled
                    input.checkbox__input#param4(type="checkbox" name="type" disabled="disabled")
                    label.checkbox__label(for="param4") Параметр 3
        .filter-row
            +checkbox('productAvailible', 'Только товары в наличии','checked')
        