.banner-promo{
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    // width: 800px;
    width: max-content;
    max-width: 100%;
    padding: 10px 40px;
    padding-right: 60px;
    margin: 0 auto;

    color: $white;
    background: url('../icon/brush-bg.svg') no-repeat center / contain;

    font-size: map-get($map: $font-size, $key: sm);
    font-weight: $font-weight-bolder;
    letter-spacing: $letter-spacing;

    &__content{
        padding-left: $spacer/2;
        padding-right: $spacer/2;
    }
    &__link{
        text-transform: uppercase;
        color: $white;

        &:hover, &:focus{
            color: $light-grey;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .banner-promo{
        padding: $spacer-gutter;
        display: block;
        text-align: center;

        color: $black;
        background: $body-bg;
        border: 1px solid $border-color;
        border-radius: 6px;

        &__content{
            padding: 0 0 $spacer-gutter;
        }
        &__link{
            color: $black;
    
            &:hover, &:focus{
                color: $action;
            }
        }
    }
}