.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: $spacer;
    border-radius: $border-radius;
    background: no-repeat center / cover;

    height: 420px;
    overflow: hidden;

    &__title{
        font-size: 38px;
        font-weight: $font-weight-heading;
        line-height: $line-height-heading;
        margin-bottom: $spacer/3;
    }
    
    &_content-center{
        text-align: center;
        justify-content: center;

        .banner__intro{
            width: 340px;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    &_content-left{
        text-align: left;
        justify-content: center;
        
        .banner__intro{
            width: 480px;
            max-width: 100%;
        }
    }
}