.banner-promo{
    padding: $spacer $spacer/2;
    border-radius: $border-radius;

    text-align: center;
    color: $white;
    background: $action url('../img/banner-inst.jpg') no-repeat top right/cover;

    &__title{
        font-size: 28px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        width: 540px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__content{
        font-size: map-get($map: $font-size, $key: lg);

        width: 540px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__link{
        color: $white;
        &:hover{
            color: $white;
        }
    }
    &__btn-instagram{
        border-color: #0095f6;
        background-color: #0095f6;
        color: $white;

        &:hover, &:focus{
            border-color: darken(#0095f6, 6);
            background-color: darken(#0095f6, 6);
            color: $white;
        }
    }
    &__form{
        width: 460px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__network{
        display: flex;
        justify-content: center;
        align-items: center;

        &-title{
            text-transform: uppercase;
            font-size: map-get($map: $font-size, $key: sm);
            font-weight: $font-weight-bolder;
            color: $light-bg;

            padding-right: $spacer-gutter;
        }
        &-item{
            padding: 0 5px;

            &:hover{
                .banner-promo__network-icon{
                    fill: $white;
                }
            }
        }
        &-icon{
            fill: $light-bg;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .banner-promo{
        padding: $spacer/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .banner-promo{
        &__title{
            font-size: 22px;
        }
    }
}