.banner-intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 4);
    background-color: $light-grey;
    border-radius: $border-radius;

    &__content{
        flex: 0 0 45%;
        max-width: 45%;
        padding-right: map-get($map: $spacers, $key: 3);
    }
    &__image-block{
        flex: 0 0 55%;
        max-width: 55%;

        display: grid;
        grid-gap: $grid-gutter-width/4;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    &__label{
        font-size: 38px;
        line-height: 32px;
        margin-bottom: $grid-gutter-width/4;
    }
    &__title{
        font-size: 21px;
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        margin-bottom: $grid-gutter-width/2;

        text-transform: uppercase;
    }
    &__image{
        border-radius: $border-radius;
        border: 1px solid $action;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .banner-intro{
        padding: $grid-gutter-width;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .banner-intro{
        &__content{
            flex: 0 0 65%;
            max-width: 65%;
            padding-right: map-get($map: $spacers, $key: 2);
        }
        &__image-block{
            flex: 0 0 35%;
            max-width: 35%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .banner-intro{
        &__content{
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-bottom: map-get($map: $spacers, $key: 2);
        }
        &__image-block{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .banner-intro{
        padding: map-get($map: $spacers, $key: 2);
    }
}