.banner_sales{
    background-color: $action;
    color: $white;
    min-height: 1px;
    text-align: center;

    align-items: center;

    a:not(.btn){
        color: $white;

        &:hover, &:focus{
            color: $light-grey;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .banner_sales{
        padding: $spacer/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .banner_sales{
        padding: $spacer-gutter;
    }
}