aside.content.container
    .content__inside 
        .row.align-items-center.justify-content-center
            .col-2.text-center
                img.img-fluid(src="./img/delivery.svg" style="margin: 0 auto;")
            .col-5
                p.h4.text-uppercase.text-bolder.mb-1 Бесплатная доставка
                p.text-grey.lead При заказе от 15 000 рублей quis lacus commodo. Ullamcorper blandit orci euismod massa imperdiet. Faucibus elementum amet.