.breadcrumb{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    font-size: map-get($map: $font-size, $key: xs);

    &__item{
        &:after{
            color: $grey-text;
            content: '—';
            margin: 0 4px;
        }

        &--active{
            color: $grey-text;
            &:after{
                display: none;
            }
        }
    }
    &__link{
        color: $action;
        font-weight: $font-weight-bolder;
        // text-decoration: underline;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .breadcrumb{
        margin-bottom: $spacer-gutter;
    }
}