.navbar_secondary{
    font-size: map-get($map: $font-size, $key: xs);
    line-height: $line-height-heading;

    &__sep{
        color: $border-color;
        padding: 0 6px;
    }
    &__item{
        color: $grey;
    }
    &__modal{
        border-bottom: 1px dotted $dark-grey;

        &:hover{
            text-decoration: none;
            border-color: $action;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .navbar_secondary{
        &__sep{
            padding: 0 6px;
        }
    }
}