.navbar_secondary{
    font-size: map-get($map: $font-size, $key: "xs");
    line-height: $line-height-heading;

    &__sep{
        padding: 0 10px;
    }
    &__item{
        color: $grey;
    }
    &__modal{
        border-bottom: 1px dashed $dark-grey;

        &:hover{
            text-decoration: none;
            border-color: $action;
        }
    }
}