.navbar-mobile{
    display: none;

    border-top: 1px solid $border-color;
    background-color: $white;

    &__icon{
        height: 16px;
        margin-bottom: 4px;
        fill: $black;

        &_sale{
            width: 46px;
        }
    }
    &__cart{
        &-icon{
            display: flex;
            align-items: center;
            justify-content: center;
    
            // background: $action url('../icon/icon-cart.svg') no-repeat center / contain;
            background: $action;


            width: 16px;
            height: 16px;
            border-radius: 8px;
            margin: 0 auto 4px;

            &:hover{
                background-color: darken($color: $action, $amount: 6);
            }
    
            &--empty{
                background-color: $light-grey;
            }
        }

        
        &-count{
            font-size: 8px;
            line-height: 1;
            color: $white;
        }
    }
    &__item{
        padding: 10px 4px;
        overflow: hidden;

        text-align: center;
        background-color: $white;
        border-right: 1px solid $border-color;

        font-size: 10px;
        line-height: 1;
        font-weight: $font-weight-bolder;

        &:last-of-type{
            border-right: none;
        }

        &--active{
            color: $white;
            background-color: $action;

            .navbar-mobile__icon{
                fill: $white;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .navbar-mobile{
        display: block;
        
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;

        height: $spacer;

        &__container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
            flex-wrap: nowrap;

            padding: 0;
        }

        &--open-sidebar{
            z-index: 81;
        }
    }
}