.navbar_mobile{
    display: block;

    &__title{
        font-size: map-get($map: $font-size, $key: "xs");
        font-weight: $font-weight-bold;
        color: darken($color: $body-bg, $amount: 15);
        text-transform: uppercase;
        padding: 0 $spacer-gutter;

        margin: $spacer/2 0 8px;

        &:first-of-type{
            margin-top: 0;
        }
    }
    &__parent{
        position: relative;

        &-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;

            width: 100%;
            padding: 10px 15px;
            // padding-right: 40px;
            line-height: 20px;

            text-decoration: none;
            transition: 0s;

            &:hover, &:focus{
                color: $black;
                text-decoration: none;
                transition: 0s;
            }

            &--active{
                // color: $action;
                font-weight: $font-weight-bold;
            }
        }
        &-icon{
            flex: 0 0 40px;

            width: 40px;
            height: 20px;
            text-align: center;
            background: url("../icon/arrow-down.svg") no-repeat center/10px;
            filter: grayscale(1) opacity(0.5);

            &--active{
                filter:  grayscale(1) opacity(1);
                transform: rotate(180deg);
            }
        }
    }
    &__children{
        display: none;

        &-item{
            display: block;
            padding: 10px 15px;
            padding-left: 40px;
            line-height: 20px;
        }
    }
    &__link{
        display: block;
        padding: 10px 15px;
        line-height: 20px;
    }

    &__category{
        padding: 0 $spacer-gutter;

        &:last-of-type{
            padding-bottom: 0;
        }

        &-title{
            position: relative;

            // font-size: map-get($map: $font-size, $key: "sm");
            font-weight: $font-weight-bold;
            // text-transform: uppercase;
            padding-right: $spacer;
            margin-bottom: 10px;

            transition: 0s;
            
            &:after{
                content: '';
                display: block;

                width: 40px;
                height: 20px;
                text-align: center;

                background: url("../icon/arrow-down.svg") no-repeat center/10px;
                filter: grayscale(1) opacity(0.5);

                position: absolute;
                top: calc( 50% - 10px );
                right: $spacer-gutter;
            }

            &--active{
                color: $action;
            
                &:after{
                    filter:  grayscale(1) opacity(1);
                    transform: rotate(180deg);
                }
            }

            
        }
        &-children{
            display: none;
        }
    }

    &__sep{
        height: 1px;
        background-color: $border-color;
        margin: map-get($map: $spacers, $key: 2) 0;
    }
    &__icon{
        width: 16px;
        margin-right: 10px;
        fill: #838383;
    }
    &__sublink{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 10px 15px;
        line-height: 20px;
        color: #838383;
    }
}