.navbar{
    display: flex;
    align-items: center;
    position: relative;

    // font-size: map-get($map: $font-size, $key: sm);

    &__item{
        margin-right: $spacer-gutter;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: $spacer-gutter;
        white-space: nowrap;

        transition: .3s;
        cursor: pointer;

        &:last-child{
            margin-right: 0;
            padding-right: 0;
        }

        &:hover{
            color: $action;
            text-decoration: none;
        }

        &_action{
            font-family: 'Covered By Your Grace', cursive; 
            font-size: 15px;
            font-weight: $font-weight-bold;

            // color: $action;
            color: #C9002E;

            &:hover{
                color: darken($color: $action, $amount: 6);
            }
        }
        // &_has-child{
        //     position: relative;
        // }

        &-icon{
            margin-left: 4px;
        }
    }
    &__link{
        transition: .3s;
        cursor: pointer;

        &:after{
            content:'';
            display: inline-block;
            
            width: 14px;
            height: 8px;

            filter: grayscale(1);
            background: url("../icon/arrow-down.svg") no-repeat right center / 7px;

            transition: .3s;
        }

        &:hover{
            color: $action;
            text-decoration: none;

            &:after{
                filter: grayscale(0);
            }
        }
    }
    &__children{
        display: none;
        width: 100%;

        position: absolute;
        left: -15px;
        top: 35px;

        z-index: 999;

        padding: 30px;
        background: $white;
        border: 1px solid $border-color;

        // flex-wrap: nowrap;
        // justify-content: space-between;

        &-col{
            display: flex;
            flex-direction: column;

            padding-right: $spacer;

            &:last-child{
                padding-right: 0;
            }
        }
        &-title{
            font-size: .85em;
            font-weight: $font-weight-bold;
            color: $black;

            text-transform: uppercase;
            white-space: nowrap;

            margin-bottom: 14px;

            &_link{
                &:after{
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-left: 4px;
                    background: url('../icon/arrow-right.svg') no-repeat right center / 4px;
                }
            }
        }
        &-item{
            white-space: nowrap;
            // width: 180px;
            max-width: 100%;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
        &-sep{
            margin: 0 0 10px;
            // background: $border-color;
            height: 1px;
        }
        &-preview{
            width: 140px;
        }

        // Status
        &--active{
            display: flex;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .navbar{
        position: unset;
        
        &__item{
            font-size: map-get($map: $font-size, $key: sm);
            margin-right: 5px;
            padding-right: 10px;

            &-icon{
                width: 16px;
                height: 16px;
            }
        }
        &__children{
            left: 0;
            top: 60px;

            &-col{
                padding-right: 2*$spacer-gutter;
    
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
}