.navbar-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 0 map-get($map: $spacers, $key: 4);

    background: $white;
    width: 100%;
    max-height: 90%;

    // overflow-y: auto;

    transform: translateY(100%);
    transition: transform .5s;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 98;

    &__content{
        padding: 0;
        overflow-y: auto;
    }
    &__close{
        flex: 0 0 40px;
        width: 40px;
        height: 20px;
        background: url('../icon/icon-close.svg') no-repeat center / 20px;

        filter: opacity(.5);
    }
    &__link{
        display: block;
        padding: 10px map-get($map: $spacers, $key: 1);
    }
    &__phone{
        font-size: 17px;
        color: $action;
        font-weight: $font-weight-bold;
        
        margin-right: $spacer-gutter;
        margin-bottom: 4px;
    }
    &--active{
        transform: translateY(0);
    }
    &--hidden{
        opacity: 0;
    }
}
.navbar-sidebar_menu{
    height: 90%;
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .navbar-sidebar{
        justify-content: flex-start;
        
        height: 100%;
        max-height: 100%;
        width: 380px;
        max-width: 90%;

        padding: 0 0 map-get($map: $spacers, $key: 2);

        transform: translateX(-380px) translateY(0);

        &__title{
            padding: map-get($map: $spacers, $key: 2);
        }
        &__content{
            padding-left: 10px;
        }
        &__networks{
            margin-top: $spacer-gutter;
        }

        &--active{
            transform: translateX(0) translateY(0);
        }
    }
}

// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .navbar-sidebar{
        justify-content: space-between;

        height: auto;
        max-height: 90%;
        width: 100%;
        max-width: 100%;

        padding: 0 0 map-get($map: $spacers, $key: 4);

        transform: translateX(0) translateY(100%);

        &__title{
            padding: map-get($map: $spacers, $key: 1);
            // smallest container width -20px
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
        &__content{
            padding-left: 0;
            // smallest container width -20px
            max-width: 400px;
            margin: 10px auto 0;
            width: 100%;

            &_has-tabs{
                margin-top: 0;
            }
        }
        &__networks{
            display: block;
            margin-top: 0;
        }
        
        &--active{
            transform: translateX(0) translateY(0);
        }
    }
    .navbar-sidebar_menu{
        height: 90%;
    }
}