.pagination{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));

    &__link{
        display: inline-block;
        // border: 1px solid $border-color;
        width: 20px;
        padding: 4px;
        text-align: center;
        line-height: 12px;

        &:hover, &:focus{
            text-decoration: none;
            color: $action;
        }

        &_prev{
            background: url('../icon/arrow-left.svg') no-repeat center / 6px;
            filter: opacity(0.5);
            
            &:hover, &:focus{
                filter: opacity(1);
            }
        }
        &_next{
            background: url('../icon/arrow-right.svg') no-repeat center / 6px;
            filter: opacity(0.5);
            
            &:hover, &:focus{
                filter: opacity(1);
            }
        }

        &--active{
            font-weight: $font-weight-bold;
            color: $action;
        }
    }

}