.container {
  width: 100%;
  max-width: map-get($map: $container-max-widths, $key: xl);
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-right: auto;
  margin-left: auto;

}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -($grid-gutter-width/4);
  margin-left: -($grid-gutter-width/4);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0
}
.no-gutters>.col,.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0
}


@media all and (max-width: map-get($grid-breakpoints, 'xl')){}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){}
@media all and (max-width: map-get($grid-breakpoints, 'md')){}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){}

// < 440px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
  .container {
    width: 100%;
    padding-left: $spacer-gutter;
    padding-right: $spacer-gutter;
  }
  .row{
    margin-right: -($spacer-gutter/2);
    margin-left: -($spacer-gutter/2);
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0
  }
  .no-gutters>.col,.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
  }
}
