.container {
  max-width: calc( 100% - 50px);
  width: 1440px;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  margin-right: auto;
  margin-left: auto;

}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -($grid-gutter-width/4);
  margin-left: -($grid-gutter-width/4);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0
}
.no-gutters>.col,.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0
}

// < 1280px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
  .container {
    // max-width: map-get($map: $container-max-widths, $key: xl);
    max-width: calc( 100% - 50px);
  }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
  .container {
    // max-width: map-get($map: $container-max-widths, $key: lg);
    max-width: calc( 100% - 50px);
  }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
  .container {
    // max-width: map-get($map: $container-max-widths, $key: md);
    max-width: calc( 100% - 50px);
  }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
  .container {
    // max-width: map-get($map: $container-max-widths, $key: sm);
    max-width: map-get($map: $container-max-widths, $key: sm);
  }
}
// < 420px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
  .container {
    // max-width: map-get($map: $container-max-widths, $key: xs);
    max-width: 100%;
    padding-left: $spacer-gutter;
    padding-right: $spacer-gutter;
  }
  .row{
    margin-right: -($spacer-gutter/2);
    margin-left: -($spacer-gutter/2);
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0
  }
  .no-gutters>.col,.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
  }
}
