html,body {
    font-size: map-get($font-size, 'md');
    font-weight: $font-weight-base;
    line-height: $line-height;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

    &.hidden{
        overflow: hidden;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden{
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    line-height: $line-height-heading;
    margin-bottom: $spacer-gutter;

    &:last-child{
        margin-bottom: 0;
    }
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6{
    margin-top: $grid-gutter-width/2;
}
.h1,h1{font-size: 38px;}
.h2,h2{font-size: 32px;}
.h3,h3{font-size: 28px;}
.h4,h4{font-size: 21px;}
.h5,h5{font-size: 18px;}
.h6,h6{font-size: 1rem;}

.heading-category{
    font-size: map-get($map: $font-size, $key: sm);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.heading-error{
    font-size: 160px;
    line-height: $line-height-heading;
}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: $spacer-gutter;

    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    margin-bottom: $grid-gutter-width/2;

    &:last-child{
        margin-bottom: 0;
    }
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;

    color: $link-color;

    &:hover {
        color: $link-hover-color;
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

.link-inverse{
    color: $white;

    &:hover{
        color: $grey;
    }
}
.link-action{
    color: $action;

    &:hover{
        color: $grey;
    }
}
.table-size{
    font-size: map-get($map: $font-size, $key: xs);

    &__icon{
        fill: $grey;
        margin-right: 4px;
    }
    &__link{
        padding-bottom: 2px;
        border-bottom: 1px dashed $grey;
    }

    &:hover{
        color: $action;
        text-decoration: none;

        .table-size__link{
            border-color: $action;
        }
    }
}

table{
    td{
        padding: 8px 15px;
    }
}

.bg-black{background-color: $black;}
.bg-white{background-color: $white;}
.bg-secondary{background-color: $light-grey;}
.bg-action{background-color: $action; color: $white;}

.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 89;

    background: rgba(0,0,0,.4);

    &--disable{
        position: inherit;
        display: none;
    }
}

.p-relative{position: relative;}
.p-sticky{position: sticky; top: 0; left: 0; z-index: 101;}
.p-absolute{position: absolute; top: 0; left: 0; z-index: 101;}

.text-white{color: $white;}
.text-black{color: $black;}
.text-grey{color: $grey;}
.text-action{color: $action;}

.text-uppercase{text-transform: uppercase;}
.text-bolder{font-weight: 500;}
.text-bold,strong,b{font-weight: 700;}
.text-underline{text-decoration: underline;}

.text-covered{font-family: 'Covered By Your Grace', cursive; color: $action;}

.text-small,small,.small{font-size: map-get($map: $font-size, $key: 'xs');}
.text-smaller{font-size: map-get($map: $font-size, $key: 'sm');}
.text-lead,.lead{font-size: map-get($map: $font-size, $key: 'lg');}

.text-spacing{letter-spacing: $letter-spacing;}

.text{
    &-right{text-align: right;}
    &-center{text-align: center;}
    &-left{text-align: left;}
}

.img-fluid{
    display: block;
    height: auto;
    max-width: 100%;
}
.img-background-fluid{
    display: block;
    width: 100%;
    height: 310px;
    border-radius: $border-radius;

    background: $body-bg no-repeat center / cover;
}
.img-border{
    border: 1px solid $border-color;
}

hr, .hr{
    width: 100%;
    height: 1px;
    background-color: $border-color;
}

blockquote, .blockquote{
    padding: $spacer;
    background-color: $body-bg;
    border-radius: $border-radius;
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .text-xl{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
    // Sales Page
    .img-background-fluid{
        height: 260px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    // .h1,h1{font-size: 38px;}
    .h1,h1{font-size: 32px;}
    // .h2,h2{font-size: 32px;}
    .h2,h2{font-size: 28px;}
    // .h3,h3{font-size: 28px;}
    .h3,h3{font-size: 24px;}
    
    .text-lg{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
    // Sales Page
    .img-background-fluid{
        height: 220px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    // .h1,h1{font-size: 38px;}
    .h1,h1{font-size: 28px;}
    // .h2,h2{font-size: 32px;}
    .h2,h2{font-size: 24px;}
    // .h3,h3{font-size: 28px;}
    .h3,h3{font-size: 21px;}
    // .h4,h4{font-size: 21px;}
    .h4,h4{font-size: 18px;}
    // .h5,h5{font-size: 18px;}
    .h5,h5{font-size: 15px;}
    // .h6,h6{font-size: 1rem;}
    
    .text-md{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
    blockquote, .blockquote{
        padding: $spacer/2;
    }
    // Sales Page
    .img-background-fluid{
        height: 160px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    html, body {
        background-color: $white;
    }
    .text-sm{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
    // Sales Page
    .img-background-fluid{
        height: 240px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    html, body {
        font-size: map-get($font-size, 'sm');
    }

    .text-lead, .lead{font-size: map-get($map: $font-size, $key: 'md');}
    
    .border-block{
        padding: $spacer/2;
    }
    .text-xs{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
    // Sales Page
    .img-background-fluid{
        height: 180px;
    }
}