.product-grid{
    display: grid;
    grid-gap: $grid-gutter-width/2;

    // Large Product Preview
    &_lg{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    // Small Product Preview
    &_sm{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product-grid{
        display: grid;
        grid-gap: $spacer-gutter;
    
        // Large Product Preview
        &_lg{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        // Small Product Preview
        &_sm{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}