.product_small{
    flex-direction: row;
    justify-content: start;
    align-items: center;

    &__image{
        display: block;

        flex: 0 0 120px;
        max-width: 120px;
        margin-right: map-get($map: $spacers, $key: 1);

        border-radius: $border-radius;
        background: #ebe7e4 no-repeat center / contain;

        &:before{
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
    }
    &__content{
        position: relative;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
    }
    &__status{
        position: absolute;
        top: 0;
        left: 135px;

        text-transform: capitalize;

        font-size: 20px;
        line-height: 1.1;
    }
    &__title{
        display: flex;
        font-weight: $font-weight-bolder;
        letter-spacing: $letter-spacing;
        margin-bottom: $grid-gutter-width/8;
        line-height: 18px;
    }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .product_small{
        &__image{
            flex: 0 0 100px;
            max-width: 100px;
        }
        &__status{
            // left: 115px;
            top: 5px;
            left: 10px;
        }
        &__content{
            padding: 0;
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product_small{
        display: block;

        &__image{
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
        }
        &__content{
            padding-top: $spacer-gutter;
            padding-bottom: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__status{
            top: 10px;
            left: auto;
            right: 10px;
        }
    }
}
// 440px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){}
 