.product{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: map-get($map: $spacers, $key: 2);

    // Image Container
    &__image-block{
        display: block;
        position: relative;
        margin-bottom: $grid-gutter-width/2;

        &:before{
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 125%;
        }

        &.loading{
            background: #ebe7e4 url('../icon/loader.gif') no-repeat center / 40px;
        }
    }
    // Image
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: block;
        width: 100%;

        border-radius: $border-radius;
        background: no-repeat center / cover;

        z-index: 2;

        &_hover{
            z-index: 1;
        }

        &:hover, &:focus{
            filter: opacity(0);
        }
    }

    // Label (Sale, New)
    &__status{
        position: absolute;
        top: map-get($map: $spacers, $key: 1);
        right: map-get($map: $spacers, $key: 1);

        text-transform: capitalize;

        font-size: 28px;
        line-height: 1.1;

        z-index: 3;
    }
    // Title
    &__title{
        flex-grow: 1;

        font-weight: $font-weight-bolder;
        letter-spacing: $letter-spacing;
        margin-bottom: $grid-gutter-width/8;
        line-height: 18px;
    }
    // Price
    &__price{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__price-old{
        display: inline-block;
        text-decoration: line-through;
        margin-right: 4px;

        & + .product__price-new{
            color: $action;
        }
    }
    &__price-new{
        display: inline-block;
        font-weight: $font-weight-bold;
        margin-right: 4px;
    }
    &__price-discount{
        position: relative;
        display: inline-block;
        padding: 3px 6px 3px 8px;
        margin-left: 10px;
        height: 20px;

        background: $action;
        color: $white;
        border-radius: 0 4px 4px 0;

        font-size: map-get($map: $font-size, $key: 'sm');
        font-weight: $font-weight-bold;
        line-height: 1;

        &:before{
            content: '';
            width: 4px; 
            height: 4px;
            border-radius: 2px;
            background: $white;

            position: absolute;
            top: calc(50% - 2px);
            left: -2px;

            z-index: 2;
        }
        &:after{
            content: '';
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            
            border-right: 10px solid $action;

            position: absolute;
            top: 0;
            left: -10px;

            z-index: 1;
        }
    }
    // Info Label
    &__label{
        position: absolute;
        left: 0;
        bottom: 0;
    
        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: md);
        font-weight: $font-weight-bolder;
        letter-spacing: $letter-spacing;
        color: $action;

        // transform: translateY(50%);
    }
    // Icon (delete)
    &__icon{
        fill: $grey;
        transition: .4s;
        &:hover{
            fill: $action;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product{
        padding-bottom: map-get($map: $spacers, $key: 1);
        // Price
        &__price-new{
            order: 1;
        }
        &__price-discount{
            order: 2;
        }
        &__price-old{
            flex: 0 0 100%;
            font-size: map-get($map: $font-size, $key: 'xs');
            order: 3;
        }
        // Info Label
        &__label{
            position: unset;
            margin-top: $spacer-gutter;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product{
        padding-bottom: 0;
        // Image Container
        &__image-block{
            margin-bottom: $spacer-gutter;
        }   
        // Label (Sale, New)
        &__status{
            font-size: 18px;
        }
    }
}