.product-image{
    &__item{
        // border-radius: $border-radius;
        overflow: hidden;
        outline: none;

        &:hover, &:focus{
            outline: none;
        }

        // Slick
        &.slick-slide{
            height: auto;
        }
    }
    &__link{
        cursor: pointer;
    }    
}

.product-image_complect{
    padding-right: $spacer/2;
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product-image_complect{
        padding-right: 0;
    }
}