.product{
    position: relative;
    padding-bottom: map-get($map: $spacers, $key: 2);

    // Image Container
    &__image-block{
        display: block;
        position: relative;
        margin-bottom: $grid-gutter-width/2;

        &:before{
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 150%;
        }

        &.loading{
            background: #ebe7e4 url('../icon/loader.gif') no-repeat center / 40px;
        }
    }
    // Image
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: block;
        width: 100%;

        border-radius: $border-radius;
        background: no-repeat center / cover;

        z-index: 2;

        &_hover{
            z-index: 1;
        }

        &:hover, &:focus{
            filter: opacity(0);
        }
    }

    // Label (Sale, New))
    &__status{
        position: absolute;
        top: map-get($map: $spacers, $key: 1);
        right: map-get($map: $spacers, $key: 1);

        text-transform: capitalize;

        font-size: 28px;
        line-height: 1.1;

        z-index: 3;
    }
    // Title
    &__title{
        display: flex;
        align-items: flex-end;

        font-weight: $font-weight-bolder;
        letter-spacing: $letter-spacing;
        margin-bottom: $grid-gutter-width/8;
        line-height: 18px;
        height: 24px;
    }
    // Price
    &__price-old{
        display: inline-block;
        text-decoration: line-through;

        & + .product__price-new{
            color: $action;
            margin-left: 4px;
        }
    }
    &__price-new{
        display: inline-block;
        font-weight: $font-weight-bold;
    }
    // Info Label
    &__label{
        position: absolute;
        left: 0;
        bottom: 0;
    
        font-size: map-get($map: $font-size, $key: xs);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        color: $action;

        // transform: translateY(50%);
    }
    // Icon (delete)
    &__icon{
        fill: $grey;
        transition: .4s;
        &:hover{
            fill: $action;
        }
    }
}