.product-nav{
    height: auto;
    height: intrinsic;

    &__item{
        // padding: $spacer-gutter/2 0;
        outline: none;
        
        overflow: hidden;

        cursor: pointer;
        filter: opacity(.5);

        &:hover, &:focus{
            outline: none;
        }
        // Swiper
        &.swiper-slide-thumb-active{
            filter: opacity(1);
        }
    }
    &__item-complect-sm{
        outline: none;
        overflow: hidden;

        filter: opacity(.5);
        cursor: pointer;

        &:hover, &:focus{
            outline: none;
        }

        // Swiper
        &.swiper-slide-thumb-active{
            filter: opacity(1);
        }
    }

    // Complect Two Products
    &_complect-sm{
        height: fit-content;    
        padding-top: $spacer/2;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .product-nav{
        padding-top: $spacer-gutter;

        &_complect-lg{
            padding-top: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product-nav{
        padding-top: $spacer-gutter;
        height: fit-content;
        height: auto;

        margin-left: 0;
        margin-right: 0;
    }
}