.product-page{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: flex-end;

    // Simple Product Information
    &__title{
        font-size: 18px;
        line-height: $line-height-heading;
        font-weight: $font-weight-bold;

        flex: 0 0 calc(100% - 140px);
        margin-bottom: 10px;

        &_complect{
            flex: 0 0 100%;
        }
    }
    &__article{
        font-size: 9px;
        line-height: $line-height-heading;
        color: $grey-text;
        text-align: right;

        flex: 0 0 100px;
        margin-bottom: 10px;
    }
    &__price{
        line-height: $line-height-heading;

        flex: 0 0 calc(100% - 240px);

        &-old{
            font-size: 16px;
            text-decoration: line-through;
            margin-right: 10px;

            display: inline-flex;
            white-space: nowrap;
        }
        &-new{
            font-size: 18px;
            font-weight: $font-weight-bolder;
            color: $action;

            display: inline-flex;
            white-space: nowrap;
        }
    }
    &__cashback{
        font-size: map-get($map: $font-size, $key: "xs");
        line-height: $line-height-heading;
        text-align: right;

        flex: 0 0 240px;

        position: relative;
        padding-right: 30px;

        &-icon{
            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);
            padding: 0;
            cursor: pointer;
        }
    }
    &__intro{
        flex: 0 0 100%;
        max-width: 100%;
    }
    // Scroll Anchor To Complect Block
    &__complect-link{
        font-size: map-get($map: $font-size, $key: "xs");
        line-height: map-get($map: $font-size, $key: "sm");
        color: $grey;

        &:hover{
            text-decoration: none;
            border-color: $action;
        }
    }

    // Complect Product Information
    &__complect-title{
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);

        font-size: map-get($map: $font-size, $key: 'sm');
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;

        padding-right: 10px;
    }
    &__complect-article{
        flex: 0 0 100px;
        max-width: 100px;

        font-size: 9px;
        line-height: 14px;
        color: $grey-text;

        text-align: right;
    }
    &__complect-options{
        flex: 0 0 100%;
        max-width: 100%;

        margin-top: 10px;
    }
    
    // Product's Option
    &__option{
        margin-top: map-get($map: $spacers, $key: 2);
        flex: 0 0 100%;

        &_complect{
            display: flex;
            flex-wrap: wrap;

            justify-content: space-between;
            align-items: flex-end;

            & + .product-page__option_complect {
                margin-top: $spacer-gutter;
            }
        }
    }
    &__color{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

        width: 100%;
        margin: 10px 0 15px;

        &-item{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &-input{
            display: none;
    
            &:checked + .product-page__color-label {
                border-color: $action;

                &:hover{
                    filter: brightness(1);
                }
            }
        }
        &-label{
            border: 1px solid $border-color;
            border-radius: $border-radius/2;
            background: $white no-repeat center / cover;
            
            padding: 4px;
            height: 68px;

            margin: 0;
            flex: 0 0 100%;

            cursor: pointer;
            transition: .3s;

            &:hover{
                filter: brightness(0.85);
            }
        }
    }
    &__size{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

        width: 100%;
        margin: 10px 0 15px;

        &-item{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
        &-input{
            display: none;
    
            &:checked + .product-page__size-label {
                color: $action;
                border-color: $action;

                &:hover{
                    background-color: $white;
                    border-color: $action;
                }
            }
        }
        &-label{
            font-size: map-get($map: $font-size, $key: "sm");
            line-height: 1;
            border: 1px solid $border-color;
            border-radius: $border-radius/2;
            background-color: $white;
            
            padding: 10px;
            margin: 0;
            flex: 0 0 100%;
            text-align: center;

            cursor: pointer;
            transition: .3s;

            &:hover{
                color: $dark-grey;
                border-color: $dark-grey;
            }
        }

        &_complect{
            flex: 0 0 100%;
            max-width: 100%;
        }
        &_has-default{
            grid-template-columns: 100px repeat(auto-fit, minmax(80px, 1fr));
        }
    }
    
    // Product Buttons
    &__btns{
        flex: 0 0 100%;

        display: flex;
        flex-wrap: nowrap;
    }
    &__buy{
        flex-grow: 2;
        padding-right: 5px;
    }
    &__quick-buy{
        flex-grow: 1;
        padding-left: 5px;
    }

    // Hidden Quick Buy Block
    &__quick{
        display: none;

        margin-top: $spacer/2;
        padding: $spacer/2;
        border: 1px solid $border-color;

        flex: 0 0 100%;
        max-width: 100%;
    }

    // Blockquote
    &__blockquote{
        margin-top: $spacer;
        margin-bottom: $spacer/2;

        display: grid;
        align-items: center;
        width: 100%;
        max-width: 100%;

        grid-gap: 5px;
        grid-template-areas: 
        "icon title"
        "icon content";
    
        grid-template-columns: 45px calc(100% - 50px);

        &-icon{
            padding-right: map-get($map: $spacers, $key: 1);

            grid-area: icon;
        }
        &-title{
            font-size: map-get($map: $font-size, $key: "sm");
            font-weight: $font-weight-bold;
            line-height: $line-height-base;
            margin-bottom: 0;

            grid-area: title;

            width: 360px;
            max-width: 100%;
        }
        &-content{
            font-size: map-get($map: $font-size, $key: "sm");
            line-height: $line-height-base;
            color: $grey;

            grid-area: content;

            width: 360px;
            max-width: 100%;
        }
    }

    // Links
    &__subinfo{
        flex: 0 0 100%;
        max-width: 100%;

        width: 100%;
        margin-top: map-get($map: $spacers, $key: 1);
        // margin-bottom: $spacer;

        display: grid;
        grid-gap: $spacer-gutter;
        grid-template-columns: 1fr 1fr;

        &-item{
            display: flex;
            align-items: center;

            // &:hover{
            //     .product-page__subinfo-icon{
            //         fill: $action;
            //     }
            // }

            &:nth-child(2n){
                justify-content: flex-end;
                text-align: right;
            }
        }
        &-icon{
            fill: $grey;
            margin-right: 10px;
            height: 14px;

            transition: .3s;
        }
        &-link{
            font-size: map-get($map: $font-size, $key: "xs");
            line-height: map-get($map: $font-size, $key: "sm");
            text-decoration: none;
            color: $grey;
    
            &:hover{
                text-decoration: none;
            }
        }
    }
    // Help INformation
    &__help{
        font-size: map-get($map: $font-size, $key: "sm");
        line-height: $line-height-base;

        &-svg{
            margin-right: 5px;
        }
    }

    // Product Content Block
    &__content{
        flex: 0 0 100%;
        max-width: 100%;
        padding: $spacer $spacer/2;
    }
    &__row{
        margin-left: -$spacer-gutter;
        margin-right: -$spacer-gutter;
    }
    &__col{
        padding: 0 $spacer-gutter;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .product-page{
        // Simple Product Information
        &__price{
            flex: 0 0 calc(100% - 160px);
            max-width: calc(100% - 160px);
        }
        &__cashback{
            flex: 0 0 160px;
            max-width: 160px;
        }
        // Product Content Block
        &__content{
            padding: $spacer 0;
        }
        &__row{
            margin-left: -($spacer/2);
            margin-right: -($spacer/2);
        }
        &__col{
            padding: 0 $spacer/2;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .product-page{
        // Simple Product Information
        &__title{
            flex: 0 0 calc(100% - 100px);
            max-width: calc(100% - 100px);

            padding-right: $spacer-gutter;
            margin-bottom: 0;
        }
        &__article{
            flex: 0 0 100px;
            max-width: 100px;
        }
        &__complect{
            margin: 10px 0 map-get($map: $spacers, $key: 2);
        }
        // Product Content Block
        &__content{
            padding: $spacer/2 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product-page{
        // Simple Product Information
        &__title{
            flex: 0 0 100%;
            max-width: 100%;

            font-size: 16px;
            margin-bottom: 5px;
        }
        &__article{
            flex: 0 0 100%;
            max-width: 100%;
            
            text-align: left;
        }
        &__price{
            flex: 1 0 60%;
            max-width: 60%;

            margin-bottom: $spacer-gutter;
        }
        &__cashback{
            flex: 0 0 40%;
            max-width: 40%;

            margin-bottom: $spacer-gutter;
        }
        &__complect{
            margin: 0 0 map-get($map: $spacers, $key: 2);
        }

        // Blockquote
        &__blockquote{
            margin: 0;
        }

        // Product Buttons
        &__buy{
            flex: 0 0 50%;
        }
        &__quick-buy{
            flex: 0 0 50%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product-page{
        // Simple Product Information
        &__price{
            margin-bottom: 10px;
        }
        &__cashback{
            margin-bottom: 10px;
        }
        
        &__order{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }

        // Complect Product Information
        &__complect-table{
            margin-top: 10px;
        }

        // Product's Option
        &__option{
            margin-top: map-get($map: $spacers, $key: 1);
        }
        &__size{
            display: grid;
            grid-gap: 6px;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

            &_has-default{
                grid-template-columns: 100px repeat(auto-fit, minmax(60px, 1fr));
            }
        }

        // Links
        &__subinfo{
            margin: map-get($map: $spacers, $key: 2) 0;
        }
        // Help INformation
        &__help{
            font-size: map-get($map: $font-size, $key: 'xs');
        }
    }
}