.product-nav{
    height: auto;
    height: intrinsic;

    &__item{
        padding: $spacer-gutter/2 0;
        outline: none;
        
        overflow: hidden;

        cursor: pointer;
        filter: opacity(.5);

        &:hover, &:focus{
            outline: none;
        }
        // Slick
        &.slick-slide{
            height: auto;
        }
        &.slick-active{
            filter: opacity(.7);
        }
        &.slick-current{
            filter: opacity(1);
        }
    }
    &__item-complect-sm{
        padding: 0 5px;
        outline: none;
        overflow: hidden;

        filter: opacity(.5);
        cursor: pointer;

        &:hover, &:focus{
            outline: none;
        }
        // Slick
        &.slick-slide{
            height: auto;
        }
        &.slick-active{
            filter: opacity(.5);
        }
        &.slick-current{
            filter: opacity(1);
        }
    }

    // Complect Two Products
    &_complect-sm{
        height: fit-content;
        height: auto;
    
        margin-top: $spacer/2;
    
        // Slick
        .slick-list{
            margin-left: -5px;
            margin-right: -5px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .product-nav{
        &_complect-sm{
            margin-top: $spacer-gutter;
    
            margin-left: 0;
            margin-right: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .product-nav{
        height: fit-content;
        height: auto;

        margin-left: 0;
        margin-right: 0;

        &__item{
            padding: $spacer-gutter 0 0;
            margin: 0 6px;
        }

        &_complect-sm{
            margin-top: 10px;
    
            // Slick
            .slick-list{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}