.product-slider{
    display: flex;
    flex-wrap: nowrap;

    &__nav{
        flex: 0 0 140px;
        max-width: 140px;

        &_complect{
            flex: 0 0 80px;
            max-width: 80px;
        }
    }
    &__main{
        flex: 0 0 calc(100% - 140px);
        max-width: calc(100% - 140px);

        padding: 0 map-get($map: $spacers, $key: 4) 0 map-get($map: $spacers, $key: 2);

        &_complect{
            flex: 0 0 calc(100% - 80px);
            max-width: calc(100% - 80px);
    
            padding: 0 map-get($map: $spacers, $key: 2) 0 10px;   
        }
    }
}

.product-slider_block{
    display: block;
}