.product-nav{
    height: 100%;

    &__item{
        padding: $spacer-gutter/2 0;
        outline: none;
        
        overflow: hidden;

        cursor: pointer;
        filter: opacity(.5);

        &:hover, &:focus{
            outline: none;
        }

        &_sm{
            padding: 5px 0;
        }

        // Slick
        &.slick-slide{
            height: auto;
        }
        &.slick-active{
            filter: opacity(.7);
        }
        &.slick-current{
            filter: opacity(1);
        }
    }
}

.product-nav_complect{
    height: fit-content;
    height: auto;

    margin-top: $spacer/2;
    padding-right: $spacer/2;

    &__item{
        padding: 0 5px;
        outline: none;

        border-radius: $border-radius;
        overflow: hidden;

        filter: opacity(.5);
        cursor: pointer;

        &:hover, &:focus{
            outline: none;
        }
        // Slick
        &.slick-slide{
            height: auto;
        }
        &.slick-active{
            filter: opacity(.5);
        }
        &.slick-current{
            filter: opacity(1);
        }
        .img-fluid{
            border-radius: 4px;
        }
    }

    // Slick
    .slick-list{
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .product-nav{
        height: fit-content;
        height: auto;

        margin-left: 0;
        margin-right: 0;

        &__item{
            padding: $spacer-gutter 0 0;
            margin: 0 6px;
        }
    }
    .product-nav_complect{
        margin-top: 10px;
        padding-right: 0;

        margin-left: 0;
        margin-right: 0;
    }
}