.preview_promo{
    &__image{
        margin-bottom: map-get($map: $spacers, $key: 1);
        &:before{
            padding-bottom: 120%;
        }
    }
    &__title{
        font-size: map-get($map: $font-size, $key: md);
        font-weight: $font-weight-bolder;
        letter-spacing: $letter-spacing;
    }
}