.preview{
    display: block;
    width: 100%;

    &__image{
        position: relative;
        display: block;
        width: 100%;
        border-radius: $border-radius;
        background: no-repeat center / cover;

        &:before{
            content: '';
            display: block;
            width: 100%;
        }

        &:after{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;

            top: calc(50% - 20px);
            left: calc(50% - 20px);

            background: url('../icon/loader.gif') no-repeat center / contain ;
            opacity: 0;
            transition: .3s;
        }

        &.b-lazy:not(.b-loaded){
            &:after{
                opacity: 1;
            }
        }
    }
    &__title{
        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bold;
        line-height: $line-height-heading;
        
        padding-left: $border-radius;
        margin-bottom: map-get($map: $spacers, $key: 0);
        color: $black;
    }
    &__tag{
        font-size: map-get($map: $font-size, $key: xs);
        line-height: $line-height-heading;
        text-transform: uppercase;
        margin-bottom: map-get($map: $spacers, $key: 1);
        color: $grey;
    }
    &__intro{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: 1.4;

        margin-bottom: map-get($map: $spacers, $key: 1);
        color: $grey;
    }
    &__link{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: 1.4;
        font-weight: $font-weight-bold;
        color: $action;
        text-decoration: underline;

        &:hover, &:focus{
            color: darken($color: $action, $amount: 10);
            text-decoration: none;
        }
    }
}

a.preview{
    .preview__title {
        transition: .4s;
    }
    &:hover{
        text-decoration: none;
        .preview__title {
            color: $action;
        }
    }
}