.preview_blog{
    display: grid;
    grid-gap: $spacer-gutter;
    align-items: center;
    grid-template-columns: 120px 1fr;

    &__image{
        margin-right: map-get($map: $spacers, $key: 1);
        &:before{
            padding-bottom: 100%;
        }
    }
    &__title{
        font-size: map-get($map: $font-size, $key: lg);
        line-height: $line-height-heading;
        margin-bottom: $grid-gutter-width/4;
        padding: 0;
    }
    &__intro{
    }
}