.preview_category-tags{
    &__image{
        border: 1px solid $border-color;
        margin-bottom: map-get($map: $spacers, $key: 1);

        // background-color: #ebe7e4;
        // background-size: contain;

        &:before{
            padding-bottom: 100%;
        }
    }
    &__title{
        padding: 0;
        font-weight: $font-weight-bolder;
        line-height: $line-height-heading;
    }
}