.preview_category{
    text-align: center;

    &__image{
        margin-bottom: map-get($map: $spacers, $key: 2);
        &:before{
            padding-bottom: 100%;
        }
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 2px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_category{
        &__image{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
    }
}