.preview_subcategory{
    text-align: center;

    &__image{
        border: 1px solid $border-color;
        margin-bottom: 10px;
        transition: .3s;
        &:before{
            padding-bottom: 100%;
        }
    }
    &__title{
        padding: 0 $spacer-gutter;
    }


    &:hover{
        .preview_subcategory__image{
            border-color: $action;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview_subcategory{
        &__title{
            // font-size: map-get($map: $font-size, $key: 'xs');
            padding: 0;
        }
    }
}