.content__inside
    h4.content__block-title.text-uppercase.mb-2 Fan-Favorites style
    .slider-container
        .slider.slider_category.owl-carousel.owl-theme.mb-1
            .slider__item
                +category('Для женщин: на любой случай', 'актуальные коллекции', 'Перейти в коллекцию', 'collection.html')(dataSrc="/img/bg-women.jpg")
            .slider__item
                +category('Комплекты по выгодным ценам', 'вместе дешевле', 'Посмотреть комплекты', 'complects.html')(dataSrc="/img/bg-complect.jpg")
            .slider__item
                +category('Для мужчин: SANKOM и Mey', 'актуальные коллекции', 'Новые коллекции 2021', 'collection.html')(dataSrc="/img/bg-men.jpg")
            .slider__item
                +category('Скидка на наши товары', 'выгодная покупка', 'Купить сейчас', 'sales.html')(dataSrc="/img/bg-sales.jpg")
            .slider__item
                +category('Новое в каталоге SANKOM', 'коллекции 2021 года', 'Узнать про новинки', 'collection.html')(dataSrc="/img/bg-demo.jpg")