.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-size: map-get($map: $font-size, $key: "sm");
    font-weight: $font-weight-bolder;
    letter-spacing: $letter-spacing;

    color: $body-color;
    background-color: inherit;
    padding: 10px 20px;

    border-radius: 4px;
    border: 1px solid $grey;

    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
        outline: none;
    }

    &--full{
        width: 100%;
    }
    &--small{
        padding: 4px 12px;
        border-radius: 2px;
    }
}