.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-size: map-get($map: $font-size, $key: "sm");
    font-weight: $font-weight-bolder;
    letter-spacing: $letter-spacing;
    line-height: 20px;
    text-align: center;

    color: $body-color;
    background-color: inherit;
    padding: 10px 20px;

    border-radius: $border-radius/2;
    border: 1px solid $grey;
    min-width: 160px;
    max-width: 100%;

    white-space: nowrap;

    transition: all .4s;

    &__icon{
        fill: $body-color;
        transition: all .4s;

        &_left{
            margin-right: 10px;
        }
        &_right{
            margin-left: 10px;
        }
    }

    &:hover {
        color: $action;
        border-color: $action;
        text-decoration: none;
        outline: none;

        .btn__icon{
            fill: $action;
        }
    }

    &--full{
        width: 100%;
    }
    &--small{
        padding: 4px 12px;
        min-width: 120px;
        border-radius: 2px;
    }
    &--has-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn-group{

    display: grid;
    grid-gap: $grid-gutter-width/4;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    .btn{
        min-width: auto;
    }
}