.btn_action{
    border-color: darken($color: $action, $amount: 6);
    background-color: $action;
    color: $white;
    text-align: center;

    &:hover, &:focus {
        background-color: darken($color: $action, $amount: 6);
        color: $white;

        .btn__icon{
            fill: $white;
        }
    }
}