.btn_action{
    border-color: darken($color: $action, $amount: 4);
    background-color: $action;
    color: $white;
    text-align: center;

    &:hover {
        background-color: darken($color: $action, $amount: 4);
        color: $white;
    }
}