.btn{
    position: relative;

    border: none;
    outline: none;
    box-shadow: none;

    // font-size: map-get($map: $font-size, $key: "sm");
    font-weight: $font-weight-bolder;
    // letter-spacing: $letter-spacing;
    line-height: 20px;
    text-align: center;

    color: $body-color;
    background-color: $white;
    padding: 10px 15px;

    border-radius: $border-radius/2;
    border: 2px solid transparent;
    min-width: 160px;
    max-width: 100%;

    white-space: nowrap;

    transition: all .4s;

    &__icon{
        fill: $body-color;
        transition: all .4s;

        &_left{
            margin-right: 10px;
        }
        &_right{
            margin-left: 10px;
        }

        &_network{
            position: absolute;
            top: 50%;
            left: $spacer-gutter;
            transform: translateY(-50%);
        }
    }

    &:hover {
        color: $action;
        border-color: $action;
        text-decoration: none;
        outline: none;

        .btn__icon{
            fill: $action;
        }
    }

    &--full{
        width: 100%;
    }
    &--small{
        padding: 4px 12px;
        min-width: 120px;
        border-radius: 2px;
    }
    &--has-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--disabled{
        filter: opacity(0.5);
        cursor: not-allowed;
    }
}


@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        padding: 10px;
        min-width: 140px;

        &--small{
            padding: 4px 12px;
            min-width: 120px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .btn{
        min-width: 1px;
    }
}