.btn_inverse{
    color: $black;
    border-color: $white;
    background-color: $white;

    &:hover{
        color: $black;
        border-color: $light-grey;
        background-color: $light-grey;

        .btn__icon{
            fill: $black;
        }
    }
}