// Dark Btn
.btn_inverse{
    color: $white;
    border-color: $dark-grey;
    background-color: $dark-grey;

    &:hover{
        color: $white;
        border-color: $black;
        background-color: $black;

        .btn__icon{
            fill: $white;
        }
    }
}