.header{
    // overflow: hidden;
    &__sep{
        background-color: darken($color: $body-bg, $amount: 6);
        height: 1px;
    }
    // Editional Banner
    &__temp{
        &-banner{
            background-color: $action;
            color: $white;

            text-align: center;

            font-size: map-get($map: $font-size, $key: "xs" );
            line-height: map-get($map: $font-size, $key: "sm" );

            padding: 10px $spacer 11px;
        }
        &-link{
            text-decoration: underline;
            color: $white;

            &:hover{
                color: $light-grey;
            }
        }
    }
    // Secondary Nav
    &__secondary{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        font-size: map-get($map: $font-size, $key: "sm");
        line-height: $line-height-heading;
        padding: $spacer-gutter 0;

        &-nav{
            flex-grow: 1;
            padding: 0 map-get($map: $spacers, $key: 2);
        }
        &-callback{
            position: relative;
        }
        &-dialog{
            left: -($spacer-gutter);
            top: $spacer/2;

            max-width: unset;
        }
    }
    &__location{
        position: relative;

        flex: 0 0 100px;
        // max-width: 100px;

        &-link{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            cursor: pointer;
        }
        &-icon{
            flex: 0 0 15px;
            max-width: 15px;

            margin-right: 10px;

            path{
                fill: $action;
            }
            circle{
                fill: $white;
            }
        }
        &-place{
            font-size: map-get($map: $font-size, $key: xs);
            white-space: nowrap;

            color: $dark-grey;
            border-bottom: 1px dashed $dark-grey;
            
            transition: .3s;

            &:hover{
                color: $action;
                border-color: $action;
            }
        }
    }
    // Choose Client City
    &__modal-location{
        top: $spacer/2;
        left: 0;
        text-align: center;
    }
    &__modal-title{
        white-space: nowrap;
        margin-bottom: $spacer-gutter;
    }
    &__modal-option{
        display: flex;
        justify-content: center;

        & > * {
            margin: 0 4px;
        }
    }
    &__contact{
        padding-left: $grid-gutter-width/2;
    }
    &__phone{
        font-size: map-get($map: $font-size, $key: "sm");
        font-weight: $font-weight-bold;
        white-space: nowrap;

        &:hover{
            text-decoration: none;
        }
    }
    // Main Nav
    &__main{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        font-size: map-get($map: $font-size, $key: "sm");
        line-height: $line-height-heading;
        padding: $grid-gutter-width/2 0;
    }
    &__logo{
        flex: 0 0 150px;
        &-img{
            max-width: 100%;
            height: auto;
        }

        &_secondary{
            display: none;
        }
    }
    &__nav{
        flex-grow: 1;
        padding: 0 $spacer;
    }

    &__btn-group{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__btn-icon{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        text-align: center;

        cursor: pointer;
        transition: .3s;
    }
    &__btn-cabinet{
        background: url('../icon/icon-cabinet.svg') no-repeat center / 18px;
        margin-right: 8px;
        &:hover{
            background-color: $light-grey;
        }
    }
    &__btn-nav {
        background: $action url(../icon/icon-nav.svg) no-repeat center/14px;
        margin-right: 8px;
    }
    &__btn-callback{
        background: url('../icon/icon-callback.svg') no-repeat center / 20px;
    }
    &__cart{
        display: flex;
        align-items: center;
        justify-content: center;

        background: $action url('../icon/icon-cart.svg') no-repeat 7px 6px / 20px;
        
        &-count{
            font-size: 8px;
            line-height: 10px;
            margin-top: 4px;
        }

        &:hover{
            background-color: darken($color: $action, $amount: 6);
        }

        &--empty{
            background-color: $light-grey;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        // Main Nav
        &__main{
            position: relative;
        }
        &__logo{
            flex: 0 0 120px;
        }
        &__nav{
            flex-grow: 1;
            padding: 0 $spacer/2;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        // Secondary Nav
        &__secondary{
            padding: 8px 0;
        }
        &__secondary-callback{
            display: none;
        }
        // Main Nav
        &__main{
            padding: map-get($map: $spacers, $key: 1) 0;
        }
        &__nav{
            display: none;
        }
        &__btn-cabinet{
            margin-right: map-get($map: $spacers, $key: 1);
        }
        &__btn-nav{
            margin-right: map-get($map: $spacers, $key: 1);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        // Secondary Nav
        &__location{
            display: none;
        }
        &__secondary-nav{
            padding-left: 0px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        // Editional Banner
        &__temp{
            &-banner{
                padding: 6px $spacer/2;
            }
        }
        // Secondary Nav
        &__secondary{
            display: none;
        }
        // Main Nav
        &__main{
            padding: 6px 0;
        }
        &__logo{
            display: none;

            &_secondary{
                display: block;
                flex: 0 0 110px;
                max-width: calc(100% - 120px);
            }
        }
        &__btn-group{
            width: 100%;
            max-width: 100%;

            justify-content: space-between;
        }
        &__btn-cabinet{
            margin-right: 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        border-bottom: 1px solid $border-color;
        // Editional Banner
        &__temp{
            &-banner{
                font-size: map-get($map: $font-size, $key: "xs" );
                line-height: map-get($map: $font-size, $key: "sm" );
            }
        }
    }
}