.complect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: $grid-gutter-width/2;
    border-radius: $border-radius;
    border: 1px solid $border-color;

    &__title{
        flex: 0 0 100%;
        max-width: 100%;
        
        font-weight: $font-weight-bold;
        font-size: map-get($map: $font-size, $key: "sm");
        line-height: $line-height-heading;

        margin-bottom: map-get($map: $spacers, $key: 2);
    }

    // &__intro{
    //     flex: 0 0 100%;
    //     max-width: 100%;

    //     font-size: map-get($map: $font-size, $key: "sm");
    //     line-height: $line-height-heading;
    //     color: $grey;

    //     margin-bottom: $grid-gutter-width/2;
    // }

    &__image{
        flex: 0 0 100%;
        max-width: 100%;

        display: grid;
        grid-gap: 10px;
        height: 160px;

        margin-bottom: $grid-gutter-width/2;

        &_item-2{
            grid-template-columns: repeat(2, 1fr);
        }
        &_item-3{
            grid-template-columns: repeat(3, 1fr);

            .complect__image-item:nth-child(1){
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
        }
        &_full{
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        }
    }

    &__image-item{
        border-radius: 4px;
        background: #ede8e5 no-repeat center / contain;
    }

    &__price{
        &-old{
            font-size: map-get($map: $font-size, $key: "xs");
            line-height: $line-height-heading;
            color: $grey;
            text-decoration: line-through;
            margin-right: 5px;

            display: inline-block;
        }
        &-new{
            font-size: map-get($map: $font-size, $key: "sm");
            font-weight: $font-weight-bold;
            margin-right: 5px;

            display: inline-block;
        }
    }
    &__label{
        font-size: map-get($map: $font-size, $key: xs);
        line-height: map-get($map: $font-size, $key: sm);
        white-space: nowrap;

        padding: 4px 10px;
        border: 1px solid $border-color;
        border-radius: $spacer-gutter;
        background-color: $light-bg;
    }

    &__btn{
        flex: 0 0 100%;
        max-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $grid-gutter-width/2;
        padding: 8px 24px;

        font-size: map-get($map: $font-size, $key: "sm");
        line-height: map-get($map: $font-size, $key: "md");
        color: $action;

        border-radius: $border-radius/2;
        border: 1px solid $action;

        width: 100%;

        &-icon{
            margin-right: 8px;
        }


        &:hover{
            background-color: $action;
            color: $white;

            text-decoration: none;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .complect{
        &__image{
            &_full{
                grid-template-columns: repeat(3, 1fr);
    
                .complect__image-item:nth-child(1){
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .complect{
        &__image{
            &_full{
                grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

                .complect__image-item:nth-child(1){
                    grid-column: 1 / 1;
                    grid-row: 1 / 1;
                }
            }
        }
        &__btn{
            margin-top: map-get($map: $spacers, $key: 1);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .complect{
        &__image{
            height: 120px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .complect{
        &__image{
            height: 180px;

            &_full{
                grid-template-columns: repeat(3, 1fr);
    
                .complect__image-item:nth-child(1){
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .complect{
        padding: map-get($map: $spacers, $key: 1);

        &__title{
            margin-bottom: map-get($map: $spacers, $key: 1);
        }
        &__btn{
            margin-top: map-get($map: $spacers, $key: 1);
        }
    }
}