.tags-row{
    padding: map-get($map: $spacers, $key: 2);
    background-color: $light-bg;

    &__title{
        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bold;
        color: $action;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;

        margin-bottom: map-get($map: $spacers, $key: 1);
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin: -5px;

        // Show All Tags
        &.active{
            .tags-row__link:nth-child(n+16){
                display: inline-block;
            }
        }
    }
    &__link{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: md);
        white-space: nowrap;

        margin: 5px;

        &:before{
            content: '#';
        }

        &:nth-child(n+16){
            display: none;
        }

    }
    &__show{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: md);
        white-space: nowrap;

        margin: 0 5px;
        padding: 2px 10px;

        color: $white;
        background-color: $action;
        border: 1px solid $action;
        border-radius: $spacer-gutter;

        &:hover, &:focus{
            color: $white;
            background-color: darken($color: $action, $amount: 6);
            text-decoration: none;
        }
    }
}
.tags-row_inside-page{
    padding: 0;
    background: inherit;

    .tags-row__link:nth-child(n+16){
        display: inline-block;
    }
}

// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .tags-row{
        padding: map-get($map: $spacers, $key: 1);
    }
}