.tags{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;

    &__link{
        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: md);
        white-space: nowrap;

        padding: 4px 10px;
        border: 1px solid $border-color;
        border-radius: $spacer-gutter;

        margin: 4px;

        &:hover, &:focus{
            text-decoration: none;
            border-color: $action;
        }

        &_category{
            background-color: $light-bg;
            &:hover, &:focus{
                background-color: $white;
            }
        }
        &_disabled{
            background-color: $light-bg;
            &:hover, &:focus{
                border-color: $border-color;
            }
        }
        &_inline{
            &:hover, &:focus{
                border-color: $border-color;
            }
        }
    }

    &:first-child{
        margin-top: -4px;
    }
    &:last-child{
        margin-bottom: -4px;
    }
}