.slider_promo{
    &:not(.owl-loaded){
        grid-gap: $spacer-gutter;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_promo{
        &:not(.owl-loaded){
            grid-gap: $spacer-gutter;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}