.slider{
    &:not(.owl-loaded){
        display: grid;
    }
    &.owl-loaded{
        position: relative;
        transition: .5s;
        // margin-bottom: -$spacer;

        .owl-nav{
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            margin: 0;

            transition: all .4s;
            filter: opacity(0);

            [class*=owl-]{
                position: absolute;
                top: 0;
                transform: translateY(-50%);

                margin: 0;
                width: $spacer;
                height: $spacer;
                border-radius: $spacer/2;

                border: 1px solid $border-color;

                transition: all .4s;

                & > span{
                    display: none;
                }

                &:hover, &:focus{
                    outline: none;
                }
            }

            .owl-prev{
                left: $spacer/2;

                background: $white url('../icon/arrow-left.svg') no-repeat center / 8px;
                background-position-x: calc(50% - 2px);
                filter: opacity(.5);

                &:hover{
                    background: $white url('../icon/arrow-left.svg') no-repeat center / 8px;
                    background-position-x: calc(50% - 2px);
                    filter: opacity(1);
                }

                &.disabled{
                    filter: opacity(0);
                }
            }
            .owl-next{
                right: $spacer/2;

                background: $white url('../icon/arrow-right.svg') no-repeat center / 8px;
                filter: opacity(.5);

                &:hover{
                    background: $white url('../icon/arrow-right.svg') no-repeat center / 8px;
                    filter: opacity(1);
                }

                &.disabled{
                    opacity: 0;
                }
            }
        }
        .owl-dots{
            margin-top: map-get($map: $spacers, $key: 1);

            .owl-dot{
                border: 1px solid $border-color;
                border-radius: 2px;
                padding: 3px!important;
                margin: 2px 6px;

                span{
                    margin: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;

                    background: $white;
                    transition: all .4s;
                }

                &:hover, &:focus{
                    outline: none;

                    span{
                        background: $grey;
                    }
                }

                &.active{
                    span{
                        background: $action;
                    }
                }
            }
        }

        &:hover, &:focus{
            outline: none;
            .owl-nav{
                filter: opacity(1);
                [class*=owl-]{
                    position: absolute;
                }
            }
        }
    }
}

.slider-container{
    &--active{
        margin-right: -($grid-gutter-width/2);
        margin-left: -($grid-gutter-width/2);
    }
}

// < 440px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider-container{
        &--active{
            margin-right: -$spacer-gutter;
            margin-left: -$spacer-gutter;
        }
    }
    .slider-xs-container{
        &--active{
            margin-right: -$spacer-gutter;
            margin-left: -$spacer-gutter;
        }
    }
}
  