.slider{
    .slick-slide{
        height: auto;
        outline: none;
        &:hover,
        &:focus{
            outline: none;
        }
    }

    // Arrows
    .slick-arrow{
        width: $spacer;
        height: $spacer;
        
        background: inherit;
        border: 1px solid $border-color;
        border-radius: $spacer/2;

        filter: opacity(0);
        z-index: 11;
        transition: .4s;

        &.slick-disabled{
            filter: opacity(0);
        }
    }
    .slick-prev{
        left: $spacer/2;
        transform: translate(0, -50%);
        background: $white url("../icon/arrow-left.svg") no-repeat center / 14px;

        &:before{content: '';}
        &:hover, &:focus{
            background: $white url("../icon/arrow-left.svg") no-repeat center / 14px;
        }
    }
    .slick-next{
        right: $spacer/2;
        transform: translate(0, -50%);
        background:  $white url("../icon/arrow-right.svg") no-repeat center / 14px;

        &:before{content: '';}

        &:hover, &:focus{
            background:  $white url("../icon/arrow-right.svg") no-repeat center / 14px;
        }
    }
    // Dots
    .slick-dots{
        li{
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 15px;
            height: 15px;
            border-radius: 2px;
            border: 1px solid $border-color;

            button{
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 2px;
                padding: 0;
                
                &:before{
                    content:'';
                    display: none;
                }
            }

            &.slick-active{
                button{
                    background-color: $action;

                    &:before{
                        content:'';
                        display: none;
                    }
                }
            }
        }
    }
    
    // Force Status
    &:hover, &:focus{
        .slick-arrow{
            filter: opacity(.5);

            &.slick-disabled{
                filter: opacity(0);
            }
            
            &:hover {
                filter: opacity(1);

                &.slick-disabled{
                    filter: opacity(0);
                }
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){}