.slider_category{
    &:not(.owl-loaded){
        grid-gap: $spacer-gutter;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .slider_category{
        &:not(.owl-loaded){
            grid-gap: $spacer-gutter;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}