.footer{
    font-size: map-get($map: $font-size, $key: "xs");
    padding: $spacer/2 0;

    &__nav{
        display: flex;
        flex-wrap: wrap;

        &-item{
            color: $grey;
            margin-right: map-get($map: $spacers, $key: 1);

            &:last-child{
                margin-right: 0;
            }
        }
        &-sep{
            color: $grey;
            margin: 0 4px;
        }
    }
    &__information{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $grey;

        &-link{

        }
        &-sep{
            color: $grey;
            margin: 0 4px;
        }
    }
    &__copyright{
        text-align: right;
    }
    &__additional{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        &-icon{
            width: 26px;
            max-width: 100%;
            height: auto;
            filter: contrast(0.25) opacity(0.75);
            margin-left: 8px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) $spacer-gutter;

        &__col-nav{
            order: 1;
            margin-bottom: 0;
            padding-bottom: map-get($map: $spacers, $key: 1);
        }
        &__nav{
            justify-content: center;
        }
        &__nav-item{
            margin: 2px 10px;

            &:last-child{
                margin: 2px 10px;
            }
        }
        &__col-link{
            order: 2;
        }
        &__col-info{
            order: 3;
            margin-bottom: 0;
            padding-top: 10px;
        }
        &__information{
            justify-content: center;
            filter: opacity(.5);

            &-sep{
                display: none;
            }
        }
        &__additional{
            justify-content: center;
        }
        &__copyright{
            width: 100%;
            text-align: center;
            margin-right: 0;
        }
        &__link{
            color: $grey;
            text-decoration: underline;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) 0 map-get($map: $spacers, $key: 4);

        &__nav-item{
            text-decoration: underline;
            margin: 5px 10px;

            &:last-child{
                margin: 5px 10px;
            }
        }  
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .footer{
        border-top: 1px solid $border-color;
        &__row{
            margin-left: -($spacer-gutter);
            margin-right: -($spacer-gutter);
        }
        // &__col-network{
        &__col-link{
            padding: $spacer-gutter 0;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
        &__col-info{
            padding-top: map-get($map: $spacers, $key: 2);
        }
    }
}