.footer{
    font-size: map-get($map: $font-size, $key: "xs");
    padding: $spacer/2 0;

    &__nav{
        display: flex;
        flex-wrap: wrap;

        &-item{
            margin-right: map-get($map: $spacers, $key: 1);

            &:last-child{
                margin-right: 0;
            }
        }
        &-sep{
            margin: 0 4px;
        }
    }
    &__network{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item{
            margin-right: map-get($map: $spacers, $key: 1);
            filter: opacity(.75);
            cursor: pointer;
            transition: .3s;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                filter: opacity(1);
            }
        }
    }
    &__information{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__copyright{
        margin-right: map-get($map: $spacers, $key: 1);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) $spacer-gutter map-get($map: $spacers, $key: 4);

        &__col-nav{
            order: 1;
            margin-bottom: $spacer-gutter;
        }
        
        &__col-info{
            order: 2;
            margin-bottom: $spacer-gutter;
        }
        &__information{
            justify-content: flex-start;
        }
        &__copyright{
            margin-right: 0;
            margin-bottom: $spacer-gutter/3;
        }

        &__col-network{
            order: 3;
        }
        &__network{
            justify-content: flex-start;
        }        

        &__nav-item{
            text-decoration: underline;
        }
        &__link{
            color: $grey;
            text-decoration: underline;
        }
    }
}