.footer{
    font-size: map-get($map: $font-size, $key: "xs");
    padding: $spacer/2 0;

    &__nav{
        display: flex;
        flex-wrap: wrap;

        &-item{
            margin-right: map-get($map: $spacers, $key: 1);

            &:last-child{
                margin-right: 0;
            }
        }
        &-sep{
            margin: 0 4px;
        }
    }
    &__network{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item{
            margin-right: map-get($map: $spacers, $key: 1);
            filter: opacity(.75);
            cursor: pointer;
            transition: .3s;

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                filter: opacity(1);
            }
        }
        &-title{
            display: none;

            font-weight: $font-weight-bolder;
            text-transform: uppercase;
            margin-right: map-get($map: $spacers, $key: 1);
            color: $grey;
        }
    }
    &__information{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__copyright{
        margin-right: map-get($map: $spacers, $key: 1);
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) $spacer-gutter;

        &__col-nav{
            order: 1;
            margin-bottom: 0;
            padding-bottom: map-get($map: $spacers, $key: 2);
        }
        &__nav{
            justify-content: center;
        }
        &__nav-item{
            margin: 2px 10px;

            &:last-child{
                margin: 2px 10px;
            }
        }
        &__col-network{
            order: 2;
            padding: 0;
        }
        &__network{
            &-title{
                display: inline-block;
            }
        }
        &__col-info{
            order: 3;
            margin-bottom: 0;
            padding-top: map-get($map: $spacers, $key: 1);
        }
        &__information{
            justify-content: center;
            filter: opacity(.5);
        }
        &__copyright{
            width: 100%;
            text-align: center;
            margin-right: 0;
        }
        &__link{
            color: $grey;
            text-decoration: underline;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) $spacer-gutter map-get($map: $spacers, $key: 4);
        border-top: 1px solid $border-color;

        &__nav-item{
            text-decoration: underline;
            margin: 5px 10px;
        }
        &__col-info{
            padding-top: map-get($map: $spacers, $key: 2);
        }       
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .footer{
        &__col-network{
            padding: $spacer-gutter 0;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
    }
}