footer.footer.container
    .row 
        .col-5.col-xs-12.footer__col-nav
            .footer__nav
                a.footer__nav-item(href="#" data-sidebar="payment") Способы оплаты
                a.footer__nav-item(href="#" data-sidebar="delivery") Доставка
                a.footer__nav-item(href="#" data-sidebar="programm") Программа лояльности
                a.footer__nav-item(href="#") Гарантия
                a.footer__nav-item(href="#") Возврат
                a.footer__nav-item(href="text.html") Контакты
        .col-2.col-xs-12.footer__col-network
            .footer__network
                .footer__network-title Мы в соц.сетях:
                a.footer__network-item(href="#")
                    img.img-fluid(src="./icon/vk.svg")
                a.footer__network-item(href="#")
                    img.img-fluid(src="./icon/fb.svg")
        .col-5.col-xs-12.footer__col-info
            .footer__information 
                .footer__copyright © 2021 SANKOM Все права защищены 
                .footer__nav
                    a.footer__link(href="#") Политика конфиденциальности
                    .footer__nav-sep |
                    a.footer__link(href="#") Условия продажи
.overlay.overlay--disable