footer.footer.container
    .row 
        .col-5
            .footer__nav
                a.footer__nav-item(href="#") Способы оплаты
                a.footer__nav-item(href="#") Доставка
                a.footer__nav-item(href="#") Программа лояльности
                a.footer__nav-item(href="#") Гарантия
                a.footer__nav-item(href="#") Возврат
                a.footer__nav-item(href="#") Контакты
        .col-2
            .footer__network
                a.footer__network-item(href="#")
                    img.img-fluid(src="./icon/vk.svg")
                a.footer__network-item(href="#")
                    img.img-fluid(src="./icon/fb.svg")
        .col-5
            .footer__information 
                .footer__copyright © 2021 SANKOM Все права защищены 
                .footer__nav
                    a(href="#") Политика конфиденциальности
                    .footer__nav-sep |
                    a(href="#") Условия продажи