.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    &__input{
        display: none;

        // active
        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background: url("../icon/checkbox.svg") no-repeat center / 8px;

            width: 14px;
            height: 14px;

            position: absolute;
            left: 0;
            top: calc( 50% - 7px);
        }
        // disable
        &:disabled + .checkbox__label {
            cursor: not-allowed;
            color: $grey;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 24px;
        line-height: 1.4;

        transition: .3s;
        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border-radius: 2px;
            border: 1px solid $border-color;
            background: $light-bg;

            width: 14px;
            height: 14px;

            position: absolute;
            left: 0;
            top: calc( 50% - 7px);
        }

        &:hover{
            color: $action;
        }
    }

    &--disabled{
        filter: opacity(.75);
    }
}