.input{
    position: relative;

    &__field{
        width: 300px;
        max-width: 100%;
        background-color: $white;
        border-radius: $border-radius/2;
        border: 1px solid $border-color;
        color: $black;

        line-height: 20px;
        padding: 10px 15px;
        transition: .4s;

        &::placeholder{
            color: $grey;
            opacity: 1;
        }
        // psevdo state
        &:hover{
            border-color: $border-color;
            outline: none;
        }
        &:focus{
            border-color: $action;
            outline: none;

            &::placeholder{
                opacity: 0;
                transition: .4s;
            }
        }
        &_number{
            width: 90px;
        }
        // JS state
        &--focus {
            & ~ .input__label_inside{
                top: 0;

                font-size: map-get($map: $font-size, $key: xs);
                font-weight: $font-weight-bold;
                color: $action;
                // background-color: $white;

                opacity: 1;

                &:after{
                    content: '';
                    height: 2px;
                    width: calc(100% + 12px);
                    display: block;
                    background: $white;

                    position: absolute;
                    left: -6px;
                    top: 50%;
                    z-index: -1;

                    transform: translateY(-1px);
                }
            }
        }
        &--error{
            background-color: #ffe2e2;
        }
        // CSS state
        &--full{
            width: 100%;
        }
    }
    &__label{
        line-height: 1;
        margin: 0;
        padding: 0;

        &_top{
            font-size: map-get($map: $font-size, $key: xs);
            font-weight: $font-weight-bold;
            padding: 6px 0;
            margin-bottom: 5px;
        }
        &_inside{
            position: absolute;
            top: 20px;
            left: 15px;
            transform: translateY(-50%);

            font-size: map-get($map: $font-size, $key: md);
            line-height: 20px;

            color: $grey;
            transition: all ease .2s;
        }

    }

    &--full{
        width: 100%;
    }
}