.radio{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    width: 100%;
    
    &__input{
        display: none;

        &:checked + .radio__label:after {
            filter: opacity(1);
        }
    }
    &__label{
        position: relative;
        cursor: pointer;

        line-height: $line-height-base;
        padding-left: 24px;
        margin: 0;

        &:before{
            content:'';
            display: block;

            position: absolute;
            left: 0;
            top: calc(50% - 7px);

            width: 14px;
            height: 14px;
            border-radius: 7px;

            background: $border-color;
        }
        &:after{
            content: '';
            display: block;

            position: absolute;
            left: 4px;
            top: calc(50% - 3px);

            width: 6px;
            height: 6px;
            border-radius: 3px;

            background: $action;
            filter: opacity(0);
            transition: .3s;
        }
    }
}

.radio + .radio{
    margin-top: 4px;
}