.form-block{
    padding: $grid-gutter-width $spacer;
    border: 1px solid $border-color;
    // border-radius: $border-radius;
    background-color: $white;
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form-block{
        padding: $spacer/2;
    }
}