.form{
    display: flex;
    flex-wrap: wrap;

    margin: 0;

    &__row{
        display: flex;
        flex-wrap: wrap;

        flex: 0 0 100%;
        max-width: 100%;

        margin-left: -(map-get($map: $spacers, $key: 1)/2);
        margin-right: -(map-get($map: $spacers, $key: 1)/2);
    }
    &__col{
        flex: 0 0 50%;
        max-width: 50%;

        &_gutters{
            padding: 0 map-get($map: $spacers, $key: 1)/2;
        }
    }
    &__line{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        flex: 0 0 100%;
        max-width: 100%;

        &-input{
            flex: 0 0 calc(100% - 175px);
            max-width: calc(100% - 175px);
        }
        &-field{
            width: 100%;
        }
        &-btn{
            flex: 0 0 160px;
            max-width: 160px;
        }
    }
    &__validation{
        font-size: 12px;
        margin-bottom: $grid-gutter-width/4;
    }
    &__agree{
        font-size: 12px;
        color: $grey;
    }
    &__offset-group{
        flex: 0 0 100%;
        max-width: 100%;

        margin-top: 8px;
    }
}