@import "variable";

// Banner With Background Image
@import "banner/banner";
@import "banner/banner_sales";
// Banner With 1-4 Image
@import "banner/banner-intro";
// Banner Video
@import "banner/banner-video";
// Banner Subscribe
@import "banner/banner-promo";
// Tabs
@import "tabs/tabs";
// Networks Link
@import "networks/networks";
// Preview Person With Avatar
@import "person/person";
// All Sliders Style
@import "slider/slider";
@import "slider/slider_subcategory";
@import "slider/slider_category";
@import "slider/slider_tags";
@import "slider/slider_promo";
@import "slider/slider_video";
// Tags
@import "tags/tags";
@import "tags/tags-row";
// Different Preview
@import "preview/preview";
@import "preview/preview_subcategory";
@import "preview/preview_slider-tags";
@import "preview/preview_promo";
@import "preview/preview_category";
@import "preview/preview_category-tags";
@import "preview/preview_blog";
@import "preview/preview_blog-col";
// Catalog
@import "filters/filter-nav";
@import "filters/filter-row";
@import "filters/filters";
// Cart
@import "cart/cart";
@import "cart/cart-sidebar";
@import "cart/cart-sidebar_cashback";
@import "cart/cart-sidebar_preview";
// Product Page Slider
@import "product/product-slider";
@import "product/product-nav";
// Product Page Slider Main Image
@import "product/product-image";
// Product Page
@import "product/product-page";
@import "product/product-page_fixed";
// Product's Preview Grid
@import "product-preview/product-grid";
// Products Preview
@import "product-preview/product";
@import "product-preview/product_small";
@import "product-preview/product_cart";
@import "product-preview/product_in-slider";
// Compect Products Preview
@import "complect/complect";
// Faq
@import "faq/faq";
@import "faq/faq_toggle";
@import "faq/faq_link";
// Content
@import "content/content-person";
// Cabinet
@import "cabinet/cabinet";
// Display Style
@import "framework/display";
