html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title 404

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')
    body
        script(src="/js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            //- 404
            section.content.container
                .content__inside
                    .text-center 
                        p.heading-error.text-covered Oops!
                        h1.h5.text-spacing.text-bolder.text-uppercase.text-action Страница не найдена
                        p.mt-2 Возможно вы ошиблись в адресе или она была удалена
                    //- Category In Catalog
                    .row.align-items-center.mt-3.mb-2
                        .col-8.col-sm-6
                            h2.content__block-title.mb-0 SHOP BY CATEGORY
                        .col-4.col-sm-6.text-right
                            a.content__block-link(href="catalog.html") Каталог товаров
                    .slider-container
                        .slider.slider_subcategory.slider_subcategory-index.owl-carousel.owl-theme
                            .slider__item
                                +subcategory('Бюстгальтеры', '', 'category.html')(dataSrc='./img/advantage-0.jpg')
                            .slider__item
                                +subcategory('Трусы', '', 'category.html')(dataSrc='./img/advantage-1.jpg')
                            .slider__item
                                +subcategory('Шорты', '', 'category.html')(dataSrc='./img/advantage-2.jpg')
                            .slider__item
                                +subcategory('Леггинсы', '', 'category.html')(dataSrc='./img/advantage-3.jpg')
                            .slider__item
                                +subcategory('Майки', '', 'category.html')(dataSrc='./img/advantage-4.jpg')
                            .slider__item
                                +subcategory('Носки', '', 'category.html')(dataSrc='./img/advantage-1.jpg')
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        
        //- script(src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")

        script(src="./js/jquery.inputmask.min.js")
        
        link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")
        
        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")