html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Banners

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href='/css/banners.css', rel='stylesheet')

    body
        include component/mixin.pug
        .area-banners(style="margin: 30px auto 0; width: 1440px; max-width: calc(100% - 30px);")
            +banner('Спорт и lifestyle', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat blandit ipsum amet sed ipsum. Congue lorem faucibus nisl a. Turpis volutpat volutpat malesuada quis velit ac. Tellus magna.', '', '')(class="banner_content-left" style="background-image:url('/img/banner-3.jpg');")
                p.text-bolder ✓ IMPROVES POSTURE <br/>
                    | ✓ REDUCES UPPER BACK PAIN <br/>
                    | ✓ COVERAGE, SUPPORT, LIFT & SHAPE
        .area-banners(style="margin: 30px auto 0; width: 1440px; max-width: calc(100% - 30px);")
            .banner-intro.mt-2.mb-2
                .banner-intro__content
                    p.banner-intro__title Уникальные патентные технологии
                    p The only bra in the world that uses the natural weight of the breasts to pull your shoulders backward and improve your posture!
                    p ✓ IMPROVES POSTURE <br/>
                        | ✓ REDUCES UPPER BACK PAIN <br/>
                        | ✓ COVERAGE, SUPPORT, LIFT & SHAPE
                .banner-intro__image-block
                    img.banner-intro__image.img-fluid(src="/img/advantage-0.jpg")
                    img.banner-intro__image.img-fluid(src="/img/advantage-1.jpg")
                    img.banner-intro__image.img-fluid(src="/img/advantage-2.jpg")