html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Blog

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')
    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            //- Blog
            section.content.container
                .content__inside
                    ul.breadcrumb
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="index.html") Главная
                        li.breadcrumb__item.breadcrumb__item--active Блог
                    .row.mt-2
                        .col-2.col-xl-3.col-lg-4.col-md-12.mb-md-2.mb-xs-1
                            //- Category Links
                            .filter-nav.filter-nav_toggle.mb-2.mb-md-1
                                .filter-nav__parent.filter-nav_toggle__parent Категории
                                .filter-nav__children.filter-nav_toggle__children
                                    a.filter-nav__link(href="#") Обзоры
                                    a.filter-nav__link(href="#") Видео
                                    a.filter-nav__link(href="#") Статьи
                                    a.filter-nav__link(href="#") Фотографии
                            .filter-row.mb-1
                                .filter-row__title Параметр фильтрации
                                .filter-row__content 
                                    .checkbox
                                        input.checkbox__input#param1(type="checkbox" name="type" checked="checked")
                                        label.checkbox__label(for="param1") Параметр 1
                                    .checkbox.mt-1
                                        input.checkbox__input#param2(type="checkbox" name="type")
                                        label.checkbox__label(for="param2") Параметр 2
                                    .checkbox.checkbox--disabled.mt-1
                                        input.checkbox__input#param3(type="checkbox" name="type" disabled="disabled")
                                        label.checkbox__label(for="param3") Параметр 3
                            .filter-row.mb-1
                                .filter-row__title Параметр фильтрации
                                .filter-row__content 
                                    .radio
                                        input.radio__input#test1(type="radio" name="test" checked="checked")
                                        label.radio__label(for="test1") Параметр 1
                                    .radio.mt-1
                                        input.radio__input#test2(type="radio" name="test" checked="checked")
                                        label.radio__label(for="test2") Параметр 2
                                    .radio.checkbox--disabled.mt-1
                                        input.radio__input#test3(type="radio" name="test" checked="checked")
                                        label.radio__label(for="test3") Параметр 3
                            .filter-row.filter-row--active.mb-1
                                .filter-row__title.filter-row__title--active Параметр фильтрации
                                .filter-row__content(style="display: block;")
                                    .checkbox
                                        input.checkbox__input#param11(type="checkbox" name="type" checked="checked")
                                        label.checkbox__label(for="param11") Параметр 1
                                    .checkbox.mt-1
                                        input.checkbox__input#param12(type="checkbox" name="type")
                                        label.checkbox__label(for="param12") Параметр 2
                                    .checkbox.checkbox--disabled.mt-1
                                        input.checkbox__input#param13(type="checkbox" name="type" disabled="disabled")
                                        label.checkbox__label(for="param13") Параметр 3
                        .col-10.col-xl-9.col-lg-8.col-md-12
                            h1.heading-covered.text-covered Blog Sankom
                            //- h1.h3 Блог: обзоры, статьи и отзывы о&nbsp;товарах
                            .row.mt-2.mt-md-3
                                .col-4.col-xl-6.col-sm-12.mb-3
                                    +blogCol("Позы йоги для снятия напряжения позвоночника", "Aliquam, porttitor tortor neque diam quam nulla massa tellus pretium quam mauris magna senectus", "blog-inside.html")(dataSrc="./img/image-1.jpg")
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper АЛОЭ
                                        //- span.tags__link.tags__link_disabled Леггинсы LIGHT BLUE JEANS
                                .col-4.col-xl-6.col-sm-12.mb-3
                                    +blogCol("Потрясающий эффект коррекции майки SANKOM", "", "blog-inside.html")(dataSrc="./img/image-2.jpg")
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper АЛОЭ
                                        //- span.tags__link.tags__link_disabled Леггинсы LIGHT BLUE JEANS
                                .col-4.col-xl-6.col-sm-12.mb-3
                                    +blogCol("Фотоссесия моделей Plus Size", "Aliquam, porttitor tortor neque diam quam nulla massa tellus pretium quam mauris magna senectus", "blog-inside.html")(dataSrc="./img/image-3.jpg")
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper АЛОЭ
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper COOLING
                                        //- span.tags__link.tags__link_disabled Майка VEST BODY SHAPER
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper БАМБУК
                                        //- span.tags__link.tags__link_disabled Трусы Briefs Shaper COOLING
                                .col-4.col-xl-6.col-sm-12.mb-3
                                    +blogCol("Позы йоги для снятия напряжения позвоночника", "Aliquam, porttitor tortor neque diam quam nulla massa tellus pretium quam mauris magna senectus", "blog-inside.html")(dataSrc="./img/image-4.jpg")
                                        //- span.tags__link.tags__link_disabled Шорты Long Shaper АЛОЭ
                                        //- span.tags__link.tags__link_disabled Леггинсы LIGHT BLUE JEANS
                                                        .tags-row
                            .pagination
                                a.pagination__link.pagination__link_prev(href="#") &nbsp;
                                a.pagination__link(href="#") 1
                                a.pagination__link(href="#") 2
                                a.pagination__link.pagination__link--active(href="#") 3
                                a.pagination__link(href="#") 4
                                a.pagination__link.pagination__link_next(href="#") &nbsp;
                            .tags-row.mt-2
                                .tags-row__title Теги публикаций
                                .tags-row__items 
                                    a.tags-row__link(href="catalog.html") После кесарева
                                    a.tags-row__link(href="catalog.html") Антицеллюлитный эффект
                                    a.tags-row__link(href="catalog.html") Убрать живот
                                    a.tags-row__link(href="catalog.html") Убрать бока
                                    a.tags-row__link(href="catalog.html") Тонкая талия
                                    a.tags-row__link(href="catalog.html") Моделирующий эффект
                                    a.tags-row__link(href="catalog.html") Под платье
                                    a.tags-row__link(href="catalog.html") Для лета
                                    a.tags-row__link(href="catalog.html") Сильная степень утяжки
                                    a.tags-row__link(href="catalog.html") Для фитнеса
                                    a.tags-row__link(href="catalog.html") Функциональная тренировка
                                    a.tags-row__link(href="catalog.html") Для спорта
                                    a.tags-row__link(href="catalog.html") Для бега
                                    a.tags-row__link(href="catalog.html") Для занятий йогой
                                    a.tags-row__link(href="catalog.html") Для пилатеса
                                    a.tags-row__link(href="catalog.html") Для легкой атлетики
                                    a.tags-row__link(href="catalog.html") Для водителей
                                    a.tags-row__link(href="catalog.html") Коллекция белья из бамбука
                                    a.tags-row__link(href="catalog.html") Сидячий образ жизни
                                    a.tags-row__link(href="catalog.html") Для занятий аэробикой
                                    a.tags-row__link(href="catalog.html") Стретчинг
                                    a.tags-row__link(href="catalog.html") Crossfit 
                                    a.tags-row__link(href="catalog.html") Возрастные изменения
                                    a.tags-row__link(href="catalog.html") На каждый день
                                    a.tags-row__show(data-trigger="click" href="javascript:;") Показать все теги
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug

        script(src="./js/jquery.inputmask.min.js")

        link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")

        script(src="./js/blazy.min.js")
        
        script(src="./js/app.min.js")