html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Cart Step 3

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        main
            section.content.container
                .content__inside
                    .row.justify-content-center.cart.pt-3.pb-3
                        //- Main Content 
                        .col-4.text-center 
                            h1.h4 Ваш заказ оформлен
                            p Спасибо за&nbsp;заказ! В&nbsp;ближайшее время мы свяжемся с&nbsp;вами для&nbsp;уточнения деталей.
                            .mt-2.mb-2
                                .cart__order-details.text-smaller
                                    span.text-grey № заказа:
                                    span.text-bold.text-action 001766
                                    <svg class="cart__order-icon" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="17.5" cy="17.5" r="17.5" fill="#DD0330"/>
                                        <path d="M17.6243 6C15.3129 6 13.4488 7.86104 13.4488 10.1687V12.7246H10.367L9 26H26L24.633 12.7246H21.8246V10.1687C21.8246 7.86104 19.9605 6 17.6491 6C17.6243 6 17.6243 6 17.6243 6Z" fill="#3A3A3A"/>
                                        <path d="M14.0125 10.1688C14.0125 8.18365 15.6254 6.57074 17.6105 6.59556C19.5956 6.59556 21.1837 8.20846 21.1837 10.1688V12.7246H14.0125V10.1688Z" fill="white" stroke="#3A3A3A" stroke-miterlimit="10"/>
                                        <path d="M25.3274 25.4293H9.64502L10.8609 13.3201H24.0867L25.3274 25.4293Z" fill="white" stroke="#3A3A3A" stroke-miterlimit="10"/>
                                    </svg>
                                .cart__order-details.text-smaller
                                    span.text-grey Заказ оформил:
                                    span.text-bold Иванов Иван
                                .cart__order-details.text-smaller
                                    span.text-grey Способ доставки:
                                    span.text-bold курьер по Москве (согласовать)
                                .cart__order-details.text-smaller
                                    span.text-grey Способ оплаты:
                                    span.text-bold онлайн-оплата
                            +btn('#', 'Детали заказа')
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")