html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Sales

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            section.content.container
                .content__inside
                    //- Banner Main 
                    +banner('Скидки на&nbsp;товары до&nbsp;50%', '','','')(class="banner_sales" classTitle="banner__title_full")
                        .row
                            .col-6.text-right
                                +btn('#', 'Для женщин')(class="btn_inverse")
                            .col-6.text-left
                                +btn('#', 'Для мужчин')(class="btn_inverse")
                    //- Filter's block
                    .mt-1
                        include component/filters/filters.pug
                    p.content__category-title.text-center.text-sm-left.mt-3.mt-xs-2.mb-2.mb-md-1.mb-sm-0 Распродажа
                    .row
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'Sale', '', 'product.html')(dataSrc="./img/product-9.jpg" dataSrcHover="./img/product-6.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', 'ожидаем поступления на склад', 'product.html')(dataSrc="./img/product-7.jpg" dataSrcHover="./img/product-8.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'New+Promo', '', 'product.html')(dataSrc="./img/product-1.jpg" dataSrcHover="./img/product-6.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc="./img/product-2.jpg" dataSrcHover="./img/product-7.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'Sale', '', 'product.html')(dataSrc="./img/product-9.jpg" dataSrcHover="./img/product-6.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc="./img/product-7.jpg" dataSrcHover="./img/product-8.jpg")
            //- Information
            aside.content.content_secondary.container
                .content__inside
                    .row.mt-2.mb-2
                        .col-6.col-lg-12
                            .form-block
                                p.h4.mb-1 Персональные скидки и новости
                                p.text-grey.mb-2 Facilisis nunc proin sapien, dictum quam ornare orci dolor viverra pellentesque
                                form.form(action="")
                                    .form__col.mb-xl-1
                                        +radio('radio1', 'Получать все новости SANKOM','news','checked')
                                    .form__col.mb-xl-1
                                        +radio('radio2', 'Акции и скидки','news')
                                    .form__col
                                        +radio('radio3', 'Персональные предложения','news')
                                    .form__line.mt-2
                                        +input('', 'E-mail')(class="input_label-inside form__line-input" label="input__label_inside bg-white" field="form__line-field" )
                                        +btn('', 'Подписаться')(class="btn_action btn_icon-check")
                        .col-6.col-lg-12.mt-lg-2
                            +faq('О бренде SANKOM, материалах и технологиях производства', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Подробнее о программе лояльности', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Узнать о способах доставки, оплаты и возврата', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Таблицы размеров', './icon/faq.svg', 'faq.html')(class="bg-white")
            include component/banner/delivery.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")