html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Category

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            section.content.container
                .content__inside
                    //- Banner Main 
                    +bannerCategory('Идеальная поддержка', 'Sed dui habitant lectus quam pharetra id pretium amet, eget. Eget nibh eget mattis.')(class="banner_content-center"  dataSrc="./img/banner-2.jpg" dataSrcSmall="./img/banner-2-mobile.jpg")
                    //- Banner Tech
                    .banner-intro.mt-2.mb-2
                        .banner-intro__content.banner-intro__content_left
                            p.banner-intro__label.text-covered Wow
                            p.banner-intro__title Уникальные патентные технологии
                            p.text-grey The only bra in the world that uses the natural weight of the breasts to pull your shoulders backward and improve your posture!
                            p ✓ IMPROVES POSTURE <br/>
                                | ✓ REDUCES UPPER BACK PAIN <br/>
                                | ✓ COVERAGE, SUPPORT, LIFT & SHAPE
                        .banner-intro__image-block.loading
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                    //- Category's tags
                    .tags
                        a.tags__link.tags__link_category(href="category-tags.html") Коррекция и красота
                        a.tags__link(href="catalog.html") Для повседневного использования
                        a.tags__link(href="catalog.html") Убрать бока
                        a.tags__link(href="catalog.html") Убрать живот
                        a.tags__link(href="catalog.html") Тонкая талия
                        a.tags__link(href="catalog.html") Пуш-ап эффект
                        a.tags__link(href="catalog.html") Моделирующий эффект
                        a.tags__link(href="catalog.html") Под верхнюю одежду
                        a.tags__link(href="catalog.html") Под вечерний наряд
                        a.tags__link(href="catalog.html") Для лета
                        a.tags__link.tags__link_category(href="category-tags.html") Спорт и lifestyle
                        a.tags__link(href="catalog.html") Помощь для начинающих в спорте
                        a.tags__link(href="catalog.html") При сгонке веса
                        a.tags__link(href="catalog.html") Силовые тренировки
                        a.tags__link.tags__link_category(href="category-tags.html") Забота о здоровье
                        a.tags__link(href="catalog.html") При болях в спине и пояснице
                        a.tags__link(href="catalog.html") Поддержка спины
                        a.tags__link(href="catalog.html") Исправление осанки
                        a.tags__link(href="catalog.html") Шейный остеохондроз
                        a.tags__link(href="catalog.html") Восстановление после родов
                        a.tags__link(href="catalog.html") Сидячий образ жизни
                    //- Filter's block
                    .mt-3.mt-xs-2
                        include component/filters/filters.pug
                    .row
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'Sale', '', 'product.html')(dataSrc="./product/prod-1.jpg" dataSrcHover="./product/prod-0.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', 'ожидаем поступления на склад', 'product.html')(dataSrc="./product/prod-2.jpg" dataSrcHover="./product/prod-1.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'New+Promo', '', 'product.html')(dataSrc="./product/prod-3.jpg" dataSrcHover="./product/prod-3.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc="./product/prod-2.jpg" dataSrcHover="./product/prod-3.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'Sale', '', 'product.html')(dataSrc="./product/prod-1.jpg" dataSrcHover="./product/prod-2.jpg")
                        .col-3.col-lg-4.col-md-6.mt-2
                            +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc="./product/prod-3.jpg" dataSrcHover="./product/prod-1.jpg")
            //- Information
            aside.content.content_secondary.container
                .content__inside
                    .row.mt-2.mb-2
                        .col-6.col-lg-12
                            .form-block
                                p.h4.mb-1 Персональные скидки и новости
                                p.text-grey.mb-2 Facilisis nunc proin sapien, dictum quam ornare orci dolor viverra pellentesque
                                form.form(action="")
                                    .form__col.mb-xl-1
                                        +radio('radio1', 'Получать все новости SANKOM','news','checked')
                                    .form__col.mb-xl-1
                                        +radio('radio2', 'Акции и скидки','news')
                                    .form__col
                                        +radio('radio3', 'Персональные предложения','news')
                                    .form__line.mt-2
                                        +input('', 'E-mail')(class="input_label-inside form__line-input" label="input__label_inside bg-white" field="form__line-field" )
                                        +btn('', 'Подписаться')(class="btn_action btn_icon-check")
                        .col-6.col-lg-12.mt-lg-2
                            +faq('О бренде SANKOM, материалах и технологиях производства', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Подробнее о программе лояльности', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Узнать о способах доставки, оплаты и возврата', './icon/faq.svg', 'faq.html')(class="bg-white")
                            +faq('Таблицы размеров', './icon/faq.svg', 'faq.html')(class="bg-white")
            include component/banner/delivery.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        //- link(href='./css/owl.carousel.min.css', rel='stylesheet')
        //- link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        //- script(src="./js/owl.carousel.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")