html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Category Tags

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            section.content.container
                .content__inside
                    +banner('Спорт и lifestyle', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat blandit ipsum amet sed ipsum. Congue lorem faucibus nisl a. Turpis volutpat volutpat malesuada quis velit ac. Tellus magna.', '', '')(class="banner_content-left banner_inside" classIntro="banner__intro_left" dataSrc="./img/banner-3.jpg" dataSrcSmall="./img/banner-3-mobile.jpg")
                        p.text-bolder.mt-2 ✓ IMPROVES POSTURE <br/>
                            | ✓ REDUCES UPPER BACK PAIN <br/>
                            | ✓ COVERAGE, SUPPORT, LIFT & SHAPE
                    ul.breadcrumb.mt-1.mb-0
                        li.breadcrumb__item
                            a.breadcrumb__link(href="index.html") Главная
                        li.breadcrumb__item.breadcrumb__item--active Спорт и lifestyle
                    .row 
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Моделирующий эффект','catalog.html')(dataSrc="./img/product-1.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Возрастные изменения','category-tags.html')(dataSrc="./img/product-2.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Под платье','category-tags.html')(dataSrc="./img/product-3.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Антицеллюлитный эффект','category-tags.html')(dataSrc="./img/product-4.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Сильная степень утяжки','category-tags.html')(dataSrc="./img/product-5.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Обычная степень утяжки','category-tags.html')(dataSrc="./img/product-1.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Убрать бока','category-tags.html')(dataSrc="./img/product-2.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Убрать живот','category-tags.html')(dataSrc="./img/product-3.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('Поддержка спины','category-tags.html')(dataSrc="./img/product-4.jpg")
                        .col-2.col-xl-3.col-lg-4.col-sm-6.mt-2
                            +categoryTags('На каждый день','category-tags.html')(dataSrc="./img/product-5.jpg")
                    //- .row.mt-3.mt-sm-2
                    //-     .col-8.col-xl-10.col-lg-12
                    //-         p Viverra integer et condimentum elementum orci aliquet cursus. Phasellus nibh auctor integer viverra 
                    //-             | pellentesque duis porta dignissim. Feugiat lorem cursus turpis placerat eget ultricies elit 
                    //-             | condimentum eu. In commodo sagittis vestibulum, blandit gravida. Ut gravida id dis eget euismod. 
                    //-             | Sodales interdum vel integer magna. Sed facilisis eu ultrices purus congue est nibh. Eu orci non 
                    //-             | fermentum id. Urna in pharetra sit vel, sagittis aliquet ut justo. Elit sed id felis elementum, 
                    //-             | consectetur condimentum hendrerit augue. Lacinia massa, eget viverra velit consequat adipiscing 
                    //-             | sed praesent. Justo, nec orci, lorem sociis. Morbi et purus lacinia enim id integer aliquam turpis 
                    //-             | arcu.
                    //-         p.d-none(data-content="moreInfo")
                    //-             | Viverra integer et condimentum elementum orci aliquet cursus. Phasellus nibh auctor integer viverra 
                    //-             | pellentesque duis porta dignissim. Feugiat lorem cursus turpis placerat eget ultricies elit 
                    //-             | condimentum eu. In commodo sagittis vestibulum, blandit gravida. Ut gravida id dis eget euismod. 
                    //-             | Sodales interdum vel integer magna. Sed facilisis eu ultrices purus congue est nibh. Eu orci non 
                    //-         p 
                    //-             a.text-small.text-bolder.text-underline.open-content(href="javascript;" data-id="moreInfo" data-trigger="click") Читать дальше >
                    //- Banner Tech
                    .banner-intro.mt-2
                        .banner-intro__image-block.loading.order-lg-2
                            .banner-intro__video(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
                                img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                        .banner-intro__content.banner-intro__content_right.order-lg-1.pb-md-2.pb-lg-3
                            p.banner-intro__title Фотографии на мобильном снизу
                            p.text-grey Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat blandit ipsum amet sed ipsum. Congue lorem faucibus nisl a. Turpis volutpat volutpat malesuada quis velit ac. Tellus magna.
                    //- Banner Tech
                    .banner-intro.mt-2
                        .banner-intro__content.banner-intro__content_left.order-lg-2.pt-md-2.pt-lg-3
                            p.banner-intro__title Фотографии на мобильном вверху
                            p.text-grey Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat blandit ipsum amet sed ipsum. Congue lorem faucibus nisl a. Turpis volutpat volutpat malesuada quis velit ac. Tellus magna.
                        .banner-intro__image-block.loading.order-lg-1
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-0.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            img.banner-intro__image.img-fluid.b-lazy(data-src="./img/advantage-2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            //- Products
            aside.content.content_secondary.container
                .content__inside
                    .row.align-items-center.mb-2.mt-xs-3
                        .col-10.col-lg-8.col-sm-6
                            h4.content__block-title.text-uppercase Подходит для спорта
                        .col-2.col-lg-4.col-sm-6.text-right
                            +btn('category.html', 'Все товары')(class="btn_border")
                    .product-grid.product-grid_lg.mb-2
                        +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'sale', '', 'product.html')(dataSrc='./img/product-1.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc='./img/product-2.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Hypoallergenic Compression Socks Grey', '1 119 руб.', '', 'new', '', 'product.html')(dataSrc='./img/product-3.jpg' dataSrcHover='./img/product-6.jpg')
                        //- +product('Men Shaper Classic Black', '3 599 руб.', '', '', '', 'product.html')(dataSrc='./img/product-4.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Shaper Classic Peach', '889 руб.', '', '', 'по предзаказу', 'product.html')(dataSrc='./img/product-5.jpg' dataSrcHover='./img/product-6.jpg')                
            //- Delivery
            include component/banner/delivery.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug

        script(src="./js/jquery.inputmask.min.js")

        link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")

        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")