html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Company Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')

        link(href='./css/banners.css', rel='stylesheet')
        link(href='./css/sliders.css', rel='stylesheet')
        link(href='./css/faq.css', rel='stylesheet')
        link(href='./css/previews.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        main
            //- Company
            section.content.container
                .content__inside
                    +banner('О компании Sankom', 'Сегодня продукция SANKOM с успехом продается в 86 странах мира, компания имеет 5 представительств, одно из которых в конце 2014 г. было открыто в Москве.', '', '')(class="banner_content-center b-lazy" dataSrc="./img/banner-1.jpg" dataSrcSmall="./img/bannerSmall.jpg")
                    .row.justify-content-center.mt-4
                        .col-8
                            p Компания SANKOM Switzerland основана в 2003 году с центральным офисом в городе Далемнт кантона Юра в Швейцарии. С момента основания деятельность SANKOM была направлена на программы оздоровления и контроля веса.
                            p Тридцатилетний опыт ученых и докторов под руководством основателя компании, профессора, доктора медицинских наук Сержа Мазурика, работают над созданием инновационных продуктов в области контроля веса. За 30 лет были опубликованы десятки научных трудов, которые легли в основу серии собственных литературных изданий «Intuitive Nutrition» и были переведены на 17 языков, став бестселлерами. Инновационные разработки компании защищены патентами в 146 странах и удостоены международными сертификатами качества.
                            .blockquote.mt-3
                                .row.align-items-center
                                    .col-2
                                        img(src="./icon/icon.svg" alt="" title="")
                                    .col-10
                                        p «Белье SANKOM создает не только визуальный эффект, делая фигуру более стройной и привлекательной, но также создает отличный профилактический эффект.»
                                        p.text-grey — Meisha Johnson, Founder and Owner of Neema Fine Arts Gallery 
                    h4.text-center.mt-3.mb-2 Уникальные технологии и эко-материалы
                    .slider-container
                        .slider.slider_category.owl-carousel.owl-theme
                            .slider__item
                                +category('For sensitive, delicate skin', 'Aloe Vera', 'Перейти в коллекцию', 'collection.html')(dataSrc="./img/aloe-img.png")
                            .slider__item
                                +category('For sensitive, delicate skin', 'Aloe Vera', 'Перейти в коллекцию', 'collection.html')(dataSrc="./img/aloe-img.png")
                            .slider__item
                                +category('For sensitive, delicate skin', 'Aloe Vera', 'Перейти в коллекцию', 'collection.html')(dataSrc="./img/aloe-img.png")
                            .slider__item
                                +category('For sensitive, delicate skin', 'Aloe Vera', 'Перейти в коллекцию', 'collection.html')(dataSrc="./img/aloe-img.png")
                            .slider__item
                                +category('For sensitive, delicate skin', 'Aloe Vera', 'Перейти в коллекцию', 'collection.html')(dataSrc="./img/aloe-img.png")
            aside.content.content_secondary.container
                .content__inside
                    .row 
                        .col-6
                            .content-with-image
                                .content-with-image__image
                                    img.img-fluid(src="./img/FAQ.jpg" title="" alt="")
                                .content-with-image__content
                                    p.h1 FAQ: только<br/>полезное
                                    p Founded in the heart of Switzerland, SANKOM strives to develop functional products that improve your health and beauty without compromising comfort.
                                    .btn-group  
                                        +btn('blog.html', 'Видео')()
                                        +btn('blog.html', 'Отзывы')()
                            .row
                                .col-6.col-sm-12.mt-2
                                    +blog('Статья', 'Amet velit egestas nulla', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-1.jpg")
                                .col-6.col-sm-12.mt-2
                                    +blog('Обзор товара', 'Ut fermentum nunc at amet, sit', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-2.jpg")
                                .col-6.col-sm-12.mt-2
                                    +blog('Статья', 'Amet velit egestas nulla', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-3.jpg")
                                .col-6.col-sm-12.mt-2
                                    +blog('Обзор товара', 'Ut fermentum nunc at amet, sit', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-4.jpg")
                        .col-6
                            .form-block.mb-2
                                p.h4.mb-1 Персональные скидки и новости
                                p.text-grey.mb-2 Facilisis nunc proin sapien, dictum quam ornare orci dolor viverra pellentesque
                                form.form(action="")
                                    .form__col
                                        +radio('radio1', 'Получать все новости SANKOM','news','checked')
                                    .form__col
                                        +radio('radio2', 'Акции и скидки','news')
                                    .form__col
                                        +radio('radio3', 'Персональные предложения','news')
                                    .form__line.mt-2
                                        +input('', 'E-mail')(class="input_label-inside form__line-input" label="input__label_inside bg-white" field="form__line-field" )
                                        +btn('', 'Подписаться')(class="btn_action btn_icon-check")
                            +faq('О бренде SANKOM, материалах и технологиях производства', './icon/faq.svg')(class="bg-white")
                            +faq('Подробнее о программе лояльности', './icon/faq.svg')(class="bg-white")
                            +faq('Узнать о способах доставки, оплаты и возврата', './icon/faq.svg')(class="bg-white")
            include component/banner/delivery.pug
        include component/footer/footer.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")

        script(src="./js/blazy.min.js")
        
        script(src="./js/app.min.js")