html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Index Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/index.css', rel='stylesheet')

    body
        script(src="/js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        main.content.container.mt-3.mb-3
            //- Promo and Tags
            section.content__inside
                //- Slider Promo
                .slider.slider_banner.owl-carousel.owl-theme
                    .slider__item
                        +banner('Только эко-материалы', 'Sed dui habitant lectus quam pharetra id pretium amet, eget. Eget nibh eget mattis.', 'Коллекции 2021', 'catalog.html')(class="banner_content-center" style="background-image:url('/img/banner-1.jpg');")
                    .slider__item
                        +banner('Весна время спорта', 'Introducing Stretch Twill Pants! Comfy and seasonless, these pull-on staples are the perfect additions to your wardrobe.', 'Спорт и здоровье', 'category.html')(class="banner_content-center" style="background-image:url('/img/banner-2.jpg');")
                //- Category In Catalog
                .row.align-items-center.mt-3.mb-2
                    .col-10
                        h2.h4.mb-0 SHOP BY CATEGORY
                    .col-2.text-right 
                        +btn('catalog.html', 'К покупкам')(class="btn_action")
                .slider.slider_subcategory.owl-carousel.owl-theme
                    .slider__item
                        +subcategory('Бюстгальтеры', '', 'category.html')(style="background-image:url('/img/advantage-0.jpg');")
                    .slider__item
                        +subcategory('Трусы', '', 'category.html')(style="background-image:url('/img/advantage-1.jpg');")
                    .slider__item
                        +subcategory('Шорты', '', 'category.html')(style="background-image:url('/img/advantage-2.jpg');")
                    .slider__item
                        +subcategory('Леггинсы', '', 'category.html')(style="background-image:url('/img/advantage-3.jpg');")
                    .slider__item
                        +subcategory('Майки', '', 'category.html')(style="background-image:url('/img/advantage-4.jpg');")
                    .slider__item
                        +subcategory('Носки', '', 'category.html')(style="background-image:url('/img/advantage-1.jpg');")
                //- Slider Tags
                .row.align-items-center.mt-4
                    .col-10
                        h3.h4.mb-0 HEALTH, SPORT & BEAUTY
                    .col-2.text-right 
                        +btn('catalog.html', 'Каталог товаров')(class="btn_secondary")
                .mt-2.mb-2.tabs.tabs--has-slider.d-flex
                    .tabs__item.tabs__item--active(data-content="tabBeauty") Коррекция и красота
                    .tabs__item(data-content="tabHealth") Забота о здоровье
                    .tabs__item(data-content="tabSport") Спорт и lifestyle
                .tabs-content.tabs-content--active#tabBeauty
                    .slider-container
                        .slider.slider_tags.owl-carousel.owl-theme
                            .slider__item
                                +sliderTags('Моделирующий эффект','category-tags.html')(style="background-image:url('/img/product-1.jpg');")
                            .slider__item
                                +sliderTags('Возрастные изменения','category-tags.html')(style="background-image:url('/img/product-2.jpg');")
                            .slider__item
                                +sliderTags('Под платье','category-tags.html')(style="background-image:url('/img/product-3.jpg');")
                            .slider__item
                                +sliderTags('Антицеллюлитный эффект','category-tags.html')(style="background-image:url('/img/product-4.jpg');")
                            .slider__item
                                +sliderTags('Сильная степень утяжки','category-tags.html')(style="background-image:url('/img/product-5.jpg');")
                            .slider__item
                                +sliderTags('Обычная степень утяжки','category-tags.html')(style="background-image:url('/img/product-1.jpg');")
                            .slider__item
                                +sliderTags('Убрать бока','category-tags.html')(style="background-image:url('/img/product-2.jpg');")
                            .slider__item
                                +sliderTags('Убрать живот','category-tags.html')(style="background-image:url('/img/product-3.jpg');")
                            .slider__item
                                +sliderTags('Поддержка спины','category-tags.html')(style="background-image:url('/img/product-4.jpg');")
                            .slider__item
                                +sliderTags('На каждый день','category-tags.html')(style="background-image:url('/img/product-5.jpg');")
                            .slider__item
                                +sliderTags('Для спорта','category-tags.html')(style="background-image:url('/img/product-1.jpg');")
                            .slider__item
                                +sliderTags('Для бега','category-tags.html')(style="background-image:url('/img/product-2.jpg');")
                .tabs-content#tabHealth
                .tabs-content#tabSport
            //- Category
            section.content__inside.content__inside_secondary
                .row.align-items-center.mb-2
                    .col-10
                        h4.text-uppercase Fan-Favorites style
                    .col-2.text-right 
                        +btn('catalog.html', 'Каталог товаров')(class="btn_secondary")
                .slider-container
                    .slider.slider_category.owl-carousel.owl-theme.mb-1
                        .slider__item
                            +category('Для женщин: на любой случай', 'актуальные коллекции', 'Перейти в коллекцию', 'collection.html')(style="background-image:url('/img/bg-women.jpg');")
                        .slider__item
                            +category('Комплекты по выгодным ценам', 'вместе дешевле', 'Посмотреть комплекты', 'complects.html')(style="background-image:url('/img/bg-complect.jpg');")
                        .slider__item
                            +category('Для мужчин: SANKOM и Mey', 'актуальные коллекции', 'Новые коллекции 2021', 'collection.html')(style="background-image:url('/img/bg-men.jpg');")
                        .slider__item
                            +category('Скидка на наши товары', 'выгодная покупка', 'Купить сейчас', 'sales.html')(style="background-image:url('/img/bg-sales.jpg');")
                        .slider__item
                            +category('Новое в каталоге SANKOM', 'коллекции 2021 года', 'Узнать про новинки', 'collection.html')(style="background-image:url('/img/bg-demo.jpg');")
            //- Promo and Products
            section.content__inside
                //- Promo Pages
                .row.align-items-center.mt-2.mb-2
                    .col-10
                        h4.text-uppercase #BLOG_SANKOM
                    .col-2.text-right 
                        +btn('blog.html', 'Перейти в блог')(class="btn_secondary")
                .slider-container
                    .slider.slider_promo.owl-carousel.owl-theme
                        .slider__item
                            +promo('Об экологичности материалов', 'text.html')(style="background-image:url('/img/image-1.jpg');")
                        .slider__item
                            +promo('Отличия от обычного корректирующего белья', 'text.html')(style="background-image:url('/img/image-2.jpg');")
                        .slider__item
                            +promo('Серии и направления SANKOM', 'text.html')(style="background-image:url('/img/image-3.jpg');")
                        .slider__item
                            +promo('Особенности алоэ вера', 'text.html')(style="background-image:url('/img/image-2.jpg');")                
                //- Products
                .row.align-items-center.mt-4.mb-2
                    .col-10
                        h4.text-uppercase Выбор наших покупателей
                    .col-2.text-right 
                        +btn('category.html', 'Новинки SANKOM')(class="btn_secondary")
                .product-grid.product-grid_lg
                    +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'sale', '', 'product.html')(style="background-image:url('/img/product-1.jpg');")
                    +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(style="background-image:url('/img/product-2.jpg');")
                    +product('Elementum amet morbi morbi aliquam senectus orcin ultrices', '1 119 руб.', '', 'new', '', 'product.html')(style="background-image:url('/img/product-3.jpg');")
                    +product('Men Shaper Classic Black', '3 599 руб.', '', '', '', 'product.html')(style="background-image:url('/img/product-4.jpg');")
                    +product('Hypoallergenic Compression Socks Grey', '889 руб.', '', '', 'по предзаказу', 'product.html')(style="background-image:url('/img/product-5.jpg');")
                .product-grid.product-grid_sm
                    +productSmall('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'sale', 'product.html')(style="background-image:url('/img/product-1.jpg');")
                    +productSmall('Shaper Bamboo', '2 459 руб.', '', '', 'product.html')(style="background-image:url('/img/product-2.jpg');")
                    +productSmall('Elementum amet morbi morbi aliquam senectus orcin ultrices', '1 119 руб.', '', 'new', '', 'product.html')(style="background-image:url('/img/product-3.jpg');")
                    +productSmall('Men Shaper Classic Black', '3 599 руб.', '', '', 'product.html')(style="background-image:url('/img/product-4.jpg');")
            aside.content__inside.content__inside_secondary
            //- Small Banner
            .mt-4
                .banner-promo 
                    .banner-promo__content ЗАХОДИ ЗНАКОМИТЬСЯ В INSTAGRAM 
                        a.text-underline.banner-promo__link(href="" title="Instagram Sankom Russia") @sankomrussia
                    a.btn.btn_inverse.btn--small(href="#") Подписаться
            aside.content__inside 
                .row.align-items-center.justify-content-center.pt-1.pb-1
                    .col-2.text-center
                        img.img-fluid(src="/img/delivery.svg" style="margin: 0 auto;")
                    .col-5
                        p.h4.text-uppercase.text-bolder.mb-1 Бесплатная доставка
                        p.text-grey.lead При заказе от 15 000 рублей quis lacus commodo. Ullamcorper blandit orci euismod massa imperdiet. Faucibus elementum amet.
        include component/footer/footer.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")
        
        script(src="./js/app.min.js")