html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Index Page

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")
        
        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            //- Promo and Tags
            section.content.container
                .content__inside
                    //- Slider Promo
                    .slider.slider_banner.owl-carousel.owl-theme
                        .slider__item
                            +banner('Весна время спорта', 'Introducing Stretch Twill Pants! Comfy and seasonless, these pull-on staples are the perfect additions to your wardrobe.', 'Спорт и здоровье', 'category.html')(class="banner_content-center" classIntro="banner__intro_center" dataSrc="./img/banner-2.jpg" dataSrcSmall="./img/banner-2-mobile.jpg")
                        .slider__item
                            +banner('Только эко-материалы', 'Sed dui habitant lectus quam pharetra id pretium amet, eget. Eget nibh eget mattis.', 'Коллекции 2021', 'catalog.html')(class="banner_content-center" classIntro="banner__intro_center" dataSrc="./img/banner-1.jpg" dataSrcSmall="./img/banner-2-mobile.jpg")
                    //- Category In Catalog
                    .row.align-items-center.mt-3.mb-2.mt-sm-2
                        .col-8.col-sm-6
                            h2.content__block-title.mb-0 SHOP BY CATEGORY
                        .col-4.col-sm-6.text-right
                            a.content__block-link(href="catalog.html") Каталог товаров
                    .slider-container
                        .slider.slider_subcategory.slider_subcategory-index.owl-carousel.owl-theme
                            .slider__item
                                +subcategory('Бюстгальтеры', '', 'category.html')(dataSrc='./img/advantage-0.jpg')
                            .slider__item
                                +subcategory('Трусы', '', 'category.html')(dataSrc='./img/advantage-1.jpg')
                            .slider__item
                                +subcategory('Шорты', '', 'category.html')(dataSrc='./img/advantage-2.jpg')
                            .slider__item
                                +subcategory('Леггинсы', '', 'category.html')(dataSrc='./img/advantage-3.jpg')
                            .slider__item
                                +subcategory('Майки', '', 'category.html')(dataSrc='./img/advantage-4.jpg')
                            .slider__item
                                +subcategory('Носки', '', 'category.html')(dataSrc='./img/advantage-1.jpg')
                    //- Slider Tags
                    h3.content__block-title.mt-3.mb-2 HEALTH, SPORT & BEAUTY
                    .tabs-container.mb-2
                        .mb-2.mb-xs-1.tabs.d-flex
                            .tabs__item.tabs__item--active(data-content="#tabBeauty") Красота и коррекция
                            .tabs__item(data-content="#tabHealth") Забота о здоровье
                            .tabs__item(data-content="#tabSport") Спорт и lifestyle
                        .tabs-content.tabs-content_has-slider.tabs-content--show.tabs-content--active#tabBeauty
                            .slider-container
                                .slider.slider_tags.owl-carousel.owl-theme
                                    .slider__item
                                        +sliderTags('Моделирующий эффект','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Возрастные изменения','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Под платье','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Антицеллюлитный эффект','category-tags.html')(dataSrc="./img/product-4.jpg")
                                    .slider__item
                                        +sliderTags('Сильная степень утяжки','category-tags.html')(dataSrc="./img/product-5.jpg")
                                    .slider__item
                                        +sliderTags('Обычная степень утяжки','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Убрать бока','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Убрать живот','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Поддержка спины','category-tags.html')(dataSrc="./img/product-4.jpg")
                                    .slider__item
                                        +sliderTags('На каждый день','category-tags.html')(dataSrc="./img/product-5.jpg")
                                    .slider__item
                                        +sliderTags('Для спорта','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Для бега','category-tags.html')(dataSrc="./img/product-2.jpg")
                        .tabs-content.tabs-content_has-slider#tabHealth
                            .slider-container
                                .slider.slider_tags.owl-carousel.owl-theme
                                    .slider__item
                                        +sliderTags('Моделирующий эффект','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Возрастные изменения','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Под платье','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Антицеллюлитный эффект','category-tags.html')(dataSrc="./img/product-4.jpg")
                                    .slider__item
                                        +sliderTags('Сильная степень утяжки','category-tags.html')(dataSrc="./img/product-5.jpg")
                                    .slider__item
                                        +sliderTags('Обычная степень утяжки','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Убрать бока','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Убрать живот','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Поддержка спины','category-tags.html')(dataSrc="./img/product-4.jpg")
                        .tabs-content.tabs-content_has-slider#tabSport
                            .slider-container
                                .slider.slider_tags.owl-carousel.owl-theme
                                    .slider__item
                                        +sliderTags('Моделирующий эффект','category-tags.html')(dataSrc="./img/product-1.jpg")
                                    .slider__item
                                        +sliderTags('Возрастные изменения','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Под платье','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Антицеллюлитный эффект','category-tags.html')(dataSrc="./img/product-4.jpg")
                                    .slider__item
                                        +sliderTags('Убрать бока','category-tags.html')(dataSrc="./img/product-2.jpg")
                                    .slider__item
                                        +sliderTags('Убрать живот','category-tags.html')(dataSrc="./img/product-3.jpg")
                                    .slider__item
                                        +sliderTags('Поддержка спины','category-tags.html')(dataSrc="./img/product-4.jpg")
            //- Category
            section.content.content_secondary.container
                include component/preview/categoryPreview.pug
            //- Promo, Products & Banner
            section.content.container
                .content__inside
                    //- Promo Pages 
                    .row.align-items-center.mt-2.mb-2
                        .col-10.col-lg-8.col-sm-6
                            h4.content__block-title.text-uppercase #PROMO_SANKOM
                        .col-2.col-lg-4.col-sm-6.text-right
                            +btn('blog.html', 'Перейти в блог')(class="btn_border")
                    .slider-container
                        .slider.slider_promo.owl-carousel.owl-theme
                            .slider__item
                                +promo('Об экологичности материалов', 'text.html')(dataSrc="./img/image-1.jpg")
                            .slider__item
                                +promo('Отличия от обычного корректирующего белья', 'text.html')(dataSrc="./img/image-2.jpg")
                            .slider__item
                                +promo('Серии и направления SANKOM', 'text.html')(dataSrc="./img/image-3.jpg")
                            .slider__item
                                +promo('Особенности алоэ вера', 'text.html')(dataSrc="./img/image-2.jpg")  
                            .slider__item
                                +promo('Об экологичности материалов', 'text.html')(dataSrc="./img/image-1.jpg")              
                    //- Products
                    .row.align-items-center.mt-4.mb-2.mt-xs-3
                        .col-10.col-lg-8.col-sm-6
                            h4.content__block-title.text-uppercase Выбор наших покупателей
                        .col-2.col-lg-4.col-sm-6.text-right
                            +btn('category.html', 'Новинки SANKOM')(class="btn_border")
                    .product-grid.product-grid_lg.mb-2
                        +product('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'sale', '', 'product.html')(dataSrc='./img/product-1.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Shaper Bamboo', '2 459 руб.', '', '', '', 'product.html')(dataSrc='./img/product-2.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Hypoallergenic Compression Socks Grey', '1 119 руб.', '', 'new', '', 'product.html')(dataSrc='./img/product-3.jpg' dataSrcHover='./img/product-6.jpg')
                        //- +product('Men Shaper Classic Black', '3 599 руб.', '', '', '', 'product.html')(dataSrc='./img/product-4.jpg' dataSrcHover='./img/product-6.jpg')
                        +product('Shaper Classic Peach', '889 руб.', '', '', 'по предзаказу', 'product.html')(dataSrc='./img/product-5.jpg' dataSrcHover='./img/product-6.jpg')
                    .product-grid.product-grid_sm.mb-2
                        +productSmall('Shaper Classic Peach', '6 999 руб.', '8 999 руб.', 'sale', 'product.html')(style="background-image:url('./img/product-1.jpg');")
                        +productSmall('Shaper Bamboo', '2 459 руб.', '', '', 'product.html')(style="background-image:url('./img/product-2.jpg');")
                        +productSmall('Elementum amet morbi morbi aliquam', '1 119 руб.', '', 'new', '', 'product.html')(style="background-image:url('./img/product-3.jpg');")
                        +productSmall('Men Shaper Classic Black', '3 599 руб.', '', '', 'product.html')(style="background-image:url('./img/product-4.jpg');")
            aside.content.content_secondary.container
                .content__inside
                    .row.mt-2.mb-2
                        .col-6.col-lg-12
                            //- .content-with-image.mb-2
                            //-     .content-with-image__image
                            //-         img.img-fluid(src="./img/FAQ.jpg" title="" alt="")
                            //-     .content-with-image__content
                            p.h1 FAQ: ответы на частые вопросы
                            p.mb-3.mb-xl-2 Founded in the heart of Switzerland, SANKOM strives to develop functional products that improve your health and beauty without compromising comfort.
                            //- +btn('faq.html', 'Узнать больше')
                            +faq('О бренде SANKOM, материалах и технологиях производства', '/icon/faq.svg', 'faq.html')(class="bg-white mb-1")
                            +faq('Подробнее о программе лояльности', '/icon/faq.svg', 'faq.html')(class="bg-white mb-1")
                            //- +faq('Подробнее о доставке и оплате', '/icon/faq.svg', 'faq.html')(class="bg-white mb-1")
                            +faq('Узнать о способах доставки, оплаты и возврата', '/icon/faq.svg', 'faq.html')(class="bg-white")
                        .col-6.col-lg-12.mt-lg-2
                            .banner-promo 
                                p.banner-promo__title Хочешь быть в&nbsp;курсе скидок и&nbsp;предложений?
                                p.banner-promo__content Заходите знакомиться в Instagram 
                                    a.banner-promo__link.text-underline(href="#") @sankomrussia.
                                    |  Узнавайте первыми о новых продуктах, акциях и эксклюзивных распродажах! 
                                form.form.banner-promo__form(action="")
                                    .form__line
                                        +input('E-mail', '')(class="input_label form__line-input" field="form__line-field" )
                                        .form__line-btn
                                            +btn('', 'Подписаться')(class="btn_inverse btn--full")
                                .banner-promo__network.mt-3.mt-md-2
                                    .banner-promo__network-title Мы в соц.сетях:
                                    a.banner-promo__network-item(href="#")
                                        <svg class="banner-promo__network-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.1069 9.73429C14.8321 9.38429 14.9107 9.22857 15.1069 8.91571C15.1105 8.91214 17.3794 5.75071 17.6131 4.67857L17.6145 4.67786C17.7307 4.28714 17.6145 4 17.0528 4H15.1941C14.7209 4 14.5027 4.24643 14.3858 4.52214C14.3858 4.52214 13.4395 6.80643 12.1007 8.28714C11.6686 8.715 11.4688 8.85214 11.2329 8.85214C11.1168 8.85214 10.9361 8.715 10.9361 8.32429V4.67786C10.9361 4.20929 10.8037 4 10.412 4H7.48927C7.19246 4 7.01608 4.21857 7.01608 4.42214C7.01608 4.86643 7.68548 4.96857 7.7549 6.21857V8.93071C7.7549 9.525 7.64794 9.63429 7.41064 9.63429C6.77878 9.63429 5.24519 7.34071 4.33637 4.71571C4.1529 4.20643 3.97369 4.00071 3.49696 4.00071H1.63752C1.10696 4.00071 1 4.24714 1 4.52286C1 5.01 1.63186 7.43214 3.93827 10.6321C5.4754 12.8164 7.64015 14 9.60938 14C10.793 14 10.9376 13.7371 10.9376 13.285C10.9376 11.1979 10.8306 11.0007 11.4235 11.0007C11.6983 11.0007 12.1715 11.1379 13.2765 12.1914C14.5396 13.4407 14.7471 14 15.454 14H17.3128C17.8426 14 18.1111 13.7371 17.9567 13.2186C17.6032 12.1279 15.2146 9.88429 15.1069 9.73429Z"/>
                                        </svg>
                                    a.banner-promo__network-item(href="#")
                                        <svg class="banner-promo__network-icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.5 15H9V10.875H7.5V9H9V7.5C9 6.257 10.007 5.25 11.25 5.25H12.75V7.125H12C11.586 7.125 11.25 7.086 11.25 7.5V9H13.125L12.375 10.875H11.25V15H13.5C14.327 15 15 14.327 15 13.5V4.5C15 3.6725 14.327 3 13.5 3H4.5C3.6725 3 3 3.6725 3 4.5V13.5C3 14.327 3.6725 15 4.5 15Z" />
                                        </svg>
                                    a.banner-promo__network-item(href="#")
                                        <svg class="banner-promo__network-icon" width="18px" height="18px" viewBox="-21 -117 682.66672 682"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="m626.8125 64.035156c-7.375-27.417968-28.992188-49.03125-56.40625-56.414062-50.082031-13.703125-250.414062-13.703125-250.414062-13.703125s-200.324219 0-250.40625 13.183593c-26.886719 7.375-49.03125 29.519532-56.40625 56.933594-13.179688 50.078125-13.179688 153.933594-13.179688 153.933594s0 104.378906 13.179688 153.933594c7.382812 27.414062 28.992187 49.027344 56.410156 56.410156 50.605468 13.707031 250.410156 13.707031 250.410156 13.707031s200.324219 0 250.40625-13.183593c27.417969-7.378907 49.03125-28.992188 56.414062-56.40625 13.175782-50.082032 13.175782-153.933594 13.175782-153.933594s.527344-104.382813-13.183594-154.460938zm-370.601562 249.878906v-191.890624l166.585937 95.945312zm0 0"/>
                                        </svg>
            aside.content.container
                .content__inside
                    //- Blog Pages 
                    .row.align-items-center.mb-2
                        .col-10.col-lg-8.col-sm-6
                            h4.content__block-title.text-uppercase #BLOG_SANKOM
                        .col-2.col-lg-4.col-sm-6.text-right
                            +btn('blog.html', 'Перейти в блог')(class="btn_border")
                    .row
                        .col-3.col-xl-6.col-sm-12.mt-1.mb-1
                            +blog('Статья', 'Amet velit egestas nulla', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-1.jpg")
                        .col-3.col-xl-6.col-sm-12.mt-1.mb-1
                            +blog('Обзор товара', 'Ut fermentum nunc at amet, sit', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-2.jpg")
                        .col-3.col-xl-6.col-sm-12.mt-1.mb-1
                            +blog('Статья', 'Amet velit egestas nulla', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-3.jpg")
                        .col-3.col-xl-6.col-sm-12.mt-1.mb-1
                            +blog('Обзор товара', 'Ut fermentum nunc at amet, sit', 'Aliquam, porttitor tortor neque diam quam nul...', 'text.html')(dataSrc="./img/image-4.jpg")
            include component/banner/delivery-bg.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        
        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")

        script(src="./js/blazy.min.js")
        
        script(src="./js/app.min.js")