html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Product

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            //- Product
            section.content.container
                .content__inside
                    ul.breadcrumb.d-md-none
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="index.html") Главная
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="catalog.html") Каталог
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="category.html") Шорты
                        li.breadcrumb__item.breadcrumb__item--active Long Shaper CLASSIC
                    //- Название товара для мобильного
                    <!--noindex-->
                    .d-none.d-lg-flex.d-sm-block.align-items-lg-end 
                        p.product-page__title Шорты Long Shaper CLASSIC Чёрные
                        p.product-page__article SAN-071CWH
                    <!--/noindex-->
                    .row.no-gutters.mt-2.mt-sm-1
                        .col-7.col-lg-12
                            .product-slider
                                .product-slider__nav
                                    .slider-nav.product-nav.product-nav_single#productMain
                                        .product-nav__item
                                            img.img-fluid(src="./product/prod-1.jpg")
                                        .product-nav__item
                                            img.img-fluid(src="./product/prod-0.jpg")
                                        .product-nav__item
                                            img.img-fluid(src="./product/prod-2.jpg")
                                        .product-nav__item
                                            img.img-fluid(src="./product/prod-3.jpg")
                                .product-slider__main
                                    .slider-main.product-image.product-image_single(data-nav="#productMain")
                                        .product-image__item
                                            a.product-image__link(data-fancybox="gallery" data-src="./product/prod-1.jpg")
                                                img.img-fluid(src="./product/prod-1.jpg")
                                        .product-image__item
                                            a.product-image__link(data-fancybox="gallery" data-src="./product/prod-0.jpg")
                                                img.img-fluid(src="./product/prod-0.jpg")
                                        .product-image__item
                                            a.product-image__link(data-fancybox="gallery" data-src="./product/prod-2.jpg")
                                                img.img-fluid(src="./product/prod-2.jpg")
                                        .product-image__item
                                            a.product-image__link(data-fancybox="gallery" data-src="./product/prod-3.jpg")
                                                img.img-fluid(src="./product/prod-3.jpg")
                        .col-5.col-lg-12
                            .product-page.pt-2
                                //- Основное о товаре
                                h1.product-page__title.d-lg-none Шорты Long Shaper CLASSIC Чёрные
                                p.product-page__article.d-lg-none SAN-071CWH
                                //- Цены и кешбек
                                .product-page__price
                                    span.product-page__price-old 6 660 руб.
                                    span.product-page__price-new 5 240 руб.
                                    span.product-page__price-discount 20%
                                .product-page__cashback
                                    span.text-bold кэшбэк&nbsp;до&nbsp;20% 
                                    span (до&nbsp;3529&nbsp;руб.)
                                    a.product-page__cashback-icon(data-sidebar="modalCashbackInfo")
                                        svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="10" cy="10.7397" r="10" fill="#C9002E")
                                            path(d="M1.89307 14.5246C1.7889 13.5601 1.70036 12.7354 1.62744 12.0506C1.55452 11.3658 1.49202 10.7919 1.43994 10.329C1.38786 9.86601 1.34098 9.4995 1.29932 9.22944C1.26807 8.94973 1.24202 8.74236 1.22119 8.60733C1.20036 8.46266 1.18473 8.36621 1.17432 8.31798C1.1639 8.26976 1.15869 8.24082 1.15869 8.23118V8.17331C1.15869 8.06721 1.20557 7.9804 1.29932 7.91289C1.40348 7.83573 1.50765 7.79715 1.61182 7.79715C1.76807 7.79715 1.93473 7.82126 2.11182 7.86949C2.29932 7.91771 2.42432 8.01898 2.48682 8.17331C2.58057 8.64591 2.64307 9.12334 2.67432 9.6056C2.71598 10.0879 2.74723 10.5701 2.76807 11.0524C2.79932 11.525 2.83577 12.0024 2.87744 12.4847C2.92952 12.9669 3.01807 13.4443 3.14307 13.9169C3.14307 13.9362 3.14827 13.9748 3.15869 14.0327C3.17952 14.0906 3.19515 14.1532 3.20557 14.2208C3.2264 14.2883 3.24202 14.351 3.25244 14.4088C3.26286 14.4667 3.26807 14.5053 3.26807 14.5246V14.5535C3.26807 14.5632 3.27327 14.5728 3.28369 14.5825C3.28369 14.6982 3.2264 14.8139 3.11182 14.9297C2.99723 15.0454 2.87744 15.0936 2.75244 15.0744C2.72119 15.0647 2.64307 15.0502 2.51807 15.0309C2.40348 15.002 2.32536 14.9779 2.28369 14.9586C2.25244 14.949 2.21077 14.9297 2.15869 14.9007C2.10661 14.8622 2.05452 14.8236 2.00244 14.785C1.96077 14.7464 1.92432 14.703 1.89307 14.6548C1.86182 14.6066 1.86182 14.5632 1.89307 14.5246ZM1.01807 3.9777C1.01807 3.91019 1.07536 3.85232 1.18994 3.80409C1.31494 3.74622 1.40869 3.71729 1.47119 3.71729C1.62744 3.71729 1.79932 3.76069 1.98682 3.84749C2.18473 3.92465 2.28369 4.04522 2.28369 4.20918C2.28369 4.37315 2.25765 4.48407 2.20557 4.54194C2.1639 4.59981 2.05452 4.62874 1.87744 4.62874C1.68994 4.62874 1.49723 4.57087 1.29932 4.45513C1.11182 4.33939 1.01807 4.18025 1.01807 3.9777Z" fill="white")
                                            path(d="M8.31494 14.5825C8.16911 14.3896 8.04411 14.1243 7.93994 13.7867C7.84619 13.4395 7.75244 13.0778 7.65869 12.7017C7.57536 12.3159 7.49723 11.9445 7.42432 11.5877C7.3514 11.2211 7.27327 10.9318 7.18994 10.7196C7.11702 10.4978 7.03369 10.3724 6.93994 10.3434C6.84619 10.3145 6.73682 10.4447 6.61182 10.7341L5.25244 14.6114C5.20036 14.7464 5.13786 14.8429 5.06494 14.9007C4.99202 14.949 4.87223 14.9731 4.70557 14.9731C4.62223 14.9731 4.53369 14.9634 4.43994 14.9441C4.34619 14.9152 4.25765 14.8766 4.17432 14.8284C4.09098 14.7802 4.01807 14.7223 3.95557 14.6548C3.90348 14.5873 3.87223 14.5101 3.86182 14.4233C3.89307 14.3076 3.91911 14.0954 3.93994 13.7867C3.97119 13.4781 3.99202 13.1212 4.00244 12.7161C4.01286 12.311 4.01807 11.8867 4.01807 11.443C4.02848 10.9897 4.02848 10.5701 4.01807 10.1843C4.01807 9.78885 4.01286 9.45128 4.00244 9.17157C3.99202 8.88222 3.98161 8.69414 3.97119 8.60733C3.97119 8.51088 3.97119 8.41443 3.97119 8.31798C3.98161 8.21189 3.99723 8.11544 4.01807 8.02863C4.04932 7.94182 4.09619 7.87431 4.15869 7.82608C4.23161 7.76821 4.34098 7.73928 4.48682 7.73928C4.68473 7.73928 4.86702 7.81644 5.03369 7.97076C5.21077 8.12508 5.29932 8.28905 5.29932 8.46266C5.29932 8.71343 5.28369 8.9642 5.25244 9.21497C5.23161 9.4561 5.22119 9.70205 5.22119 9.95282C5.22119 10.1071 5.22119 10.2373 5.22119 10.3434C5.22119 10.4495 5.24202 10.5797 5.28369 10.7341C5.31494 10.6569 5.36702 10.5219 5.43994 10.329C5.51286 10.1361 5.59098 9.93353 5.67432 9.72134C5.76807 9.50915 5.8514 9.31142 5.92432 9.12817C5.99723 8.93527 6.04932 8.80023 6.08057 8.72307C6.15348 8.53017 6.26286 8.34692 6.40869 8.17331C6.55452 7.99005 6.74723 7.88878 6.98682 7.86949C7.14307 7.85984 7.28369 7.89842 7.40869 7.98523C7.54411 8.07203 7.65869 8.18777 7.75244 8.33245C7.84619 8.46748 7.92432 8.61216 7.98682 8.76648C8.04932 8.91115 8.09619 9.03654 8.12744 9.14263L8.97119 12.7451L9.62744 14.3944C9.63786 14.404 9.64307 14.433 9.64307 14.4812C9.64307 14.5198 9.64307 14.5487 9.64307 14.568C9.64307 14.6837 9.61182 14.7995 9.54932 14.9152C9.49723 15.0213 9.39827 15.0744 9.25244 15.0744C9.07536 15.0744 8.89307 15.0309 8.70557 14.9441C8.51807 14.8477 8.38786 14.7271 8.31494 14.5825Z" fill="white")
                                            path(d="M11.0024 11.9493C10.7733 11.9879 10.591 11.9735 10.4556 11.9059C10.3306 11.8288 10.242 11.7372 10.1899 11.6311C10.1379 11.5153 10.1118 11.4044 10.1118 11.2983C10.1222 11.1826 10.1483 11.1102 10.1899 11.0813C10.2212 11.0716 10.2889 11.0331 10.3931 10.9656C10.5076 10.898 10.5754 10.8546 10.5962 10.8353C10.6066 10.8353 10.617 10.8305 10.6274 10.8209C10.6483 10.8016 10.6639 10.7871 10.6743 10.7775V10.5171C10.6743 9.97693 10.6379 9.44645 10.5649 8.92562C10.5024 8.39514 10.4712 7.86466 10.4712 7.33418C10.4712 6.98696 10.4764 6.62527 10.4868 6.24911C10.5076 5.87296 10.5754 5.52574 10.6899 5.20745C10.8149 4.88916 11.0076 4.62874 11.2681 4.4262C11.5285 4.22365 11.9035 4.12238 12.3931 4.12238C12.4764 4.12238 12.5754 4.12238 12.6899 4.12238C12.8045 4.12238 12.9087 4.13685 13.0024 4.16578C13.1066 4.18507 13.1952 4.22847 13.2681 4.29599C13.341 4.35386 13.3774 4.44067 13.3774 4.55641C13.3774 4.73002 13.3306 4.84576 13.2368 4.90363C13.1535 4.95185 13.0441 4.98561 12.9087 5.0049C12.7733 5.01455 12.6327 5.03384 12.4868 5.06277C12.341 5.08206 12.216 5.1544 12.1118 5.27979C12.091 5.29908 12.0649 5.35212 12.0337 5.43893C12.0024 5.51609 11.9868 5.56914 11.9868 5.59807C11.966 5.66559 11.9452 5.75722 11.9243 5.87296C11.9035 5.9887 11.8827 6.10444 11.8618 6.22018C11.8514 6.33592 11.8358 6.44202 11.8149 6.53847C11.8045 6.62527 11.7993 6.6735 11.7993 6.68314C11.7993 6.69279 11.7993 6.73137 11.7993 6.79888C11.7993 6.85675 11.7941 6.92909 11.7837 7.0159C11.7837 7.1027 11.7837 7.19433 11.7837 7.29078C11.7837 7.37759 11.7837 7.44993 11.7837 7.5078C11.7837 7.71034 11.7837 7.89842 11.7837 8.07203C11.7837 8.24564 11.7889 8.41925 11.7993 8.59287C11.8097 8.75683 11.8254 8.92562 11.8462 9.09923C11.867 9.27284 11.8931 9.46574 11.9243 9.67794H12.0493L14.1587 8.52053C14.3045 8.49159 14.4347 8.44337 14.5493 8.37585C14.6639 8.30834 14.7941 8.27458 14.9399 8.27458C15.0858 8.27458 15.2368 8.30834 15.3931 8.37585C15.5493 8.44337 15.6274 8.54946 15.6274 8.69414C15.6274 8.80023 15.6014 8.8774 15.5493 8.92562C15.4972 8.97385 15.4556 9.04136 15.4243 9.12817C15.3827 9.13781 15.3045 9.16675 15.1899 9.21497C15.0754 9.2632 14.9972 9.29696 14.9556 9.31625C14.8722 9.36447 14.7368 9.44163 14.5493 9.54773C14.3722 9.64418 14.1847 9.75027 13.9868 9.86601C13.7889 9.97211 13.6066 10.0734 13.4399 10.1698C13.2733 10.2663 13.1639 10.329 13.1118 10.3579C13.0389 10.4061 12.9504 10.464 12.8462 10.5315C12.742 10.599 12.6379 10.6714 12.5337 10.7485C12.4399 10.8161 12.3566 10.8787 12.2837 10.9366C12.2108 10.9848 12.1743 11.009 12.1743 11.009V11.1536L12.5806 12.3834C12.5702 12.4123 12.5649 12.4461 12.5649 12.4847C12.5754 12.5136 12.6014 12.5377 12.6431 12.557L13.3774 14.6259C13.4295 14.7995 13.3879 14.9441 13.2524 15.0599C13.1274 15.1756 12.9816 15.2335 12.8149 15.2335C12.6274 15.2335 12.4452 15.1853 12.2681 15.0888C12.091 15.002 11.9764 14.867 11.9243 14.6837L11.0649 12.0651L11.0024 11.9493Z" fill="white")
                                            path(d="M14.9556 12.8608L15.5337 9.14263C15.5545 9.01725 15.6118 8.92562 15.7056 8.86775C15.8097 8.80988 15.9243 8.78094 16.0493 8.78094C16.2785 8.78094 16.4608 8.84364 16.5962 8.96902C16.7316 9.08476 16.8462 9.22944 16.9399 9.40305H16.9556C17.0806 9.40305 17.1899 9.38376 17.2837 9.34518C17.3879 9.29696 17.5129 9.27284 17.6587 9.27284C17.992 9.27284 18.2733 9.36929 18.5024 9.5622C18.742 9.7551 18.9347 9.9914 19.0806 10.2711C19.2264 10.5412 19.3306 10.8353 19.3931 11.1536C19.466 11.4719 19.5024 11.7516 19.5024 11.9928C19.5024 12.2821 19.4191 12.6052 19.2524 12.9621C19.0962 13.3189 18.8827 13.6565 18.6118 13.9748C18.3514 14.2931 18.0545 14.5583 17.7212 14.7705C17.3879 14.9827 17.0493 15.0888 16.7056 15.0888C16.3931 15.0888 16.1222 15.0213 15.8931 14.8863C15.6743 14.7512 15.492 14.5825 15.3462 14.3799C15.2108 14.1677 15.1118 13.9314 15.0493 13.671C14.9868 13.4106 14.9556 13.155 14.9556 12.9042V12.8608ZM16.2681 12.9476C16.2889 13.0441 16.3097 13.155 16.3306 13.2804C16.3514 13.4058 16.3827 13.5215 16.4243 13.6276C16.466 13.724 16.5233 13.8012 16.5962 13.8591C16.6795 13.9073 16.7941 13.9073 16.9399 13.8591C17.0754 13.7433 17.2212 13.6131 17.3774 13.4684C17.5337 13.3238 17.6795 13.1694 17.8149 13.0055C17.9608 12.8415 18.0806 12.6679 18.1743 12.4847C18.2681 12.3014 18.3149 12.1085 18.3149 11.9059C18.3566 11.578 18.3306 11.279 18.2368 11.009C18.1431 10.7292 18.0077 10.5315 17.8306 10.4158C17.6639 10.2904 17.4712 10.2759 17.2524 10.3724C17.0337 10.4592 16.8149 10.7051 16.5962 11.1102C16.4712 11.361 16.3827 11.6552 16.3306 11.9928C16.2889 12.3207 16.2681 12.6245 16.2681 12.9042V12.9476Z" fill="white")
                                .product-page__intro.mt-2
                                    a.product-page__complect-link.text-dashed.scroll(href="#complect") В комплекте от 4 000 руб.
                                .hr.mt-2
                                //- Вариации товара: цвет
                                .product-page__option
                                    p.text-small.text-bolder.text-spacer.text-uppercase Цвет: 
                                        span.text-bold Чёрный
                                    .product-page__color
                                        .product-page__color-item
                                            input.product-page__color-input(value="Черный" type="radio" id="color1" name="color" checked="checked")
                                            label.product-page__color-label(for="color1" style="background-image: url('./product/prod-1.jpg')") 
                                        .product-page__color-item
                                            input.product-page__color-input(value="Серый" type="radio" id="color2" name="color" )
                                            label.product-page__color-label(for="color2" style="background-image: url('./product/prod-2.jpg')") 
                                        .product-page__color-item
                                            input.product-page__color-input(value="Белый" type="radio" id="color3" name="color" )
                                            label.product-page__color-label(for="color3" style="background-image: url('./product/prod-3.jpg')") 
                                //- Вариации товара: размеры
                                .product-page__option
                                    .row
                                        .col-7.col-xs-6
                                            p.text-small.text-bolder.text-spacer.text-uppercase Размеры
                                        .col-5.col-xs-6
                                            a.table-size.justify-content-end(href="javascript:;" data-fancybox data-src="./img/size-demo.jpg")
                                                svg.table-size__icon(width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M2.76497 12.4904C8.94718 11.5197 15.1426 10.6406 21.3749 10.0831C21.5139 10.1219 21.6475 10.1013 21.7642 10.0388C22.2469 9.94521 22.3178 9.42411 22.1017 9.05037C22.0579 8.94812 21.9913 8.85084 21.8902 8.76784C21.0174 5.03273 21.4668 1.55764 19.9687 0.5C7.58745 2.31309 2.01669 2.48705 1.76721 2.61526C1.41376 2.5851 0.933384 2.90339 0.942407 3.37071C0.792612 5.1838 1.35822 9.78347 1.76718 11.9409C1.84337 12.3429 2.15672 12.5021 2.46404 12.4765C2.55469 12.501 2.65532 12.5076 2.76497 12.4904ZM2.46404 3.97509C5.4464 3.65101 14.4256 1.8598 19.0698 2.61526C19.3695 3.67291 19.7838 6.69473 19.7838 8.82058C18.7966 8.91573 17.8103 9.02141 16.8248 9.13083C16.8207 8.86013 16.5128 7.26753 16.4577 7C16.2735 6.10673 14.9208 6.40904 15.1057 7.30444C15.1515 7.52717 15.4481 9.06278 15.4442 9.28686C14.5941 9.38704 13.745 9.49459 12.8958 9.60292C12.8413 9.36041 12.4992 7.79475 12.4446 7.55198C12.2452 6.6626 10.8926 6.96335 11.0926 7.8561C11.1379 8.05802 11.4708 9.58186 11.5161 9.78347C10.8288 9.87519 10.1422 9.97558 9.45515 10.0716C9.40592 9.80267 9.05037 8.21592 8.95922 7.95442C8.83202 7.59117 8.5386 7.32364 8.13465 7.41458C7.80153 7.48943 7.47946 7.89457 7.60716 8.2589C7.68569 8.48371 8.03562 10.0333 8.08297 10.2637C7.33515 10.3713 6.58835 10.4877 5.84074 10.5987C5.79465 10.3267 5.44417 8.73568 5.35206 8.46919C5.22638 8.10542 4.93068 7.83892 4.52749 7.9294C4.19356 8.00419 3.87412 8.40882 4 8.77368C4.07878 9.00191 4.43124 10.5621 4.47889 10.8023C3.99054 10.8763 3.50194 10.9448 3.01389 11.021C2.76497 8.62686 2.46404 6.24145 2.46404 3.97509Z")
                                                span.table-size__link Таблица размеров
                                    .product-page__size.product-page__size_has-default
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size1" name="size" checked="checked")
                                            label.product-page__size-label.product-page__size-label_has-icon(for="size1" data-toggle="tooltip" title="Согласовать по телефону") Не знаю
                                                span.product-page__tooltip-info i
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size2" name="size")
                                            label.product-page__size-label(for="size2") XXS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size3" name="size")
                                            label.product-page__size-label(for="size3") XS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size4" name="size")
                                            label.product-page__size-label(for="size4") S
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size5" name="size")
                                            label.product-page__size-label(for="size5") M
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size6" name="size")
                                            label.product-page__size-label(for="size6") L
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size7" name="size")
                                            label.product-page__size-label(for="size7") L-XL
                                .product-page__btns(data-product="show")
                                    .product-page__buy
                                        a.btn.btn_action.btn--full.btn--has-icon(href="#" data-sidebar="cart") 
                                            <svg class="btn__icon btn__icon_left" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.0273 1C5.41191 1 4.10918 2.30273 4.10918 3.91811V5.7072H1.95534L1 15H12.8809L11.9256 5.7072H9.96278V3.91811C9.96278 2.30273 8.66005 1 7.04467 1C7.0273 1 7.0273 1 7.0273 1Z" fill="#C9002E"/>
                                                <path d="M4.50871 3.91807C4.50871 2.52849 5.63775 1.39945 7.02732 1.41682C8.4169 1.41682 9.52856 2.54586 9.52856 3.91807V5.70715H4.50871V3.91807Z" fill="#C9002E" stroke="white" stroke-miterlimit="10"/>
                                                <path d="M12.4294 14.6005H1.45169L2.30281 6.12402H11.5609L12.4294 14.6005Z" fill="#C9002E" stroke="white" stroke-miterlimit="10"/>
                                            </svg>
                                            |  В корзину
                                    .product-page__quick-buy 
                                        a.btn.btn_border.btn--full.open-block(href="#" data-id="#quickBlock" data-trigger="click") Быстрая покупка
                                //- Быстрая покупка
                                .product-page__quick#quickBlock
                                    p Условия доставки и оплаты будут согласованы при подтверждении заказа.
                                    form.form(action="")
                                        .form__group
                                            .form__row.row
                                                .form__col.col-6.mt-1
                                                    +input('', 'Имя *')(label="input__label_inside" class="input_label-inside")
                                                .form__col.col-6.mt-1
                                                    +input('', 'Телефон *')(label="input__label_inside" class="input_label-inside")
                                                .form__col.col-6.mt-1
                                                    +input('', 'E-mail *')(label="input__label_inside" class="input_label-inside")
                                                .form__col.col-6.mt-1
                                                    +btn('', 'Заказать')(class="btn_action btn--full")
                                    .mt-2.mt-sm-1
                                        +btn('', 'Demo Apple Pay')(class="btn_border btn--full")
                                //- Информационный блок с иконкой
                                .product-page__blockquote.d-sm-none
                                    .product-page__blockquote-icon
                                        <svg class="product-page__blockquote-svg" width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.734 11.13V12.5377C14.734 12.9848 14.8361 13.36 15.0376 13.6522C15.3156 14.0555 15.7719 14.2867 16.29 14.2867C16.7977 14.2867 17.3021 14.0705 17.7892 13.6445L23.1063 8.9948C24.2737 7.9739 24.2737 6.31277 23.1063 5.29186L17.7892 0.64215C17.3021 0.215973 16.7977 0 16.29 0C15.5154 0 14.734 0.540893 14.734 1.74893V3.02746C7.18508 3.41732 0.9358 8.48339 0.00703159 15.1162C-0.0450009 15.4866 0.195863 15.8412 0.592825 15.9786C0.705196 16.0174 0.822208 16.0362 0.937755 16.0362C1.23041 16.0362 1.51427 15.9164 1.69504 15.7004C4.18625 12.7238 8.18616 10.9467 12.3947 10.9467C13.1744 10.9467 13.9586 11.0082 14.734 11.13Z" fill="#44C57F"/>
                                            <path d="M27.4069 18.0215C27.01 17.8839 26.5571 17.9984 26.3047 18.2998C23.8138 21.2762 19.8138 23.0533 15.6053 23.0533C14.8256 23.0533 14.0414 22.9918 13.266 22.8701V21.4623C13.266 20.2542 12.4843 19.7133 11.71 19.7133C11.2023 19.7133 10.6979 19.9295 10.2105 20.3557L4.89344 25.0052C3.72625 26.0261 3.72625 27.6872 4.89369 28.7084L10.2105 33.3579C10.6979 33.784 11.2023 34 11.71 34C12.4843 34 13.266 33.4591 13.266 32.2511V30.9726C20.8152 30.5827 27.0642 25.5166 27.993 18.8841C28.045 18.5134 27.8041 18.1588 27.4069 18.0215Z" fill="#44C57F"/>
                                        </svg>
                                    .product-page__blockquote-title Размер не&nbsp;подошёл? Привезём другой!
                                    .product-page__blockquote-content Вы можете осуществить обмен неподошедшего по&nbsp;размеру 
                                        | товара в&nbsp;течение 60&nbsp;дней.
                                //- Дополнительные ссылки
                                //- .hr.d-sm-none
                                //- .product-page__subinfo
                                    //- .product-page__subinfo-item
                                    //-     <svg class="product-page__subinfo-icon" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    //-         <path d="M8.09093 6.32394C8.19699 6.38209 8.2879 6.41116 8.42426 6.44024C8.45457 6.44024 8.48487 6.45478 8.51517 6.45478H8.57578H8.71214L8.93941 6.46931L9.39396 6.48385C9.69699 6.49839 10 6.51293 10.2879 6.51293C10.894 6.52746 11.4849 6.542 12.0909 6.542H12.4546H12.6364H12.7273C12.7727 6.542 12.8182 6.542 12.8637 6.52746C13.2424 6.48385 13.5909 6.26578 13.8031 5.96049C13.8485 5.8878 13.894 5.80058 13.9243 5.71335C13.9394 5.66974 13.9546 5.62612 13.9697 5.58251C13.9697 5.55343 13.9849 5.5389 13.9849 5.50982L14 5.43713V5.39352V5.37898V5.36444V5.32083V5.29175V5.26268V5.21906V5.04461L13.9849 4.3468L13.9243 1.58462L13.9394 1.4247C13.9394 1.39563 13.9394 1.38109 13.9394 1.33748C13.9394 1.29386 13.9394 1.26479 13.9394 1.22117C13.9243 1.06126 13.894 0.91588 13.8182 0.770503C13.6667 0.479747 13.4091 0.247142 13.0758 0.145378C13.0303 0.13084 13 0.116302 12.9394 0.116302L12.8637 0.101764L12.8031 0.0872267H12.7576H12.7424H12.7273H12.697H12.6212L12.3031 0.0726889L11.6515 0.0436134C10.7576 0.0145378 9.87881 0 9.00002 0H8.66669H8.62123H8.56063C8.51517 0 8.46972 0 8.42426 0.0145378C8.33335 0.0290756 8.24244 0.0436133 8.15154 0.0726889C7.80305 0.174453 7.50002 0.436133 7.33335 0.755965C7.2879 0.828654 7.2576 0.91588 7.22729 1.00311C7.21214 1.04672 7.19699 1.09033 7.19699 1.14848C7.18184 1.20664 7.18184 1.26479 7.18184 1.27932V1.32294V1.36655V1.38109V1.45378V1.62823V2.25336C7.18184 3.09655 7.18184 3.93974 7.16669 4.76839C7.16669 4.91377 7.27275 5.14638 7.33335 5.21906C7.48487 5.36444 7.60608 5.17545 7.69699 4.89923C8.00002 3.96881 8.13638 2.82033 8.16669 1.67185L8.18184 1.41016V1.38109V1.36655C8.18184 1.38109 8.18184 1.33748 8.18184 1.38109V1.36655V1.3084L8.19699 1.26479C8.22729 1.1921 8.27275 1.11941 8.34851 1.0758C8.42426 1.03218 8.50002 1.01764 8.59093 1.01764L9.13638 1.03218C9.86366 1.04672 10.5909 1.0758 11.3182 1.09033L12.4091 1.10487H12.6818C12.7576 1.10487 12.7273 1.10487 12.7727 1.11941C12.8334 1.13395 12.8788 1.17756 12.9091 1.22117C12.9243 1.25025 12.9394 1.26479 12.9394 1.29386C12.9394 1.3084 12.9394 1.32294 12.9546 1.33748C12.9546 1.35201 12.9546 1.35201 12.9546 1.36655C12.9546 1.38109 12.9546 1.41016 12.9546 1.4247V1.94806C12.9546 2.29697 12.9697 2.64588 12.9849 2.99478C12.9697 3.34369 12.9697 3.6926 12.9546 4.02697L12.9394 4.85562V5.26268V5.29175C12.9394 5.30629 12.9394 5.33537 12.9394 5.33537C12.9394 5.33537 12.9394 5.32083 12.9394 5.33537C12.9394 5.3499 12.9243 5.37898 12.9091 5.39352C12.8637 5.46621 12.7879 5.50982 12.7121 5.50982H11.8788C11.3031 5.50982 10.7273 5.52436 10.1667 5.5389L9.2879 5.55343L8.53032 5.58251C8.40911 5.58251 8.27275 5.50982 8.16669 5.43713C8.06063 5.36444 7.96972 5.26268 7.83335 5.27722C7.71214 5.29175 7.59093 5.43713 7.62123 5.69881C7.63638 5.82965 7.69699 5.98957 7.83335 6.12041C7.90911 6.20763 7.98487 6.28032 8.09093 6.32394Z"/>
                                    //-         <path d="M2.2272 5.82971C2.2575 5.85879 2.37872 5.84425 2.45447 5.81517C2.59084 5.75702 2.63629 5.62618 2.63629 5.50988C2.65144 5.10282 2.48478 4.76845 2.2575 4.50677C2.06053 4.27417 1.86356 4.02703 1.65144 3.79442C1.78781 3.80896 1.93932 3.8235 2.07568 3.8235C2.56053 3.80896 3.04538 3.75081 3.53023 3.72173C4.39387 4.04156 5.28781 3.86711 6.15144 3.92526C6.1969 3.92526 6.2575 3.8235 6.27266 3.76535C6.31811 3.61997 6.2575 3.50367 6.18175 3.41644C5.93932 3.09661 5.63629 2.96577 5.33326 2.93669C4.60599 2.84947 3.87872 2.73316 3.15144 2.82039C3.06053 2.80585 2.96962 2.79132 2.87872 2.79132C2.54538 2.76224 2.2272 2.7477 1.89387 2.76224C2.2575 2.44241 2.59084 2.0935 2.87872 1.70098C2.98478 1.54107 3.01508 1.33754 2.81811 1.16308C2.63629 1.00317 2.40902 0.974092 2.24235 1.09039C1.95447 1.29392 1.65144 1.51199 1.40902 1.75913C0.999927 2.16619 0.63629 2.58779 0.257502 3.00938C0.105987 3.12568 0.0605325 3.32921 0.151442 3.50367L0.181745 3.60543C0.681745 4.50677 1.54538 5.07375 2.2272 5.82971Z"/>
                                    //-         <path d="M0.0606061 12.6626C0.0606061 12.7063 0.0606061 12.7353 0.0606061 12.7789C0.0757576 12.9389 0.106061 13.0842 0.181818 13.2296C0.333333 13.5204 0.590909 13.753 0.924243 13.8547C0.969697 13.8693 1 13.8838 1.06061 13.8838L1.13636 13.8984L1.19697 13.9129H1.24242H1.25758H1.27273H1.30303H1.37879L1.69697 13.9274L2.34849 13.9565C3.22727 13.9856 4.09091 14.0001 4.9697 14.0001H5.30303H5.34849H5.40909C5.45455 14.0001 5.5 14.0001 5.54546 13.9856C5.63637 13.971 5.72727 13.9565 5.81818 13.9274C6.18182 13.8111 6.48485 13.564 6.63637 13.2442C6.68182 13.1715 6.71212 13.0842 6.74243 12.997C6.75758 12.9534 6.77273 12.9098 6.77273 12.8516C6.78788 12.7935 6.78788 12.7353 6.78788 12.7208V12.6772V12.6336V12.619V12.5463V12.3864V11.7613C6.78788 10.9181 6.78788 10.0749 6.80303 9.24627C6.80303 9.10089 6.69697 8.86828 6.63637 8.79559C6.48485 8.65022 6.36364 8.83921 6.27273 9.11543C5.9697 10.0458 5.83334 11.1943 5.80303 12.3428L5.78788 12.6045V12.6336V12.6481C5.78788 12.6336 5.78788 12.6772 5.78788 12.6336V12.6481V12.7063V12.7499C5.75758 12.8226 5.71212 12.8953 5.63637 12.9389C5.56061 12.9825 5.48485 12.997 5.39394 12.997L4.84849 12.9825C4.12121 12.9679 3.39394 12.9389 2.66667 12.9243L1.57576 12.9098H1.30303C1.22727 12.9098 1.25758 12.9098 1.21212 12.8952C1.15152 12.8807 1.10606 12.8371 1.07576 12.7935C1.06061 12.7644 1.04546 12.7499 1.04546 12.7208C1.04546 12.7063 1.04545 12.6917 1.0303 12.6772C1.0303 12.6626 1.0303 12.6626 1.0303 12.6481C1.0303 12.6336 1.0303 12.6045 1.0303 12.59V12.0666C1.0303 11.7177 1.01515 11.3688 1 11.0199C1.01515 10.671 1.01515 10.3221 1.0303 9.98769L1.04546 9.15904V8.75198V8.72291C1.04546 8.70837 1.04546 8.67929 1.04546 8.67929C1.04546 8.67929 1.04546 8.69383 1.04546 8.67929C1.04546 8.66475 1.06061 8.63568 1.07576 8.62114C1.12121 8.54845 1.19697 8.50484 1.27273 8.50484H2.10606C2.68182 8.50484 3.25758 8.4903 3.81818 8.47576L4.66667 8.44669L5.42424 8.41761C5.54546 8.41761 5.68182 8.4903 5.78788 8.56299C5.89394 8.63568 5.98485 8.73744 6.12121 8.72291C6.24243 8.70837 6.36364 8.56299 6.33334 8.30131C6.31818 8.17047 6.25758 8.01055 6.12121 7.87971C6.06061 7.80703 5.9697 7.74887 5.87879 7.69072C5.77273 7.63257 5.68182 7.6035 5.54546 7.57442C5.51515 7.57442 5.48485 7.55988 5.45455 7.55988H5.39394H5.25758L5.03031 7.54535L4.57576 7.53081C4.27273 7.51627 3.9697 7.50173 3.68182 7.50173C3.07576 7.48719 2.48485 7.47266 1.87879 7.47266H1.51515H1.33333H1.24242C1.19697 7.47266 1.15152 7.47266 1.10606 7.48719C0.727273 7.53081 0.378788 7.74887 0.166667 8.05417C0.121212 8.12686 0.0757576 8.21408 0.0454546 8.30131C0.030303 8.34492 0.0151515 8.38854 0 8.43215C0.030303 8.44669 0.030303 8.47576 0.030303 8.4903L0.0151515 8.56299V8.6066V8.62114V8.63568V8.67929V8.70837V8.75198V8.79559V8.97005L0.030303 9.66786L0.0909091 12.4446L0.0757576 12.6045C0.0757576 12.619 0.0757576 12.6336 0.0606061 12.6626Z"/>
                                    //-         <path d="M10.8485 11.1941C10.9394 11.2087 11.0303 11.2232 11.1212 11.2232C11.4545 11.2523 11.7727 11.2668 12.1061 11.2523C11.7424 11.5721 11.4091 11.921 11.1212 12.3135C11.0151 12.4734 10.9848 12.677 11.1818 12.8514C11.3636 13.0113 11.5909 13.0404 11.7576 12.9241C12.0454 12.7206 12.3485 12.5025 12.5909 12.2554C13 11.8483 13.3636 11.4267 13.7424 11.0051C13.8939 10.8743 13.9394 10.6708 13.8485 10.4963L13.8182 10.4091C13.3182 9.50773 12.4545 8.92622 11.7727 8.18479C11.7424 8.15572 11.6212 8.17026 11.5454 8.19933C11.4091 8.25748 11.3636 8.38832 11.3636 8.50463C11.3485 8.91168 11.5151 9.24605 11.7424 9.50773C11.9394 9.74034 12.1364 9.98748 12.3485 10.2201C12.2121 10.2055 12.0606 10.191 11.9242 10.191C11.4394 10.2055 10.9545 10.2637 10.4697 10.2928C9.60606 9.97294 8.71211 10.1474 7.84848 10.0892C7.80302 10.0892 7.74242 10.191 7.72727 10.2492C7.68181 10.3945 7.74242 10.5108 7.81817 10.5981C8.0606 10.8888 8.36363 11.0197 8.66666 11.0487C9.37878 11.165 10.1061 11.2959 10.8485 11.1941Z"/>
                                    //-     </svg>
                                    //-     a.product-page__subinfo-link(href="#") Доставка и возврат
                                    //- .product-page__subinfo-item
                                    //-     <svg class="product-page__subinfo-icon" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    //-         <path d="M0.645932 12.3846C0.614212 12.4048 0.585376 12.425 0.550772 12.4394L0.504634 12.4654L0.446962 12.4971L0.42966 12.5058L0.421009 12.5115L0.389289 12.5317C0.36622 12.549 0.343151 12.5663 0.320082 12.5865C0.023069 12.8489 -0.0259526 13.2353 0.103811 13.541C0.16725 13.6967 0.288363 13.838 0.444078 13.9274C0.519053 13.9706 0.602678 14.0052 0.680535 14.0197L0.741092 14.0312L0.778579 14.037L0.816066 14.0427C0.899691 14.0543 1.07848 14.0658 1.18805 14.0658C1.43316 14.0658 1.6725 14.0398 1.90608 13.9966C2.37322 13.9043 2.81442 13.7371 3.21524 13.5035C3.44305 13.3737 3.62472 13.2036 3.71988 13.0565C3.81504 12.9008 3.82657 12.7682 3.73141 12.6759C3.55263 12.5058 3.20947 12.5692 2.80577 12.7364C2.44243 12.8893 2.05314 12.9844 1.6725 13.0162C1.62348 13.0219 1.57734 13.0248 1.52832 13.0248C1.65232 12.9123 1.76478 12.7912 1.86282 12.6644C2.15118 12.2981 2.35304 11.8973 2.51452 11.4994L2.5174 11.4936C2.57796 11.3465 2.55489 11.1735 2.44531 11.0438L2.17714 10.7294C2.13388 10.6775 2.08486 10.6256 2.04449 10.5708L1.92626 10.4007C1.8484 10.2854 1.76189 10.1787 1.69269 10.0576L1.48795 9.69422C1.31205 9.12326 1.18229 8.55231 1.11308 7.97558C1.05829 7.39597 1.06117 6.81348 1.13615 6.23964L1.20824 5.80998C1.23996 5.66868 1.28033 5.53027 1.31493 5.38897C1.34377 5.24767 1.40433 5.11214 1.45046 4.97661L1.52255 4.77187C1.54851 4.70267 1.58311 4.63923 1.61195 4.5729C1.67539 4.44314 1.73018 4.30761 1.80515 4.18361L2.03007 3.81163C2.10505 3.68763 2.19732 3.58959 2.27806 3.47713C2.32132 3.42234 2.35881 3.36755 2.40494 3.31276L2.56931 3.13974C2.64717 3.059 2.69331 2.86003 2.676 2.77064C2.64717 2.59474 2.45973 2.62069 2.24923 2.71873C2.07621 2.80236 1.90031 2.88887 1.74171 3.01863C1.58311 3.14551 1.40433 3.28392 1.27168 3.45117C1.13326 3.61842 0.980432 3.78567 0.870855 3.98464C0.752626 4.18073 0.634397 4.3797 0.553656 4.59886C0.501751 4.72862 0.444078 4.85838 0.395057 4.98815L0.271061 5.39185C0.250875 5.45818 0.227806 5.52738 0.210505 5.59371L0.16725 5.80133L0.0807415 6.21657L0.0317199 6.63758L0.00865087 6.84808L0.00576725 7.06147L0 7.48825L0.0346035 7.91502L0.0519052 8.12841L0.0893924 8.33892L0.16725 8.75993C0.204737 8.89834 0.245108 9.03387 0.285479 9.17229L0.346035 9.37702C0.369104 9.44335 0.39794 9.50967 0.423893 9.57599L0.58826 9.97393C0.651699 10.1037 0.72379 10.2277 0.790113 10.3546C0.916993 10.6112 1.09866 10.839 1.26014 11.0726C1.32935 11.1764 1.40144 11.2773 1.47642 11.3783C1.33512 11.6407 1.17364 11.88 0.991967 12.0761C0.89104 12.2001 0.769899 12.3039 0.645932 12.3846Z"/>
                                    //-         <path d="M5.10115 5.56196C5.87396 5.64558 6.64677 5.77246 7.42535 5.6773C7.52051 5.68884 7.61856 5.70037 7.71372 5.70902C8.32504 5.75805 8.93349 5.77246 9.54193 5.65424C9.71495 5.61963 9.85913 5.48699 9.84472 5.22746C9.83318 4.98812 9.70918 4.81222 9.53328 4.78626C9.21608 4.73724 8.89312 4.68245 8.57592 4.68822C8.06263 4.69976 7.54935 4.75743 7.03606 4.79492C6.11619 4.4633 5.17324 4.65362 4.24183 4.58441C4.20146 4.58153 4.13514 4.68245 4.11495 4.75166C4.07458 4.89296 4.12649 5.01119 4.20723 5.10058C4.46675 5.39759 4.7811 5.52736 5.10115 5.56196Z"/>
                                    //-         <path d="M4.20426 6.9779C4.46379 7.27491 4.78099 7.40468 5.10107 7.43928C5.87388 7.5229 6.64669 7.64978 7.42527 7.55462C7.52043 7.56616 7.61848 7.57769 7.71364 7.58634C8.32496 7.63537 8.93341 7.64978 9.54185 7.53156C9.71487 7.49695 9.85905 7.36431 9.84464 7.10478C9.8331 6.86544 9.70911 6.68954 9.5332 6.66358C9.216 6.61456 8.89304 6.55977 8.57584 6.56554C8.06255 6.57708 7.54927 6.63475 7.03598 6.67224C6.11611 6.34062 5.17316 6.53094 4.24175 6.46173C4.20138 6.45885 4.13506 6.55977 4.11487 6.62898C4.0745 6.76739 4.12638 6.88851 4.20426 6.9779Z"/>
                                    //-         <path d="M4.20426 8.8551C4.46379 9.15211 4.78099 9.28187 5.10107 9.31648C5.87388 9.4001 6.64669 9.52698 7.42527 9.43182C7.52043 9.44336 7.61848 9.45489 7.71364 9.46354C8.32496 9.51256 8.93341 9.52698 9.54185 9.40875C9.71487 9.37415 9.85905 9.2415 9.84464 8.98198C9.8331 8.74263 9.70911 8.56673 9.5332 8.54078C9.216 8.49176 8.89304 8.43697 8.57584 8.44274C8.06255 8.45427 7.54927 8.51194 7.03598 8.54943C6.11611 8.21782 5.17316 8.40813 4.24175 8.33893C4.20138 8.33604 4.13506 8.43697 4.11487 8.50618C4.0745 8.64459 4.12638 8.7657 4.20426 8.8551Z"/>
                                    //-         <path d="M3.95051 12.2923C3.70541 12.3212 3.88131 12.5519 4.18985 12.8172C4.70314 13.2266 5.39233 13.5669 6.17091 13.7342C6.94948 13.9014 7.81457 13.8956 8.64794 13.7024C9.65721 13.4833 10.6059 13.0075 11.422 12.3673C11.5229 12.2837 11.6181 12.1972 11.7161 12.1107L11.8632 11.9809L11.8805 11.9636L11.8863 11.9607L11.8891 11.9578L11.9093 11.9377L11.918 11.929L11.9497 11.8973L12.0131 11.831L12.264 11.5657C12.3044 11.5195 12.3476 11.482 12.388 11.4273L12.512 11.2658L12.76 10.9428C12.8436 10.8361 12.9013 10.7208 12.9734 10.6112C13.0426 10.4987 13.1118 10.3892 13.1781 10.2738L13.3511 9.91912C13.5818 9.44621 13.7347 8.93869 13.8558 8.42829C13.8846 8.29853 13.899 8.16876 13.9192 8.039C13.9365 7.90924 13.9653 7.77947 13.9711 7.64683L13.9913 7.25177L13.9999 7.0528C13.9999 6.98648 13.9942 6.92015 13.9913 6.85383C13.9625 5.79842 13.6856 4.74878 13.181 3.82026C13.057 3.59245 12.933 3.36176 12.7946 3.13972L12.5639 2.82252C12.4889 2.71583 12.4168 2.60625 12.3246 2.51109L12.1198 2.27752L12.016 2.15929L11.9641 2.10162L11.9526 2.0872L11.9468 2.07855L11.9439 2.07566L11.941 2.07278L11.918 2.05259L11.892 2.02953L11.471 1.63735C11.3153 1.50759 11.1307 1.37494 10.9606 1.24518C10.9174 1.21346 10.8741 1.17886 10.8308 1.15002L10.6982 1.06928L10.43 0.907796C9.70911 0.492554 8.90747 0.209958 8.08563 0.0830788C7.2638 -0.0466843 6.4189 -0.0236153 5.60571 0.146519C4.79542 0.319536 4.01972 0.651153 3.33919 1.10677C3.13733 1.22499 2.97297 1.37783 2.82302 1.51336C2.74804 1.58256 2.67884 1.646 2.61828 1.71233C2.56061 1.78153 2.51159 1.84786 2.46833 1.9113C2.29531 2.16217 2.24052 2.34384 2.35875 2.41593C2.58368 2.54858 3.10561 2.23715 3.83229 1.82767C5.14433 1.08658 6.71879 0.876076 8.17214 1.16444C8.7604 1.27978 9.32271 1.49029 9.85618 1.76423L10.2455 1.98627C10.3723 2.06413 10.4819 2.15352 10.603 2.23426C10.6636 2.27752 10.7213 2.315 10.7818 2.36114L10.9635 2.51974L11.1452 2.67834L11.2374 2.75908L11.2547 2.7735L11.2634 2.78215L11.3009 2.82252C11.7305 3.24642 12.0852 3.73952 12.3794 4.26434C12.6648 4.79781 12.8609 5.37741 12.982 5.97144C12.9936 5.92819 13.0051 5.88493 13.0137 5.84168C13.008 5.8907 12.9936 5.93395 12.982 5.97144L13.0109 6.37803C13.0224 6.51356 13.008 6.64909 13.0109 6.78462C13.0195 7.05569 12.9705 7.32386 12.9503 7.59204L12.8753 7.98998C12.8609 8.0563 12.8523 8.12263 12.8378 8.18895L12.7831 8.38215C12.7456 8.51192 12.7139 8.64168 12.6706 8.76856L12.5264 9.14343C12.486 9.27031 12.4168 9.38854 12.3592 9.50677L12.2698 9.68555C12.2409 9.74611 12.2121 9.80666 12.1746 9.86145L11.9641 10.2017L11.9122 10.2853L11.8545 10.3603L11.7392 10.5132L11.6267 10.666C11.6065 10.6919 11.5921 10.7179 11.5691 10.7438L11.4941 10.8246L11.1971 11.1475L11.1596 11.1879L11.1452 11.2052L11.1423 11.2081L11.0673 11.2744L10.9202 11.41L10.7732 11.5455L10.6146 11.6666L10.456 11.7877L10.3781 11.8483L10.2945 11.9031L9.95711 12.1193L9.6053 12.3068C9.48996 12.3731 9.36308 12.4163 9.24197 12.4711C8.74887 12.6759 8.22981 12.8172 7.69634 12.8864C7.16287 12.9469 6.62363 12.9383 6.09593 12.8575C5.96617 12.8316 5.83064 12.8201 5.70087 12.7854L5.31447 12.6845L4.93671 12.5519C4.80983 12.5086 4.70314 12.4509 4.58491 12.4019C4.54454 12.3846 4.49552 12.3702 4.44073 12.3558C4.38306 12.3356 4.31962 12.3183 4.25906 12.3039C4.12927 12.2981 4.01393 12.2837 3.95051 12.2923Z"/>
                                    //-     </svg>
                                    //-     a.product-page__subinfo-link(href="faq.html" target="_blank") Частозадаваемые вопросы
                                    .product-page__subinfo-item
                                        <svg class="product-page__subinfo-icon" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.4648 13.9798C13.5531 13.9571 13.6385 13.9174 13.7125 13.8606C13.8577 13.7528 13.9573 13.5796 13.9772 13.3951C13.9801 13.3724 13.9801 13.3497 13.9801 13.327V13.3099V13.2844V13.2305V13.1254L13.9829 12.7053L13.9943 11.0193C13.9972 9.89522 13.9972 8.77401 14 7.6528C13.9943 5.40753 13.9687 3.16795 13.9118 0.931202C13.9089 0.851724 13.9061 0.772245 13.9032 0.695605V0.664382V0.655866L13.9004 0.633158C13.8975 0.616127 13.8975 0.601935 13.8947 0.587742C13.8833 0.53381 13.8719 0.49691 13.8548 0.454332C13.8178 0.372015 13.7637 0.298214 13.6983 0.241444C13.6328 0.184674 13.5531 0.142096 13.4677 0.116549C13.425 0.105195 13.3823 0.0966797 13.3396 0.0966797H13.3083H13.2969H13.2826C13.1318 0.105195 12.9866 0.113711 12.8471 0.122226C12.571 0.142096 12.3205 0.170481 12.1155 0.204543C11.7027 0.272667 11.4608 0.369177 11.5092 0.499748C11.5519 0.616127 11.7995 0.718314 12.2009 0.794953C12.4002 0.831854 12.6393 0.865916 12.9097 0.888624C12.9581 0.891463 13.0094 0.89714 13.0606 0.899978C13.0606 0.931202 13.0577 0.959587 13.0577 0.990811C13.0094 3.33542 12.9553 5.6999 12.961 8.05019L12.9752 10.8887L12.9866 12.308L12.9923 13.0176V13.0261L7.41277 13.0885C5.7133 13.0062 4.00244 12.958 2.28874 12.9296C1.87881 12.9239 1.46889 12.9182 1.05897 12.9126L1.06181 12.6117C1.06466 11.7544 1.06751 10.8944 1.07035 10.0343C1.06751 8.31417 1.06466 6.59403 1.06181 4.87389C1.06181 4.01382 1.06181 3.15376 1.06181 2.29369L1.06751 1.13274L1.40626 1.13557C1.7137 1.13841 2.19195 1.03907 2.34282 0.970941C2.64172 0.831854 2.25173 0.715475 1.671 0.627481C1.43188 0.590581 1.18422 0.556518 0.930866 0.525295C0.868239 0.516779 0.805612 0.511102 0.740138 0.502587L0.643351 0.491233C0.631964 0.488394 0.600651 0.488394 0.575031 0.494071C0.54941 0.499748 0.52379 0.508264 0.501017 0.525295C0.45547 0.55368 0.42131 0.601935 0.407076 0.655866C0.404229 0.670059 0.401383 0.684251 0.401383 0.698444L0.398536 0.723991L0.392843 0.772245C0.387149 0.837531 0.378609 0.902817 0.372916 0.968103C0.318829 1.49323 0.273282 2.03538 0.239122 2.59457C0.165108 3.7101 0.125254 4.88241 0.108174 6.06607C0.0854006 7.47965 0.0654738 8.90174 0.0427003 10.3267L0.0113867 12.4641L0.00284669 12.9977L0 13.2645V13.2986V13.3156V13.3582C0 13.3497 0.00284669 13.4036 0.00854006 13.4377C0.0142334 13.4717 0.0199268 13.4916 0.0284669 13.52C0.045547 13.5711 0.0683205 13.6222 0.099634 13.6676C0.159414 13.7584 0.239122 13.8322 0.335909 13.8833C0.384303 13.9089 0.435543 13.9287 0.48963 13.9401C0.51525 13.9458 0.543717 13.9515 0.569337 13.9543L0.609191 13.9571H0.634811L1.70801 13.9685C4.56608 13.9997 7.42985 14.0054 10.305 13.96C11.0167 13.9713 11.7255 13.9798 12.4372 13.9912L13.2826 13.9997H13.2969H13.3367C13.3111 14.0025 13.4392 13.9912 13.4648 13.9798ZM0.631964 13.3185C0.600651 13.3185 0.572184 13.3156 0.631964 13.3185V13.3185ZM0.637658 0.689929C0.637658 0.658705 0.637658 0.627481 0.637658 0.689929V0.689929ZM13.294 13.3241C13.2969 13.3241 13.2969 13.3241 13.294 13.3241C13.294 13.4207 13.294 13.3923 13.294 13.3241ZM13.3026 0.698444C13.3766 0.698444 13.3566 0.698444 13.3026 0.698444V0.698444Z"/>
                                            <path d="M4.64291 10.5452C4.58882 10.5424 4.53189 10.5055 4.46926 10.5197C4.41517 10.531 4.34685 10.5935 4.35824 10.7212C4.36393 10.7836 4.39525 10.8603 4.46357 10.9284C4.52904 10.9965 4.63437 11.0533 4.76816 11.0618C4.83648 11.0675 4.9048 11.059 4.98166 11.0306C5.00159 11.0221 5.02436 11.0107 5.04429 10.9994L5.0813 10.9795L5.09553 10.971L5.10407 10.9682L5.12115 10.954H5.124L5.12684 10.9511L5.15531 10.9341C5.23217 10.8858 5.31188 10.8319 5.39443 10.7751C5.55954 10.6588 5.73888 10.5197 5.92676 10.3607C6.25983 10.0769 6.59573 9.79301 6.9288 9.50916L6.94018 9.52051L7.42412 9.97467L8.39484 10.8773L8.64535 11.1072C8.74214 11.1952 8.87308 11.2605 9.01257 11.2889C9.15206 11.3173 9.29155 11.3031 9.41965 11.2605C9.54775 11.2151 9.66446 11.1385 9.75556 11.0363C9.8011 10.9852 9.84096 10.9256 9.87227 10.8631C9.8865 10.8319 9.90074 10.7978 9.91212 10.7666C9.92351 10.7297 9.9349 10.6815 9.94059 10.6389L9.94628 10.6077V10.5963L9.94913 10.5764V10.5651L9.95198 10.5197V10.4998V10.4175V10.2528C9.94059 7.41717 9.88366 4.5815 9.84665 1.74867C9.87227 1.35695 9.89504 0.962401 9.91212 0.567848C9.92351 0.340768 9.74702 0.147749 9.52213 0.136395L9.47943 0.133556C7.79704 0.0455625 6.1061 0.0115003 4.40379 0.000146297C4.09634 -0.00269221 3.84299 0.244258 3.84299 0.553656V0.562171C3.82022 3.61641 3.87146 6.68768 3.8316 9.74191C3.82876 9.97183 3.92839 10.3295 3.99671 10.443C4.1362 10.6673 4.25291 10.3749 4.34116 9.94061C4.63437 8.50432 4.76247 6.76148 4.79663 4.99025C4.82225 3.67886 4.85072 2.36746 4.87634 1.05323C6.22851 1.07878 7.58069 1.09581 8.93856 1.10149C8.9414 2.03536 8.94994 2.96923 8.96987 3.90594C8.95848 4.43674 8.94994 4.96754 8.93856 5.49834L8.91009 8.02462L8.9044 9.28775V9.9548L7.96214 9.1288L7.72302 8.92159L7.60346 8.8194L7.54368 8.76831L7.51521 8.74276C7.46113 8.69734 7.49813 8.72857 7.44974 8.69167C7.42981 8.67747 7.41273 8.66612 7.39281 8.65193C7.37288 8.64057 7.36149 8.6349 7.34441 8.62354C7.3131 8.60651 7.27894 8.59232 7.24763 8.58096C7.18215 8.55826 7.11098 8.53839 7.04266 8.53271C6.90318 8.51852 6.758 8.53839 6.62705 8.59232C6.56157 8.61786 6.49895 8.65477 6.44486 8.69734L6.40501 8.73141L6.37654 8.75695L6.34807 8.78534L6.23421 8.8932L5.32327 9.76462C5.15246 9.92926 4.9902 10.0939 4.85072 10.2472C4.81656 10.2869 4.7824 10.3238 4.74824 10.3607C4.73116 10.3806 4.71692 10.3976 4.69984 10.4175L4.67707 10.4459L4.66568 10.4601V10.4629C4.67707 10.4544 4.64291 10.4828 4.68846 10.443L4.68561 10.4459L4.67992 10.4515L4.65714 10.4771C4.66283 10.4743 4.67422 10.4657 4.68276 10.4657C4.69415 10.4629 4.69984 10.4629 4.69984 10.4629C4.70269 10.4629 4.70554 10.4657 4.70838 10.4657C4.71977 10.4686 4.73116 10.4799 4.734 10.4884C4.7397 10.514 4.69415 10.5509 4.64291 10.5452ZM9.31717 10.3153C9.32001 10.3181 9.32571 10.321 9.32855 10.3238L9.33425 10.3295L9.32571 10.3238L9.31717 10.3153ZM6.95157 9.38142C6.95726 9.37575 6.95726 9.37575 6.95157 9.38142V9.38142Z"/>
                                        </svg>
                                        a.product-page__subinfo-link.text-dashed(href="#" data-fancybox="photoGallery" data-src="#photo") Фото «До/После»

                                    .product-page__subinfo-item
                                        <svg class="product-page__subinfo-icon" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.8473 0.404809C12.8461 0.392981 12.8451 0.380858 12.8438 0.369089C12.8213 0.155713 12.6074 -0.0240083 12.3912 0.00262683C12.2584 0.0190563 12.008 0.409735 11.9272 0.510907C11.7624 0.716643 11.6096 0.930669 11.4187 1.11357C11.0214 1.49378 10.5 1.735 9.99979 1.94867C8.94233 2.40032 7.76013 2.56217 6.63083 2.73121C6.03011 2.82109 5.42562 2.92143 4.83549 3.06882C2.21215 3.7242 0.978398 5.51961 1.26228 8.22256C1.31277 8.70489 2.07157 8.70984 2.0202 8.22256C1.8696 6.78663 2.02573 5.36788 3.30297 4.50237C4.29125 3.83278 5.597 3.65335 6.7456 3.45068C8.65583 3.1136 10.7914 2.81831 12.1799 1.41479C12.3363 3.59734 12.2148 5.88053 11.181 7.82882C9.58554 10.8356 5.68979 10.7824 2.98669 9.44377C3.90328 8.35813 5.00089 7.40419 6.17056 6.52408C6.5563 6.23372 6.17921 5.57336 5.78797 5.86782C3.13641 7.86342 0.817434 10.2023 0.012294 13.5262C-0.103037 14.0024 0.628109 14.2044 0.743322 13.7283C1.08037 12.3367 1.70036 11.1285 2.50339 10.0499C5.34647 11.5108 9.2146 11.662 11.3534 8.94398C13.1698 6.63531 13.144 3.20999 12.8507 0.434305C12.8497 0.424276 12.8488 0.414454 12.8473 0.404809Z"/>
                                        </svg>
                                        a.product-page__subinfo-link.text-dashed(href="#" data-sidebar="materials") О материалах
                                //- Нужна помощь
                                //- .mt-2.product-page__help 
                                //-     <svg class="product-page__help-svg" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //-         <circle cx="10" cy="10" r="10" fill="#C9002E"/>
                                //-         <path d="M2.15859 7.52863C2.17621 7 2.15419 6.47137 2.09251 5.94273C2.03084 5.4141 2 4.88987 2 4.37004C2 4.20264 2.04846 4.10132 2.14537 4.06608C2.24229 4.02203 2.35242 4 2.47577 4C2.65198 4 2.79736 4.04846 2.91189 4.14537C3.02643 4.24229 3.09251 4.37885 3.11013 4.55507C3.18943 5.51542 3.23348 6.46696 3.24229 7.40969C3.25991 8.34361 3.32599 9.29075 3.44053 10.2511C3.70485 9.7489 3.97797 9.3348 4.25991 9.00881C4.54185 8.68282 4.81057 8.46696 5.06608 8.36123C5.3304 8.25551 5.56828 8.27753 5.77974 8.42731C6 8.56828 6.17621 8.85463 6.30837 9.28634C6.44053 9.70925 6.51982 10.2907 6.54626 11.0308C6.57269 11.7621 6.52863 12.674 6.4141 13.7665C6.35242 13.7665 6.27753 13.7709 6.18943 13.7797C6.10132 13.7797 6.01322 13.7753 5.92511 13.7665C5.84581 13.7577 5.77533 13.7401 5.71366 13.7137C5.65198 13.6872 5.61674 13.6388 5.60793 13.5683C5.67841 12.9075 5.71806 12.3524 5.72687 11.9031C5.73568 11.4537 5.72247 11.0837 5.68722 10.793C5.65198 10.5022 5.60352 10.2819 5.54185 10.1322C5.48018 9.97357 5.4141 9.85903 5.34361 9.78855C5.27313 9.71806 5.20264 9.68282 5.13216 9.68282C5.07048 9.67401 5.02203 9.67401 4.98678 9.68282C4.79295 9.7533 4.60793 9.92511 4.43172 10.1982C4.26432 10.4714 4.11894 10.7885 3.99559 11.1498C3.87225 11.511 3.77974 11.8943 3.71806 12.2996C3.6652 12.696 3.65198 13.0529 3.67841 13.37C3.6696 13.4405 3.66079 13.511 3.65198 13.5815C3.64317 13.652 3.62555 13.7181 3.59912 13.7797C3.5815 13.8414 3.54626 13.8943 3.49339 13.9383C3.44934 13.9736 3.37885 13.9912 3.28194 13.9912C3.09692 13.9912 2.94714 13.9604 2.8326 13.8987C2.72687 13.8282 2.64317 13.7401 2.5815 13.6344C2.52863 13.5286 2.49339 13.4053 2.47577 13.2643C2.46696 13.1233 2.47137 12.978 2.48899 12.8282L2.15859 7.52863Z" fill="white"/>
                                //-         <path d="M12.6123 10.2379C12.5947 10.3965 12.5727 10.5198 12.5463 10.6079C12.5286 10.696 12.4934 10.7753 12.4405 10.8458C12.3877 10.9163 12.3128 10.9912 12.2159 11.0705C12.1189 11.141 11.9868 11.2467 11.8194 11.3877C11.652 11.5198 11.4449 11.696 11.1982 11.9163C10.9515 12.1366 10.652 12.4229 10.2996 12.7753C10.1586 12.9075 10.0132 13.0441 9.86344 13.185C9.71366 13.326 9.55507 13.4537 9.38766 13.5683C9.22907 13.674 9.06167 13.7621 8.88546 13.8326C8.70925 13.9031 8.52423 13.9383 8.3304 13.9383C7.95154 13.9383 7.67401 13.8106 7.4978 13.5551C7.32159 13.2996 7.23348 13.0044 7.23348 12.6696C7.23348 12.4493 7.23789 12.2643 7.2467 12.1145C7.26432 11.9648 7.29956 11.7709 7.35242 11.533C7.25551 11.4449 7.17181 11.37 7.10132 11.3084C7.03084 11.2379 6.99559 11.1454 6.99559 11.0308C6.99559 10.9251 7.01762 10.8546 7.06167 10.8194C7.11454 10.7841 7.17181 10.7621 7.23348 10.7533C7.30396 10.7357 7.37004 10.7181 7.43172 10.7004C7.49339 10.6828 7.53744 10.6476 7.56388 10.5947C7.5815 10.5419 7.61233 10.4449 7.65639 10.304C7.70925 10.163 7.76211 10.0176 7.81498 9.86784C7.86784 9.70925 7.9163 9.56388 7.96035 9.43172C8.01322 9.29075 8.04846 9.19383 8.06608 9.14097C8.12775 8.99119 8.19383 8.84141 8.26432 8.69163C8.34361 8.53304 8.43172 8.39207 8.52863 8.26872C8.63436 8.14537 8.7533 8.04405 8.88546 7.96476C9.02643 7.88546 9.18943 7.84582 9.37445 7.84582C9.48018 7.84582 9.60793 7.89427 9.75771 7.99119C9.9163 8.08811 10.0661 8.20705 10.207 8.34802C10.348 8.48018 10.467 8.62115 10.5639 8.77093C10.6608 8.92071 10.7093 9.04846 10.7093 9.15419C10.7093 9.28634 10.6784 9.40969 10.6167 9.52423C10.5551 9.62996 10.4758 9.73128 10.3789 9.82819C10.2907 9.9163 10.1938 10 10.0881 10.0793C9.98238 10.1586 9.88546 10.2335 9.79736 10.304C9.78855 10.304 9.77092 10.3128 9.74449 10.3304C9.71806 10.348 9.69603 10.3612 9.67841 10.37C9.6696 10.3789 9.64758 10.4009 9.61233 10.4361C9.5859 10.4626 9.55507 10.4934 9.51982 10.5286C9.48458 10.5639 9.44934 10.5991 9.4141 10.6344C9.38766 10.6696 9.37004 10.6916 9.36123 10.7004C9.3348 10.7269 9.28194 10.7709 9.20264 10.8326C9.13216 10.8855 9.05286 10.9471 8.96476 11.0176C8.87665 11.0793 8.79295 11.141 8.71366 11.2026C8.64317 11.2555 8.59471 11.2907 8.56828 11.3084L8.51542 11.4141C8.4978 11.4493 8.48018 11.5286 8.46255 11.652C8.45374 11.7665 8.44053 11.8987 8.42291 12.0485C8.40529 12.1982 8.38766 12.3524 8.37004 12.511C8.36123 12.6608 8.35683 12.7841 8.35683 12.8811C8.35683 12.8899 8.36123 12.8987 8.37004 12.9075C8.38766 12.9251 8.40088 12.9339 8.40969 12.9339C8.48018 12.9339 8.54626 12.9031 8.60793 12.8414C8.6696 12.7797 8.73568 12.7357 8.80617 12.7093L10.9207 10.7533L11.4626 9.92071C11.5066 9.85903 11.5903 9.79295 11.7137 9.72247C11.8458 9.64317 11.978 9.60352 12.1101 9.60352C12.2423 9.59471 12.3568 9.63436 12.4537 9.72247C12.5595 9.81057 12.6123 9.98238 12.6123 10.2379ZM9.70485 9.20705C9.7489 9.17181 9.76652 9.11894 9.75771 9.04846C9.7489 8.97797 9.72247 8.9163 9.67841 8.86344C9.64317 8.81057 9.59471 8.77974 9.53304 8.77093C9.47137 8.7533 9.4141 8.78414 9.36123 8.86344C9.3348 8.89868 9.28634 8.96916 9.21586 9.07489C9.15418 9.18062 9.08811 9.29075 9.01762 9.40529C8.95595 9.51101 8.90308 9.60352 8.85903 9.68282C8.81498 9.76212 8.80617 9.79295 8.8326 9.77533L9.70485 9.20705Z" fill="white"/>
                                //-         <path d="M13.0749 13.0661C13.0749 12.696 13.0837 12.3348 13.1013 11.9824C13.1189 11.63 13.1278 11.2687 13.1278 10.8987C13.1013 9.89427 13.0925 8.91189 13.1013 7.95154C13.1101 6.98238 13.0661 5.99119 12.9692 4.97797C12.9692 4.81057 13.0088 4.70044 13.0881 4.64758C13.1674 4.5859 13.2863 4.55507 13.4449 4.55507C13.6476 4.55507 13.8194 4.61674 13.9604 4.74009C14.1101 4.85463 14.1894 5.01762 14.1982 5.22907C14.1806 6.48018 14.1938 7.72247 14.2379 8.95595C14.2907 10.1806 14.3172 11.4229 14.3172 12.6828V13.7004C14.2643 13.7709 14.1894 13.8414 14.0925 13.9119C13.9956 13.9824 13.8987 14.0088 13.8018 13.9912C13.5463 13.9471 13.3612 13.8458 13.2467 13.6872C13.1322 13.5198 13.0749 13.3128 13.0749 13.0661Z" fill="white"/>
                                //-         <path d="M15.4141 11.6123C15.2467 11.5507 15.0925 11.4758 14.9515 11.3877C14.8194 11.2996 14.7533 11.1542 14.7533 10.9515C14.7533 10.8987 14.7665 10.8634 14.793 10.8458C14.8194 10.8282 14.8414 10.8018 14.859 10.7665C14.8767 10.7401 14.9119 10.6916 14.9648 10.6211C15.0176 10.5507 15.0749 10.4758 15.1366 10.3965C15.1982 10.3084 15.2555 10.2291 15.3084 10.1586C15.3612 10.0793 15.3965 10.0264 15.4141 10C15.4141 9.88546 15.4053 9.7489 15.3877 9.59031C15.3789 9.42291 15.3833 9.26872 15.4009 9.12775C15.4273 8.97797 15.4802 8.85463 15.5595 8.75771C15.6388 8.65198 15.7709 8.59912 15.9559 8.59912C16.0617 8.59912 16.1498 8.63877 16.2203 8.71806C16.2907 8.78855 16.3789 8.82379 16.4846 8.82379H16.5374C16.8987 8.54185 17.2687 8.29515 17.6476 8.0837C18.0352 7.86344 18.467 7.7533 18.9427 7.7533C19.2511 7.7533 19.5022 7.84582 19.696 8.03084C19.8987 8.20705 20 8.45815 20 8.78414C20 9.18943 19.9075 9.60793 19.7225 10.0396C19.5374 10.4714 19.304 10.8943 19.022 11.3084C18.7489 11.7137 18.4493 12.0969 18.1233 12.4581C17.8062 12.8194 17.5154 13.1322 17.2511 13.3965C17.2247 13.4317 17.185 13.4714 17.1322 13.5154C17.0793 13.5507 17.0308 13.5903 16.9868 13.6344C16.9339 13.6784 16.8767 13.7313 16.815 13.793L16.7093 16.8326C16.7093 16.9119 16.7048 16.9956 16.696 17.0837C16.696 17.1718 16.6784 17.2511 16.6432 17.3216C16.6167 17.4009 16.5727 17.4626 16.511 17.5066C16.4581 17.5595 16.3789 17.5859 16.2731 17.5859C16.2203 17.5859 16.1498 17.5727 16.0617 17.5463C15.9736 17.5286 15.8899 17.4978 15.8106 17.4537C15.7313 17.4097 15.6608 17.3568 15.5991 17.2952C15.5463 17.2335 15.5198 17.163 15.5198 17.0837L15.4141 11.6123ZM16.6432 12.4449H16.696C16.7048 12.4449 16.7313 12.4185 16.7753 12.3656C16.8282 12.3128 16.8855 12.2511 16.9471 12.1806C17.0176 12.1101 17.0837 12.0396 17.1454 11.9692C17.2159 11.8899 17.2687 11.8282 17.304 11.7841C17.5683 11.5903 17.8106 11.348 18.0308 11.0573C18.2511 10.7665 18.4273 10.4758 18.5595 10.185C18.7004 9.88546 18.7841 9.61674 18.8106 9.37885C18.8458 9.14097 18.8062 8.97797 18.6916 8.88987C18.5859 8.79295 18.3965 8.80176 18.1233 8.9163C17.859 9.03084 17.4978 9.29515 17.0396 9.70925C16.9339 9.79736 16.837 9.89868 16.7489 10.0132C16.6608 10.1278 16.6079 10.2555 16.5903 10.3965L16.6432 12.4449Z" fill="white"/>
                                //-     </svg> 
                                //-     span.text-action.text-bold Нужна помощь? 
                                //-     a.text-underline(href="#") Напишите нам
            section.content.content_secondary.container.product-page
                .content__inside.product-page__content
                    .row.product-page__row.justify-content-between
                        .col-8.col-xl-7.col-md-12.mb-md-2.product-page__col
                            //- p.text-smaller.text-spacer.text-bolder.text-uppercase Описание товара
                            p 
                                span.text-bold Эффективность: 
                                | профилактика искривления позвоночника, предотвращает развитие сутулости, препятствует болям в спине, профилактика остеохондроза, не сковывает движения, микромассажный эффект
                            p Placerat nulla amet ullamcorper turpis sit. Facilisis duis montes, viverra lorem rhoncus blandit. Semper vitae imperdiet pretium, et proin commodo. Sed tellus sollicitudin sed sociis. 
                            p At odio neque vestibulum nec quisque. Mauris, rhoncus gravida et tincidunt amet, sem pharetra, lobortis. Imperdiet convallis ultricies leo sit. A varius curabitur lorem purus consequat, sapien diam. Viverra duis urna mauris sed nunc, neque nisi. Eget eleifend in magna diam ridiculus a proin. Enim orci quis justo, pulvinar risus. 
                                | Condimentum eu. In commodo sagittis vestibulum, blandit gravida. Ut gravida id dis eget euismod. 
                                | Sodales interdum vel integer magna. Sed facilisis eu ultrices purus congue est nibh. Eu orci non 
                            +faq('Фото «До» и «После»', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                .row 
                                    .col-3.col-sm-6 
                                        a.d-block(data-fancybox="photo" data-src="./img/before-after.jpg")
                                            img.img-fluid(src="./img/before-after.jpg")
                                    .col-3.col-sm-6 
                                        a.d-block(data-fancybox="photo" data-src="./img/before-after-2.jpg")
                                            img.img-fluid(src="./img/before-after-2.jpg")
                            +faq('О материале', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                p.text-spacer.text-bolder.text-uppercase Бельё из алоэ
                                p Целебные свойства этого растения известны с древнейших времен. Материал из натуральных волокон алоэ – это ежедневная забота и уход за вашей кожей. Волокна алоэ обладают уникальными свойствами:
                                ul
                                    li Ускорение регенерации кожи
                                    li Повышение защитных свойств организма
                                    li Ускорение восстановительных процессов
                                    li Антибактериальное и бактерицидное воздействие
                                    li Улучшение кровотока
                                    li Оптимальная терморегуляция
                                    li Хорошая воздухопроницаемость и гигроскопичность
                                    li Износостойкость и цветоустойчивость при многократных стирках
                                p.text-small Рекомендовано: для повседневного ношения в любое время года, для чувствительной кожи, для восстановления после родов и полостных операций.
                        .hr.d-none.d-sm-block.mb-sm-2
                        .col-3.col-xl-5.col-md-12.mb-sm-2.product-page__col
                            .hr.d-none.d-md-block.d-sm-none.mb-md-2
                            .product-page__video
                                .product-page__video-item.mb-2.mb-md-0
                                    a.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                        img.img-fluid(src="./img/banner-video.jpg")
                                    p.mt-1.text-bolder Оригинальный бюстгальтер SANKOM                                    
                                .product-page__video-item.mb-2.mb-md-0
                                    a.link-video(data-fancybox="video" data-src="./img/image-2.jpg" href="javascript:;")
                                        img.img-fluid(src="./img/banner-video.jpg")
                                    p.mt-1.text-bolder Обзор материала
                                .product-page__video-item.mb-2.mb-md-0
                                    a.link-video(data-fancybox="video" data-src="./img/image-3.jpg" href="javascript:;")
                                        img.img-fluid(src="./img/banner-video.jpg")
                                    p.mt-1.text-bolder Презентация модели
                                .product-page__video-item
                                    a.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                        img.img-fluid(src="./img/banner-video.jpg")
                                    p.mt-1.text-bolder Long Shaper CLASSIC
                        <!--noindex-->
                        //- Информационный блок с иконкой
                        .hr.d-none.d-sm-block.mb-sm-2
                        .col-12.col-sm-12.d-none.d-sm-block.product-page__col
                            .product-page__blockquote
                                .product-page__blockquote-icon
                                    <svg class="product-page__blockquote-svg" width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.734 11.13V12.5377C14.734 12.9848 14.8361 13.36 15.0376 13.6522C15.3156 14.0555 15.7719 14.2867 16.29 14.2867C16.7977 14.2867 17.3021 14.0705 17.7892 13.6445L23.1063 8.9948C24.2737 7.9739 24.2737 6.31277 23.1063 5.29186L17.7892 0.64215C17.3021 0.215973 16.7977 0 16.29 0C15.5154 0 14.734 0.540893 14.734 1.74893V3.02746C7.18508 3.41732 0.9358 8.48339 0.00703159 15.1162C-0.0450009 15.4866 0.195863 15.8412 0.592825 15.9786C0.705196 16.0174 0.822208 16.0362 0.937755 16.0362C1.23041 16.0362 1.51427 15.9164 1.69504 15.7004C4.18625 12.7238 8.18616 10.9467 12.3947 10.9467C13.1744 10.9467 13.9586 11.0082 14.734 11.13Z" fill="#44C57F"/>
                                        <path d="M27.4069 18.0215C27.01 17.8839 26.5571 17.9984 26.3047 18.2998C23.8138 21.2762 19.8138 23.0533 15.6053 23.0533C14.8256 23.0533 14.0414 22.9918 13.266 22.8701V21.4623C13.266 20.2542 12.4843 19.7133 11.71 19.7133C11.2023 19.7133 10.6979 19.9295 10.2105 20.3557L4.89344 25.0052C3.72625 26.0261 3.72625 27.6872 4.89369 28.7084L10.2105 33.3579C10.6979 33.784 11.2023 34 11.71 34C12.4843 34 13.266 33.4591 13.266 32.2511V30.9726C20.8152 30.5827 27.0642 25.5166 27.993 18.8841C28.045 18.5134 27.8041 18.1588 27.4069 18.0215Z" fill="#44C57F"/>
                                    </svg>
                                .product-page__blockquote-title Размер не&nbsp;подошёл? Привезём другой!
                                .product-page__blockquote-content Вы можете осуществить обмен неподошедшего по&nbsp;размеру 
                                    | товара в&nbsp;течение 60&nbsp;дней.
                        <!--/noindex-->
            aside.content.content_additional.container
                .content__inside.product-page__content
                    p.text-smaller.text-spacer.text-grey.text-uppercase Применение товара
                    //- Category's tags
                    .tags-row.tags-row_products
                        .tags-row__items.active
                            a.tags-row__link.tags-row__link_parent(href="category-tags.html") Коррекция и красота
                            a.tags-row__link(href="category-tags.html") Для повседневного использования
                            a.tags-row__link(href="category-tags.html") Убрать бока
                            a.tags-row__link(href="category-tags.html") Убрать живот
                            a.tags-row__link(href="category-tags.html") Тонкая талия
                            a.tags-row__link(href="category-tags.html") Пуш-ап эффект
                            a.tags-row__link(href="category-tags.html") Моделирующий эффект
                            a.tags-row__link(href="category-tags.html") Под верхнюю одежду
                            a.tags-row__link(href="category-tags.html") Под вечерний наряд
                            a.tags-row__link(href="category-tags.html") Для лета
                            a.tags-row__link.tags-row__link_parent(href="category-tags.html") Спорт и lifestyle
                            a.tags-row__link(href="category-tags.html") Помощь для начинающих в спорте
                            a.tags-row__link(href="category-tags.html") При сгонке веса
                            a.tags-row__link(href="category-tags.html") Силовые тренировки
                            a.tags-row__link.tags-row__link_parent(href="category-tags.html") Забота о здоровье
                            a.tags-row__link(href="category-tags.html") При болях в спине и пояснице
                            a.tags-row__link(href="category-tags.html") Поддержка спины
                            a.tags-row__link(href="category-tags.html") Исправление осанки
                            a.tags-row__link(href="category-tags.html") Шейный остеохондроз
                            a.tags-row__link(href="category-tags.html") Восстановление после родов
                            a.tags-row__link(href="category-tags.html") Сидячий образ жизни
            aside.content.container
                .content__inside
                    p.pt-2.pt-xs-0.h3.text-center#complect В комплекте выгоднее
                    p.text-center.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit.
                    .row.justify-content-center.mt-1.mt-xs-0
                        .col-3.mt-2.col-xl-4.col-lg-6.col-md-6.col-sm-12
                            .complect
                                p.complect__title Комплект «Classic база»

                                .complect__image.complect__image_item-2
                                    .complect__image-item(style="background-image:url('./product/prod-1.jpg');")
                                    .complect__image-item(style="background-image:url('./product/prod-2.jpg');")

                                .complect__price
                                    span.complect__price-old 12 800 руб.
                                    span.complect__price-new 10 240 руб.
                                .complect__label скидка 2560 руб.

                                a.complect__btn(href="product-complect.html")
                                    <svg class="complect__btn-icon" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.0273 1C5.41191 1 4.10918 2.30273 4.10918 3.91811V5.7072H1.95534L1 15H12.8809L11.9256 5.7072H9.96278V3.91811C9.96278 2.30273 8.66005 1 7.04467 1C7.0273 1 7.0273 1 7.0273 1Z" fill="#3F2A2D"/>
                                        <path d="M4.50879 3.91807C4.50879 2.52849 5.63782 1.39945 7.0274 1.41682C8.41698 1.41682 9.52864 2.54586 9.52864 3.91807V5.70715H4.50879V3.91807Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                        <path d="M12.4293 14.6005H1.45166L2.30278 6.12402H11.5608L12.4293 14.6005Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                    </svg>
                                    | Купить комплект
                        .col-3.mt-2.col-xl-4.col-lg-6.col-md-6.col-sm-12
                            .complect
                                p.complect__title Шорты в подарок к комплекту

                                .complect__image.complect__image_item-3
                                    .complect__image-item(style="background-image:url('./product/prod-1.jpg');")
                                    .complect__image-item(style="background-image:url('./product/prod-2.jpg');")
                                    .complect__image-item(style="background-image:url('./product/prod-3.jpg');")

                                .complect__price
                                    span.complect__price-old 12 800 руб.
                                    span.complect__price-new 10 240 руб.
                                .complect__label скидка 2560 руб.

                                a.complect__btn(href="product-complect-2.html")
                                    <svg class="complect__btn-icon" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.0273 1C5.41191 1 4.10918 2.30273 4.10918 3.91811V5.7072H1.95534L1 15H12.8809L11.9256 5.7072H9.96278V3.91811C9.96278 2.30273 8.66005 1 7.04467 1C7.0273 1 7.0273 1 7.0273 1Z" fill="#3F2A2D"/>
                                        <path d="M4.50879 3.91807C4.50879 2.52849 5.63782 1.39945 7.0274 1.41682C8.41698 1.41682 9.52864 2.54586 9.52864 3.91807V5.70715H4.50879V3.91807Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                        <path d="M12.4293 14.6005H1.45166L2.30278 6.12402H11.5608L12.4293 14.6005Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                    </svg>
                                    | Купить комплект
                        .col-5.mt-2.col-xl-4.col-lg-12.col-md-12.col-sm-12
                            .complect
                                p.complect__title Шорты в подарок к комплекту

                                .complect__image.complect__image_full
                                    .complect__image-item(style="background-image:url('./product/prod-1.jpg');")
                                    .complect__image-item(style="background-image:url('./product/prod-2.jpg');")
                                    .complect__image-item(style="background-image:url('./product/prod-3.jpg');")

                                .complect__price
                                    span.complect__price-old 12 800 руб.
                                    span.complect__price-new 10 240 руб.
                                .complect__label скидка 2560 руб.

                                a.complect__btn(href="product-complect-2.html")
                                    <svg class="complect__btn-icon" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.0273 1C5.41191 1 4.10918 2.30273 4.10918 3.91811V5.7072H1.95534L1 15H12.8809L11.9256 5.7072H9.96278V3.91811C9.96278 2.30273 8.66005 1 7.04467 1C7.0273 1 7.0273 1 7.0273 1Z" fill="#3F2A2D"/>
                                        <path d="M4.50879 3.91807C4.50879 2.52849 5.63782 1.39945 7.0274 1.41682C8.41698 1.41682 9.52864 2.54586 9.52864 3.91807V5.70715H4.50879V3.91807Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                        <path d="M12.4293 14.6005H1.45166L2.30278 6.12402H11.5608L12.4293 14.6005Z" fill="white" stroke="#C9002E" stroke-miterlimit="10"/>
                                    </svg>
                                    | Купить комплект
            include component/product/fixed.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug

        .sidebar#modalCashbackInfo
            .sidebar__close Закрыть
            .sidebar__content
                p.sidebar__title Про кэшбек
                p Стaтусный кэшбэк за эту покупку: от 2%&nbsp;–&nbsp;20% (348₽&nbsp;–&nbsp;2&nbsp;609₽)
                p.text-small Накапливайте и оплачивайте до 50% покупки Статусным Кэшбэком, а также повышайте им свой статус. 
                    a.text-underline.text-action(href="#") Подробнее.

        //- Быстрая покупка
        .modal#quickOrderModal

        script(src="./js/jquery.inputmask.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")
        
        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")