html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Product Complect

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet")

        link(href='./css/framework.css', rel='stylesheet')
        link(href='./css/styles.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include component/mixin.pug
        include component/header/header.pug
        include component/navigation/navbar.pug
        main
            //- Complect
            section.content.container
                .content__inside
                    ul.breadcrumb.d-md-none
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="index.html") Главная
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="category-complect.html") Комплекты
                        li.breadcrumb__item.breadcrumb__item--active Classic база
                    //- Название товара для мобильного
                    <!--noindex-->
                    .d-none.d-lg-flex.d-sm-block.align-items-lg-end 
                        p.product-page__title Комплект «Classic база»
                    <!--/noindex-->
                    .row.mt-2.mt-sm-1
                        .col-7.col-lg-12
                            .row.no-gutters
                                .col-6
                                    //- Product 1
                                    .product-slider.product-slider_complect-sm.product-slider_odd
                                        .swiper-container.product-slider__swiper
                                            .swiper-wrapper.slider-main.product-image.product-image_complect-sm(data-nav="#productFirst")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-1.jpg")
                                                        img.img-fluid(src="./product/prod-1.jpg")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-0.jpg")
                                                        img.img-fluid(src="./product/prod-0.jpg")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-2.jpg")
                                                        img.img-fluid(src="./product/prod-2.jpg")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-3.jpg")
                                                        img.img-fluid(src="./product/prod-3.jpg")
                                        .swiper-container.product-slider__swiper#productFirst
                                            .swiper-wrapper.slider-nav.product-nav.product-nav_complect-sm
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-1.jpg")
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-0.jpg")
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-2.jpg")
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-3.jpg")
                                .col-6
                                    //- Product 1
                                    .product-slider.product-slider_complect-sm.product-slider_even
                                        .swiper-container.product-slider__swiper
                                            .swiper-wrapper.slider-main.product-image.product-image_complect-sm(data-nav="#productSecond")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-2.jpg")
                                                        img.img-fluid(src="./product/prod-2.jpg")
                                                .swiper-slide.product-image__item
                                                    a.product-image__link(data-fancybox="gallery" data-src="./product/prod-3.jpg")
                                                        img.img-fluid(src="./product/prod-3.jpg")
                                        .swiper-container.product-slider__swiper#productSecond
                                            .swiper-wrapper.slider-nav.product-nav.product-nav_complect-sm
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-2.jpg")
                                                .swiper-slide.product-nav__item
                                                    img.img-fluid(src="./product/prod-3.jpg")
                        .col-5.col-lg-12
                            .product-page.pt-2
                                //- Основное о товаре
                                h1.product-page__title.product-page__title_complect.d-lg-none Комплект «Classic база»
                                .product-page__price
                                    span.product-page__price-old 6 660 руб.
                                    span.product-page__price-new 5 240 руб.
                                .product-page__cashback 
                                    span.text-bold кэшбэк&nbsp;до&nbsp;20% 
                                    span (до&nbsp;3&nbsp;529&nbsp;руб.)
                                    a.product-page__cashback-icon(data-sidebar="modalCashbackInfo")
                                        svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            circle(cx="10" cy="10.7397" r="10" fill="#C9002E")
                                            path(d="M1.89307 14.5246C1.7889 13.5601 1.70036 12.7354 1.62744 12.0506C1.55452 11.3658 1.49202 10.7919 1.43994 10.329C1.38786 9.86601 1.34098 9.4995 1.29932 9.22944C1.26807 8.94973 1.24202 8.74236 1.22119 8.60733C1.20036 8.46266 1.18473 8.36621 1.17432 8.31798C1.1639 8.26976 1.15869 8.24082 1.15869 8.23118V8.17331C1.15869 8.06721 1.20557 7.9804 1.29932 7.91289C1.40348 7.83573 1.50765 7.79715 1.61182 7.79715C1.76807 7.79715 1.93473 7.82126 2.11182 7.86949C2.29932 7.91771 2.42432 8.01898 2.48682 8.17331C2.58057 8.64591 2.64307 9.12334 2.67432 9.6056C2.71598 10.0879 2.74723 10.5701 2.76807 11.0524C2.79932 11.525 2.83577 12.0024 2.87744 12.4847C2.92952 12.9669 3.01807 13.4443 3.14307 13.9169C3.14307 13.9362 3.14827 13.9748 3.15869 14.0327C3.17952 14.0906 3.19515 14.1532 3.20557 14.2208C3.2264 14.2883 3.24202 14.351 3.25244 14.4088C3.26286 14.4667 3.26807 14.5053 3.26807 14.5246V14.5535C3.26807 14.5632 3.27327 14.5728 3.28369 14.5825C3.28369 14.6982 3.2264 14.8139 3.11182 14.9297C2.99723 15.0454 2.87744 15.0936 2.75244 15.0744C2.72119 15.0647 2.64307 15.0502 2.51807 15.0309C2.40348 15.002 2.32536 14.9779 2.28369 14.9586C2.25244 14.949 2.21077 14.9297 2.15869 14.9007C2.10661 14.8622 2.05452 14.8236 2.00244 14.785C1.96077 14.7464 1.92432 14.703 1.89307 14.6548C1.86182 14.6066 1.86182 14.5632 1.89307 14.5246ZM1.01807 3.9777C1.01807 3.91019 1.07536 3.85232 1.18994 3.80409C1.31494 3.74622 1.40869 3.71729 1.47119 3.71729C1.62744 3.71729 1.79932 3.76069 1.98682 3.84749C2.18473 3.92465 2.28369 4.04522 2.28369 4.20918C2.28369 4.37315 2.25765 4.48407 2.20557 4.54194C2.1639 4.59981 2.05452 4.62874 1.87744 4.62874C1.68994 4.62874 1.49723 4.57087 1.29932 4.45513C1.11182 4.33939 1.01807 4.18025 1.01807 3.9777Z" fill="white")
                                            path(d="M8.31494 14.5825C8.16911 14.3896 8.04411 14.1243 7.93994 13.7867C7.84619 13.4395 7.75244 13.0778 7.65869 12.7017C7.57536 12.3159 7.49723 11.9445 7.42432 11.5877C7.3514 11.2211 7.27327 10.9318 7.18994 10.7196C7.11702 10.4978 7.03369 10.3724 6.93994 10.3434C6.84619 10.3145 6.73682 10.4447 6.61182 10.7341L5.25244 14.6114C5.20036 14.7464 5.13786 14.8429 5.06494 14.9007C4.99202 14.949 4.87223 14.9731 4.70557 14.9731C4.62223 14.9731 4.53369 14.9634 4.43994 14.9441C4.34619 14.9152 4.25765 14.8766 4.17432 14.8284C4.09098 14.7802 4.01807 14.7223 3.95557 14.6548C3.90348 14.5873 3.87223 14.5101 3.86182 14.4233C3.89307 14.3076 3.91911 14.0954 3.93994 13.7867C3.97119 13.4781 3.99202 13.1212 4.00244 12.7161C4.01286 12.311 4.01807 11.8867 4.01807 11.443C4.02848 10.9897 4.02848 10.5701 4.01807 10.1843C4.01807 9.78885 4.01286 9.45128 4.00244 9.17157C3.99202 8.88222 3.98161 8.69414 3.97119 8.60733C3.97119 8.51088 3.97119 8.41443 3.97119 8.31798C3.98161 8.21189 3.99723 8.11544 4.01807 8.02863C4.04932 7.94182 4.09619 7.87431 4.15869 7.82608C4.23161 7.76821 4.34098 7.73928 4.48682 7.73928C4.68473 7.73928 4.86702 7.81644 5.03369 7.97076C5.21077 8.12508 5.29932 8.28905 5.29932 8.46266C5.29932 8.71343 5.28369 8.9642 5.25244 9.21497C5.23161 9.4561 5.22119 9.70205 5.22119 9.95282C5.22119 10.1071 5.22119 10.2373 5.22119 10.3434C5.22119 10.4495 5.24202 10.5797 5.28369 10.7341C5.31494 10.6569 5.36702 10.5219 5.43994 10.329C5.51286 10.1361 5.59098 9.93353 5.67432 9.72134C5.76807 9.50915 5.8514 9.31142 5.92432 9.12817C5.99723 8.93527 6.04932 8.80023 6.08057 8.72307C6.15348 8.53017 6.26286 8.34692 6.40869 8.17331C6.55452 7.99005 6.74723 7.88878 6.98682 7.86949C7.14307 7.85984 7.28369 7.89842 7.40869 7.98523C7.54411 8.07203 7.65869 8.18777 7.75244 8.33245C7.84619 8.46748 7.92432 8.61216 7.98682 8.76648C8.04932 8.91115 8.09619 9.03654 8.12744 9.14263L8.97119 12.7451L9.62744 14.3944C9.63786 14.404 9.64307 14.433 9.64307 14.4812C9.64307 14.5198 9.64307 14.5487 9.64307 14.568C9.64307 14.6837 9.61182 14.7995 9.54932 14.9152C9.49723 15.0213 9.39827 15.0744 9.25244 15.0744C9.07536 15.0744 8.89307 15.0309 8.70557 14.9441C8.51807 14.8477 8.38786 14.7271 8.31494 14.5825Z" fill="white")
                                            path(d="M11.0024 11.9493C10.7733 11.9879 10.591 11.9735 10.4556 11.9059C10.3306 11.8288 10.242 11.7372 10.1899 11.6311C10.1379 11.5153 10.1118 11.4044 10.1118 11.2983C10.1222 11.1826 10.1483 11.1102 10.1899 11.0813C10.2212 11.0716 10.2889 11.0331 10.3931 10.9656C10.5076 10.898 10.5754 10.8546 10.5962 10.8353C10.6066 10.8353 10.617 10.8305 10.6274 10.8209C10.6483 10.8016 10.6639 10.7871 10.6743 10.7775V10.5171C10.6743 9.97693 10.6379 9.44645 10.5649 8.92562C10.5024 8.39514 10.4712 7.86466 10.4712 7.33418C10.4712 6.98696 10.4764 6.62527 10.4868 6.24911C10.5076 5.87296 10.5754 5.52574 10.6899 5.20745C10.8149 4.88916 11.0076 4.62874 11.2681 4.4262C11.5285 4.22365 11.9035 4.12238 12.3931 4.12238C12.4764 4.12238 12.5754 4.12238 12.6899 4.12238C12.8045 4.12238 12.9087 4.13685 13.0024 4.16578C13.1066 4.18507 13.1952 4.22847 13.2681 4.29599C13.341 4.35386 13.3774 4.44067 13.3774 4.55641C13.3774 4.73002 13.3306 4.84576 13.2368 4.90363C13.1535 4.95185 13.0441 4.98561 12.9087 5.0049C12.7733 5.01455 12.6327 5.03384 12.4868 5.06277C12.341 5.08206 12.216 5.1544 12.1118 5.27979C12.091 5.29908 12.0649 5.35212 12.0337 5.43893C12.0024 5.51609 11.9868 5.56914 11.9868 5.59807C11.966 5.66559 11.9452 5.75722 11.9243 5.87296C11.9035 5.9887 11.8827 6.10444 11.8618 6.22018C11.8514 6.33592 11.8358 6.44202 11.8149 6.53847C11.8045 6.62527 11.7993 6.6735 11.7993 6.68314C11.7993 6.69279 11.7993 6.73137 11.7993 6.79888C11.7993 6.85675 11.7941 6.92909 11.7837 7.0159C11.7837 7.1027 11.7837 7.19433 11.7837 7.29078C11.7837 7.37759 11.7837 7.44993 11.7837 7.5078C11.7837 7.71034 11.7837 7.89842 11.7837 8.07203C11.7837 8.24564 11.7889 8.41925 11.7993 8.59287C11.8097 8.75683 11.8254 8.92562 11.8462 9.09923C11.867 9.27284 11.8931 9.46574 11.9243 9.67794H12.0493L14.1587 8.52053C14.3045 8.49159 14.4347 8.44337 14.5493 8.37585C14.6639 8.30834 14.7941 8.27458 14.9399 8.27458C15.0858 8.27458 15.2368 8.30834 15.3931 8.37585C15.5493 8.44337 15.6274 8.54946 15.6274 8.69414C15.6274 8.80023 15.6014 8.8774 15.5493 8.92562C15.4972 8.97385 15.4556 9.04136 15.4243 9.12817C15.3827 9.13781 15.3045 9.16675 15.1899 9.21497C15.0754 9.2632 14.9972 9.29696 14.9556 9.31625C14.8722 9.36447 14.7368 9.44163 14.5493 9.54773C14.3722 9.64418 14.1847 9.75027 13.9868 9.86601C13.7889 9.97211 13.6066 10.0734 13.4399 10.1698C13.2733 10.2663 13.1639 10.329 13.1118 10.3579C13.0389 10.4061 12.9504 10.464 12.8462 10.5315C12.742 10.599 12.6379 10.6714 12.5337 10.7485C12.4399 10.8161 12.3566 10.8787 12.2837 10.9366C12.2108 10.9848 12.1743 11.009 12.1743 11.009V11.1536L12.5806 12.3834C12.5702 12.4123 12.5649 12.4461 12.5649 12.4847C12.5754 12.5136 12.6014 12.5377 12.6431 12.557L13.3774 14.6259C13.4295 14.7995 13.3879 14.9441 13.2524 15.0599C13.1274 15.1756 12.9816 15.2335 12.8149 15.2335C12.6274 15.2335 12.4452 15.1853 12.2681 15.0888C12.091 15.002 11.9764 14.867 11.9243 14.6837L11.0649 12.0651L11.0024 11.9493Z" fill="white")
                                            path(d="M14.9556 12.8608L15.5337 9.14263C15.5545 9.01725 15.6118 8.92562 15.7056 8.86775C15.8097 8.80988 15.9243 8.78094 16.0493 8.78094C16.2785 8.78094 16.4608 8.84364 16.5962 8.96902C16.7316 9.08476 16.8462 9.22944 16.9399 9.40305H16.9556C17.0806 9.40305 17.1899 9.38376 17.2837 9.34518C17.3879 9.29696 17.5129 9.27284 17.6587 9.27284C17.992 9.27284 18.2733 9.36929 18.5024 9.5622C18.742 9.7551 18.9347 9.9914 19.0806 10.2711C19.2264 10.5412 19.3306 10.8353 19.3931 11.1536C19.466 11.4719 19.5024 11.7516 19.5024 11.9928C19.5024 12.2821 19.4191 12.6052 19.2524 12.9621C19.0962 13.3189 18.8827 13.6565 18.6118 13.9748C18.3514 14.2931 18.0545 14.5583 17.7212 14.7705C17.3879 14.9827 17.0493 15.0888 16.7056 15.0888C16.3931 15.0888 16.1222 15.0213 15.8931 14.8863C15.6743 14.7512 15.492 14.5825 15.3462 14.3799C15.2108 14.1677 15.1118 13.9314 15.0493 13.671C14.9868 13.4106 14.9556 13.155 14.9556 12.9042V12.8608ZM16.2681 12.9476C16.2889 13.0441 16.3097 13.155 16.3306 13.2804C16.3514 13.4058 16.3827 13.5215 16.4243 13.6276C16.466 13.724 16.5233 13.8012 16.5962 13.8591C16.6795 13.9073 16.7941 13.9073 16.9399 13.8591C17.0754 13.7433 17.2212 13.6131 17.3774 13.4684C17.5337 13.3238 17.6795 13.1694 17.8149 13.0055C17.9608 12.8415 18.0806 12.6679 18.1743 12.4847C18.2681 12.3014 18.3149 12.1085 18.3149 11.9059C18.3566 11.578 18.3306 11.279 18.2368 11.009C18.1431 10.7292 18.0077 10.5315 17.8306 10.4158C17.6639 10.2904 17.4712 10.2759 17.2524 10.3724C17.0337 10.4592 16.8149 10.7051 16.5962 11.1102C16.4712 11.361 16.3827 11.6552 16.3306 11.9928C16.2889 12.3207 16.2681 12.6245 16.2681 12.9042V12.9476Z" fill="white")
                                .hr.mt-2.mt-sm-1
                                //- Вариации товара
                                .product-page__option.product-page__option_complect
                                    .product-page__complect-title Бюстгальтер Classic Black Bra 
                                    .product-page__complect-article SAN-071CWH
                                    .product-page__complect-options
                                        .row
                                            .col-7.col-xs-6
                                                p.text-small.text-bolder.text-spacer.text-uppercase Размеры
                                            .col-5.col-xs-6
                                                a.table-size.justify-content-end(href="javascript:;" data-caption="Бюстгальтер Classic Black Bra" data-fancybox="sizetable" data-src="./img/size-demo.jpg")
                                                    svg.table-size__icon(width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M2.76497 12.4904C8.94718 11.5197 15.1426 10.6406 21.3749 10.0831C21.5139 10.1219 21.6475 10.1013 21.7642 10.0388C22.2469 9.94521 22.3178 9.42411 22.1017 9.05037C22.0579 8.94812 21.9913 8.85084 21.8902 8.76784C21.0174 5.03273 21.4668 1.55764 19.9687 0.5C7.58745 2.31309 2.01669 2.48705 1.76721 2.61526C1.41376 2.5851 0.933384 2.90339 0.942407 3.37071C0.792612 5.1838 1.35822 9.78347 1.76718 11.9409C1.84337 12.3429 2.15672 12.5021 2.46404 12.4765C2.55469 12.501 2.65532 12.5076 2.76497 12.4904ZM2.46404 3.97509C5.4464 3.65101 14.4256 1.8598 19.0698 2.61526C19.3695 3.67291 19.7838 6.69473 19.7838 8.82058C18.7966 8.91573 17.8103 9.02141 16.8248 9.13083C16.8207 8.86013 16.5128 7.26753 16.4577 7C16.2735 6.10673 14.9208 6.40904 15.1057 7.30444C15.1515 7.52717 15.4481 9.06278 15.4442 9.28686C14.5941 9.38704 13.745 9.49459 12.8958 9.60292C12.8413 9.36041 12.4992 7.79475 12.4446 7.55198C12.2452 6.6626 10.8926 6.96335 11.0926 7.8561C11.1379 8.05802 11.4708 9.58186 11.5161 9.78347C10.8288 9.87519 10.1422 9.97558 9.45515 10.0716C9.40592 9.80267 9.05037 8.21592 8.95922 7.95442C8.83202 7.59117 8.5386 7.32364 8.13465 7.41458C7.80153 7.48943 7.47946 7.89457 7.60716 8.2589C7.68569 8.48371 8.03562 10.0333 8.08297 10.2637C7.33515 10.3713 6.58835 10.4877 5.84074 10.5987C5.79465 10.3267 5.44417 8.73568 5.35206 8.46919C5.22638 8.10542 4.93068 7.83892 4.52749 7.9294C4.19356 8.00419 3.87412 8.40882 4 8.77368C4.07878 9.00191 4.43124 10.5621 4.47889 10.8023C3.99054 10.8763 3.50194 10.9448 3.01389 11.021C2.76497 8.62686 2.46404 6.24145 2.46404 3.97509Z")
                                                    span.table-size__link Таблица размеров
                                    .product-page__size.product-page__size_complect.product-page__size_has-default
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size1" name="size" checked="checked")
                                            label.product-page__size-label.product-page__size-label_has-icon(for="size1") Не знаю
                                                span.product-page__tooltip-info(data-toggle="tooltip" title="Согласовать по телефону") i
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size2" name="size")
                                            label.product-page__size-label(for="size2") XXS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size3" name="size")
                                            label.product-page__size-label(for="size3") XS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size4" name="size")
                                            label.product-page__size-label(for="size4") S
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size5" name="size")
                                            label.product-page__size-label(for="size5") M
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size6" name="size")
                                            label.product-page__size-label(for="size6") L
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size7" name="size")
                                            label.product-page__size-label(for="size7") L-XL
                                .product-page__option.product-page__option_complect
                                    .product-page__complect-title Леггинсы Black&Silver 
                                    .product-page__complect-article SAN-071CWH
                                    .product-page__complect-options
                                        .row
                                            .col-7.col-xs-6
                                                p.text-small.text-bolder.text-spacer.text-uppercase Размеры
                                            .col-5.col-xs-6
                                                a.table-size.justify-content-end(href="javascript:;" data-caption="Леггинсы Black&Silver" data-fancybox="sizetable" data-src="./img/size-demo.jpg")
                                                    svg.table-size__icon(width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M2.76497 12.4904C8.94718 11.5197 15.1426 10.6406 21.3749 10.0831C21.5139 10.1219 21.6475 10.1013 21.7642 10.0388C22.2469 9.94521 22.3178 9.42411 22.1017 9.05037C22.0579 8.94812 21.9913 8.85084 21.8902 8.76784C21.0174 5.03273 21.4668 1.55764 19.9687 0.5C7.58745 2.31309 2.01669 2.48705 1.76721 2.61526C1.41376 2.5851 0.933384 2.90339 0.942407 3.37071C0.792612 5.1838 1.35822 9.78347 1.76718 11.9409C1.84337 12.3429 2.15672 12.5021 2.46404 12.4765C2.55469 12.501 2.65532 12.5076 2.76497 12.4904ZM2.46404 3.97509C5.4464 3.65101 14.4256 1.8598 19.0698 2.61526C19.3695 3.67291 19.7838 6.69473 19.7838 8.82058C18.7966 8.91573 17.8103 9.02141 16.8248 9.13083C16.8207 8.86013 16.5128 7.26753 16.4577 7C16.2735 6.10673 14.9208 6.40904 15.1057 7.30444C15.1515 7.52717 15.4481 9.06278 15.4442 9.28686C14.5941 9.38704 13.745 9.49459 12.8958 9.60292C12.8413 9.36041 12.4992 7.79475 12.4446 7.55198C12.2452 6.6626 10.8926 6.96335 11.0926 7.8561C11.1379 8.05802 11.4708 9.58186 11.5161 9.78347C10.8288 9.87519 10.1422 9.97558 9.45515 10.0716C9.40592 9.80267 9.05037 8.21592 8.95922 7.95442C8.83202 7.59117 8.5386 7.32364 8.13465 7.41458C7.80153 7.48943 7.47946 7.89457 7.60716 8.2589C7.68569 8.48371 8.03562 10.0333 8.08297 10.2637C7.33515 10.3713 6.58835 10.4877 5.84074 10.5987C5.79465 10.3267 5.44417 8.73568 5.35206 8.46919C5.22638 8.10542 4.93068 7.83892 4.52749 7.9294C4.19356 8.00419 3.87412 8.40882 4 8.77368C4.07878 9.00191 4.43124 10.5621 4.47889 10.8023C3.99054 10.8763 3.50194 10.9448 3.01389 11.021C2.76497 8.62686 2.46404 6.24145 2.46404 3.97509Z")
                                                    span.table-size__link Таблица размеров
                                    .product-page__size.product-page__size_complect.product-page__size_has-default
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size21" name="sizeSecond" checked="checked")
                                            label.product-page__size-label.product-page__size-label_has-icon(for="size21") Не знаю
                                                span.product-page__tooltip-info(data-toggle="tooltip" title="Согласовать по телефону") i
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size22" name="sizeSecond")
                                            label.product-page__size-label(for="size22") XXS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size23" name="sizeSecond")
                                            label.product-page__size-label(for="size23") XS
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size24" name="sizeSecond")
                                            label.product-page__size-label(for="size24") S
                                        .product-page__size-item
                                            input.product-page__size-input(type="radio" id="size25" name="sizeSecond")
                                            label.product-page__size-label(for="size25") M
                                .product-page__btns(data-product="show")
                                    .product-page__buy
                                        a.btn.btn_action.btn--full.btn--has-icon(href="cart.html") 
                                            <svg class="btn__icon btn__icon_left" width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.0273 1C5.41191 1 4.10918 2.30273 4.10918 3.91811V5.7072H1.95534L1 15H12.8809L11.9256 5.7072H9.96278V3.91811C9.96278 2.30273 8.66005 1 7.04467 1C7.0273 1 7.0273 1 7.0273 1Z" fill="#C9002E"/>
                                                <path d="M4.50871 3.91807C4.50871 2.52849 5.63775 1.39945 7.02732 1.41682C8.4169 1.41682 9.52856 2.54586 9.52856 3.91807V5.70715H4.50871V3.91807Z" fill="#C9002E" stroke="white" stroke-miterlimit="10"/>
                                                <path d="M12.4294 14.6005H1.45169L2.30281 6.12402H11.5609L12.4294 14.6005Z" fill="#C9002E" stroke="white" stroke-miterlimit="10"/>
                                            </svg>
                                            |  В корзину
                                    .product-page__quick-buy 
                                        a.btn.btn_border.btn--full.open-block(href="#" data-id="#quickBlock" data-trigger="click") Быстрая покупка
                                //- Быстрая покупка
                                .product-page__quick#quickBlock
                                    p Условия доставки и оплаты будут согласованы при подтверждении заказа.
                                    form.form(action="")
                                        .form__row
                                            .form__col.col-6.mt-1
                                                +input('', 'Имя *')(label="input__label_inside" class="input_label-inside")
                                            .form__col.col-6.mt-1
                                                +input('', 'Телефон *')(label="input__label_inside" class="input_label-inside")
                                            .form__col.col-6.mt-1
                                                +input('', 'E-mail *')(label="input__label_inside" class="input_label-inside")
                                            .form__col.col-6.mt-1
                                                +btn('', 'Заказать')(class="btn_action btn--full")
                                    .hr.mt-2.mt-sm-1.mb-1
                                    p.text-grey Или оплатите сразу через  Apple Pay
                                    +btn('', 'Demo Apple Pay')(class="btn_border btn--full")
                                //- Информационный блок с иконкой
                                .product-page__blockquote.d-sm-none
                                    .product-page__blockquote-icon
                                        <svg class="product-page__blockquote-svg" width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.734 11.13V12.5377C14.734 12.9848 14.8361 13.36 15.0376 13.6522C15.3156 14.0555 15.7719 14.2867 16.29 14.2867C16.7977 14.2867 17.3021 14.0705 17.7892 13.6445L23.1063 8.9948C24.2737 7.9739 24.2737 6.31277 23.1063 5.29186L17.7892 0.64215C17.3021 0.215973 16.7977 0 16.29 0C15.5154 0 14.734 0.540893 14.734 1.74893V3.02746C7.18508 3.41732 0.9358 8.48339 0.00703159 15.1162C-0.0450009 15.4866 0.195863 15.8412 0.592825 15.9786C0.705196 16.0174 0.822208 16.0362 0.937755 16.0362C1.23041 16.0362 1.51427 15.9164 1.69504 15.7004C4.18625 12.7238 8.18616 10.9467 12.3947 10.9467C13.1744 10.9467 13.9586 11.0082 14.734 11.13Z" fill="#44C57F"/>
                                            <path d="M27.4069 18.0215C27.01 17.8839 26.5571 17.9984 26.3047 18.2998C23.8138 21.2762 19.8138 23.0533 15.6053 23.0533C14.8256 23.0533 14.0414 22.9918 13.266 22.8701V21.4623C13.266 20.2542 12.4843 19.7133 11.71 19.7133C11.2023 19.7133 10.6979 19.9295 10.2105 20.3557L4.89344 25.0052C3.72625 26.0261 3.72625 27.6872 4.89369 28.7084L10.2105 33.3579C10.6979 33.784 11.2023 34 11.71 34C12.4843 34 13.266 33.4591 13.266 32.2511V30.9726C20.8152 30.5827 27.0642 25.5166 27.993 18.8841C28.045 18.5134 27.8041 18.1588 27.4069 18.0215Z" fill="#44C57F"/>
                                        </svg>
                                    .product-page__blockquote-title Размер не&nbsp;подошёл? Привезём другой!
                                    .product-page__blockquote-content Вы можете осуществить обмен неподошедшего по&nbsp;размеру 
                                        | товара в&nbsp;течение 60&nbsp;дней.
            section.content.content_secondary.container.product-page
                .content__inside.product-page__content.tabs-container
                    .mb-2.tabs.d-flex
                        .tabs__item.tabs__item--active(data-content="#product1") Classic Black Bra
                        .tabs__item(data-content="#product2") Black&Silver
                    .tabs-content.tabs-content--active#product1
                        .row.product-page__row
                            .col-8.col-xl-7.col-md-12.mb-md-2.product-page__col
                                //- p.text-smaller.text-spacer.text-bolder.text-uppercase Описание товара
                                p 
                                    span.text-bold Эффективность: 
                                    | профилактика искривления позвоночника, предотвращает развитие сутулости, препятствует болям в спине, профилактика остеохондроза, не сковывает движения, микромассажный эффект
                                p Placerat nulla amet ullamcorper turpis sit. Facilisis duis montes, viverra lorem rhoncus blandit. Semper vitae imperdiet pretium, et proin commodo. Sed tellus sollicitudin sed sociis. 
                                p At odio neque vestibulum nec quisque. Mauris, rhoncus gravida et tincidunt amet, sem pharetra, lobortis. Imperdiet convallis ultricies leo sit. A varius curabitur lorem purus consequat, sapien diam. Viverra duis urna mauris sed nunc, neque nisi. Eget eleifend in magna diam ridiculus a proin. Enim orci quis justo, pulvinar risus. 
                                    | Condimentum eu. In commodo sagittis vestibulum, blandit gravida. Ut gravida id dis eget euismod. 
                                    | Sodales interdum vel integer magna. Sed facilisis eu ultrices purus congue est nibh. Eu orci non 
                                +faq('Фото «До» и «После»', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                    .row 
                                        .col-3.col-sm-6 
                                            a.d-block(data-fancybox="photo" data-src="./img/before-after.jpg")
                                                img.img-fluid(src="./img/before-after.jpg")
                                        .col-3.col-sm-6 
                                            a.d-block(data-fancybox="photo" data-src="./img/before-after-2.jpg")
                                                img.img-fluid(src="./img/before-after-2.jpg")
                                +faq('О материале', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                    p.text-spacer.text-bolder.text-uppercase Бельё из алоэ
                                    p Целебные свойства этого растения известны с древнейших времен. Материал из натуральных волокон алоэ – это ежедневная забота и уход за вашей кожей. Волокна алоэ обладают уникальными свойствами:
                                    ul
                                        li Ускорение регенерации кожи
                                        li Повышение защитных свойств организма
                                        li Ускорение восстановительных процессов
                                        li Антибактериальное и бактерицидное воздействие
                                        li Улучшение кровотока
                                        li Оптимальная терморегуляция
                                        li Хорошая воздухопроницаемость и гигроскопичность
                                        li Износостойкость и цветоустойчивость при многократных стирках
                                    p.text-small Рекомендовано: для повседневного ношения в любое время года, для чувствительной кожи, для восстановления после родов и полостных операций.
                            .hr.d-none.d-sm-block.mb-sm-2
                            .col-3.col-xl-5.col-md-12.mb-sm-2.product-page__col
                                .hr.d-none.d-md-block.d-sm-none.mb-md-2
                                //- Swiper Slider Container
                                .swiper-container.product-page__video
                                    .swiper-wrapper.product-page__video-wrapper
                                        .swiper-slide.product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Оригинальные леггинсы SANKOM    
                                        .swiper-slide.product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Оригинальный бюстгальтер SANKOM                                    
                                        .swiper-slide.product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Обзор материала
                                        .swiper-slide.product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Презентация модели
                                        .swiper-slide.product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Long Shaper CLASSIC
                                    .swiper-pagination.product-page__video-pagination
                    .tabs-content#product2
                        .row.product-page__row
                            .col-8.col-xl-7.col-md-12.mb-md-2.product-page__col
                                //- p.text-smaller.text-spacer.text-bolder.text-uppercase Описание товара
                                p 
                                    span.text-bold Эффективность: 
                                    | профилактика искривления позвоночника, предотвращает развитие сутулости, препятствует болям в спине, профилактика остеохондроза, не сковывает движения, микромассажный эффект
                                p Placerat nulla amet ullamcorper turpis sit. Facilisis duis montes, viverra lorem rhoncus blandit. Semper vitae imperdiet pretium, et proin commodo. Sed tellus sollicitudin sed sociis. 
                                +faq('Фото «До» и «После»', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                    .row 
                                        .col-3.col-sm-6 
                                            a.d-block(data-fancybox="photo" data-src="./img/before-after.jpg")
                                                img.img-fluid(src="./img/before-after.jpg")
                                        .col-3.col-sm-6 
                                            a.d-block(data-fancybox="photo" data-src="./img/before-after-2.jpg")
                                                img.img-fluid(src="./img/before-after-2.jpg")
                                +faq('О материале', '')(class="faq_toggle" classTitle="faq_toggle__title")
                                    p.text-spacer.text-bolder.text-uppercase Бельё из алоэ
                                    p Целебные свойства этого растения известны с древнейших времен. Материал из натуральных волокон алоэ – это ежедневная забота и уход за вашей кожей. Волокна алоэ обладают уникальными свойствами:
                                    ul
                                        li Ускорение регенерации кожи
                                        li Повышение защитных свойств организма
                                        li Ускорение восстановительных процессов
                                        li Антибактериальное и бактерицидное воздействие
                                        li Улучшение кровотока
                                        li Оптимальная терморегуляция
                                        li Хорошая воздухопроницаемость и гигроскопичность
                                        li Износостойкость и цветоустойчивость при многократных стирках
                                    p.text-small Рекомендовано: для повседневного ношения в любое время года, для чувствительной кожи, для восстановления после родов и полостных операций.
                            .hr.d-none.d-sm-block.mb-sm-2
                            .col-3.col-xl-5.col-md-12.mb-sm-2.product-page__col
                                .hr.d-none.d-md-block.d-sm-none.mb-md-2
                                //- Swiper Slider Container
                                .product-page__video
                                    .product-page__video-wrapper
                                        .product-page__video-item
                                            a.d-block.link-video(data-fancybox="video" data-src="./img/image-1.jpg" href="javascript:;")
                                                .product-page__video-img(style="background-image: url('./img/banner-video.jpg');")
                                            p.mt-1.text-bolder Оригинальные леггинсы SANKOM
                    <!--noindex-->
                    //- Информационный блок с иконкой
                    .d-none.d-sm-block.row.product-page__row
                        .hr.mt-sm-2.mb-sm-2
                        .col-12.col-sm-12.product-page__col
                            .product-page__blockquote
                                .product-page__blockquote-icon
                                    <svg class="product-page__blockquote-svg" width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.734 11.13V12.5377C14.734 12.9848 14.8361 13.36 15.0376 13.6522C15.3156 14.0555 15.7719 14.2867 16.29 14.2867C16.7977 14.2867 17.3021 14.0705 17.7892 13.6445L23.1063 8.9948C24.2737 7.9739 24.2737 6.31277 23.1063 5.29186L17.7892 0.64215C17.3021 0.215973 16.7977 0 16.29 0C15.5154 0 14.734 0.540893 14.734 1.74893V3.02746C7.18508 3.41732 0.9358 8.48339 0.00703159 15.1162C-0.0450009 15.4866 0.195863 15.8412 0.592825 15.9786C0.705196 16.0174 0.822208 16.0362 0.937755 16.0362C1.23041 16.0362 1.51427 15.9164 1.69504 15.7004C4.18625 12.7238 8.18616 10.9467 12.3947 10.9467C13.1744 10.9467 13.9586 11.0082 14.734 11.13Z" fill="#44C57F"/>
                                        <path d="M27.4069 18.0215C27.01 17.8839 26.5571 17.9984 26.3047 18.2998C23.8138 21.2762 19.8138 23.0533 15.6053 23.0533C14.8256 23.0533 14.0414 22.9918 13.266 22.8701V21.4623C13.266 20.2542 12.4843 19.7133 11.71 19.7133C11.2023 19.7133 10.6979 19.9295 10.2105 20.3557L4.89344 25.0052C3.72625 26.0261 3.72625 27.6872 4.89369 28.7084L10.2105 33.3579C10.6979 33.784 11.2023 34 11.71 34C12.4843 34 13.266 33.4591 13.266 32.2511V30.9726C20.8152 30.5827 27.0642 25.5166 27.993 18.8841C28.045 18.5134 27.8041 18.1588 27.4069 18.0215Z" fill="#44C57F"/>
                                    </svg>
                                .product-page__blockquote-title Размер не&nbsp;подошёл? Привезём другой!
                                .product-page__blockquote-content Вы можете осуществить обмен неподошедшего по&nbsp;размеру 
                                    | товара в&nbsp;течение 60&nbsp;дней.
                    <!--/noindex-->
            include component/product/fixed.pug
            include component/banner/delivery.pug
        include component/footer/footer.pug
        include component/sidebar/sidebar.pug
        .sidebar#modalCashbackInfo
            .sidebar__close Закрыть
            .sidebar__content
                p.sidebar__title Про кэшбек
                p Стaтусный кэшбэк за эту покупку: от 2%&nbsp;–&nbsp;20% (348₽&nbsp;–&nbsp;2&nbsp;609₽)
                p.text-small Накапливайте и оплачивайте до 50% покупки Статусным Кэшбэком, а также повышайте им свой статус. 
                    a.text-underline.text-action(href="#") Подробнее.
        script(src="./js/jquery.inputmask.min.js")

        link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

        link(href='./css/owl.carousel.min.css', rel='stylesheet')
        link(href='./css/owl.theme.default.min.css', rel='stylesheet')
        script(src="./js/owl.carousel.min.js")
        
        script(src="./js/blazy.min.js")

        script(src="./js/app.min.js")