.modal{
    display: none;
    width: 720px;
    max-width: 100%;

    &_small{
        width: 420px;
    }
}

.modal.fancybox-content{
    padding: map-get($map: $spacers, $key: 2);
    background: $body-bg;

    .fancybox-close-small{
        padding: 0;
        width: 18px;
        height: 18px;
    }
}