.modal{
    display: none;
    width: 720px;
    max-width: 100%;
}

.modal.fancybox-content{
    padding: $spacer-gutter;
    background: $body-bg;

    .fancybox-close-small{
        padding: 0;
        width: 18px;
        height: 18px;
    }
}