.faq_toggle{
    .faq__title{
        &:hover, &:focus{
            text-decoration: none ;
        }
        &:after{
            background: url('../icon/plus.svg') no-repeat center / contain;
        }
    }

    &--active{
        .faq__title{
            font-weight: $font-weight-bold;
            &:after{
                background: url('../icon/minus.svg') no-repeat center / contain;
            }
        }   
    }
}