.faq_toggle{
    padding: 0;
    border-top: none;
    border-left: none;
    border-right: none;

    &__title{
        padding: $spacer-gutter $spacer/2 $spacer-gutter 0;
        cursor: pointer;
        
        &:after{
            right: $spacer/2;

            width: 12px;
            height: 12px;
            background: url('../icon/plus.svg') no-repeat center / contain;
        }
    }
    &--active{
        .faq_toggle__title{
            font-weight: $font-weight-bold;
            &:after{
                background: url('../icon/minus.svg') no-repeat center / contain;
            }
        }   
    }
}