.faq{
    display: block;

    border: 1px solid $border-color;
    border-radius: $border-radius;

    margin-bottom: map-get($map: $spacers, $key: 1);

    &:last-child{
        margin-bottom: 0;
    }

    &__title{
        display: block;
        position: relative;
        padding: $spacer-gutter $grid-gutter-width/2;

        &:after{
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;

            position: absolute;
            right: $grid-gutter-width/2;
            top: 50%;
            transform: translateY(-50%);

            background: url('../icon/arrow-right.svg') no-repeat center / contain;
        }

        &:hover, &:focus{
            text-decoration: none;
        }
        &:focus{
            color: $black;
        }

        &_has-icon{
            padding-left: 60px;
        }
    }
    &__icon{
        position: absolute;
        left: $grid-gutter-width/2;
        top: 50%;
        transform: translateY(-50%);

        width: 16px;
        height: auto;
    }
    &__content{
        display: none;
        padding: 0 $grid-gutter-width/2 $spacer-gutter;
    }
}