.tabs{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    border-bottom: 1px solid $border-color;

    &__item{
        position: relative;
        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: lg);
        white-space: nowrap;

        padding: 0px 16px 10px;

        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .3s;

        &:hover, &:focus{
            text-decoration: none;
            color: $action;
        }

        &:after{
            content: '';
            display: block;
            
            width: 100%;
            height: 0;
            background-color: $black;
            transition: .3s;

            position: absolute;
            left: 0;
            bottom: 0px;
        }

        &--active{
            // background-color: $action;
            // color: $white;
            // border-color: $border-color;

            // &:hover, &:focus{
            //     background-color: $action;
            //     color: $white;
            //     border-color: $border-color;
            //     cursor: default;
            // }
            &:hover, &:focus{
                color: $black;
                cursor: default;
            }

            &:after{
                height: 4px;
            }
        }
    }
    &__item-icon{
        height: 12px;
        width: auto;

        margin-right: 4px;
    }

    &-content{
        display: none;
        transition: .3s;
        
        &_has-slider{
            opacity: 0;
        }

        &--active{
            display: block;
        }
        &--show{
            opacity: 1;
        }
    }
}

// @media all and (max-width: map-get($grid-breakpoints, 'xs')){
//     .tabs{
//         padding-bottom: $spacer-gutter;
//     }
// }